{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution GO Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Evolution GO. Base URL `https://pilotstatus.com.br/api/layer/evolution-go`. Autentique com o header `apikey` (sua chave `ps_` do Pilot Status) ou `Authorization: Bearer`. Endpoints de instância/sessão NÃO estão disponíveis na camada."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-go"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Chamada (voz)"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Comunidade"
    },
    {
      "name": "Grupo"
    },
    {
      "name": "Etiqueta (label)"
    },
    {
      "name": "Mensagem"
    },
    {
      "name": "Newsletter / Canais"
    },
    {
      "name": "Envio (balanceado)"
    },
    {
      "name": "Usuário / Contatos"
    }
  ],
  "paths": {
    "/call/start": {
      "post": {
        "summary": "Iniciar chamada de saída",
        "description": "Faz uma chamada de voz de saída no WhatsApp para o número informado e retorna a sessão de chamada criada.",
        "operationId": "post__call_start",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário no formato DDI+DDD+número (ex.: `5511999999999`) ou um JID completo."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": "5511999999999"
              }
            }
          }
        }
      }
    },
    "/call/list": {
      "get": {
        "summary": "Listar chamadas ativas",
        "description": "Retorna todas as sessões de chamada atualmente monitoradas para o número.",
        "operationId": "get__call_list",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/call/get": {
      "post": {
        "summary": "Obter chamada por id",
        "description": "Retorna o estado atual de uma única sessão de chamada monitorada.",
        "operationId": "post__call_get",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada a ser obtida. Um corpo vazio é aceito (retorna a última chamada monitorada)."
                  }
                }
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/answer": {
      "post": {
        "summary": "Atender chamada recebida",
        "description": "Atende uma chamada recebida que está tocando; omita `callId` para atender a última chamada recebida.",
        "operationId": "post__call_answer",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada recebida a ser atendida. Quando omitido, a chamada recebida mais recente é atendida."
                  }
                }
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/reject": {
      "post": {
        "summary": "Rejeitar chamada",
        "description": "Rejeita uma chamada; se a chamada não estiver mais sendo monitorada, recorre à rejeição via `callCreator`.",
        "operationId": "post__call_reject",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada a ser rejeitada."
                  },
                  "callCreator": {
                    "type": "string",
                    "description": "JID de quem chamou, usado como alternativa quando a chamada não está sendo monitorada (ex.: `5511999999999@s.whatsapp.net`)."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "callCreator": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/call/reject/by-id": {
      "post": {
        "summary": "Rejeitar chamada monitorada",
        "description": "Rejeita uma chamada atualmente monitorada pelo seu identificador.",
        "operationId": "post__call_reject_by_id",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada monitorada a ser rejeitada."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/reject/latest": {
      "post": {
        "summary": "Rejeitar última oferta",
        "description": "Rejeita a chamada recebida oferecida mais recentemente para o número.",
        "operationId": "post__call_reject_latest",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/call/hangup": {
      "post": {
        "summary": "Encerrar chamada",
        "description": "Encerra uma chamada ativa pelo seu identificador.",
        "operationId": "post__call_hangup",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa a ser encerrada."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/media/play": {
      "post": {
        "summary": "Reproduzir áudio na chamada",
        "description": "Transmite um arquivo de áudio para uma chamada ativa. Aceita este corpo JSON (`filePath` no servidor) ou um upload `multipart/form-data` com os campos `callId`, `audio` (ou `file`) e `hangupAfterPlay`.",
        "operationId": "post__call_media_play",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa em que reproduzir."
                  },
                  "filePath": {
                    "type": "string",
                    "description": "Caminho no servidor para o arquivo de áudio (`.mp3`, `.wav` ou `.opus`)."
                  },
                  "hangupAfterPlay": {
                    "type": "boolean",
                    "description": "Quando `true`, encerra a chamada automaticamente assim que a reprodução termina. O padrão é `false`."
                  }
                },
                "required": [
                  "callId",
                  "filePath"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "filePath": "/audios/greeting.mp3",
                "hangupAfterPlay": true
              }
            }
          }
        }
      }
    },
    "/call/media/realtime/session": {
      "post": {
        "summary": "Criar sessão em tempo real",
        "description": "Cria um token de curta duração e uma URL de WebSocket para transmitir áudio PCM em tempo real de/para uma chamada ativa.",
        "operationId": "post__call_media_realtime_session",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa à qual anexar a mídia."
                  },
                  "mode": {
                    "type": "string",
                    "description": "`talk` (enviar e receber áudio, padrão) ou `listen` (apenas receber)."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "mode": "talk"
              }
            }
          }
        }
      }
    },
    "/chat/pin": {
      "post": {
        "summary": "Fixar uma conversa",
        "description": "Fixa uma conversa no topo da lista.",
        "operationId": "post__chat_pin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a fixar (individual `...@s.whatsapp.net` ou grupo `...@g.us`)."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/unpin": {
      "post": {
        "summary": "Desafixar uma conversa",
        "description": "Remove uma conversa da lista de fixadas.",
        "operationId": "post__chat_unpin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a desafixar."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/archive": {
      "post": {
        "summary": "Arquivar uma conversa",
        "description": "Arquiva uma conversa, ocultando-a da lista principal.",
        "operationId": "post__chat_archive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a arquivar."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/unarchive": {
      "post": {
        "summary": "Desarquivar uma conversa",
        "description": "Restaura uma conversa arquivada de volta para a lista principal.",
        "operationId": "post__chat_unarchive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a desarquivar."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/mute": {
      "post": {
        "summary": "Silenciar uma conversa",
        "description": "Silencia as notificações de uma conversa.",
        "operationId": "post__chat_mute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a silenciar."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/chat/unmute": {
      "post": {
        "summary": "Reativar notificações de uma conversa",
        "description": "Reativa as notificações de uma conversa silenciada.",
        "operationId": "post__chat_unmute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a reativar as notificações."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/chat/history-sync": {
      "post": {
        "summary": "Solicitar sincronização de histórico",
        "description": "Solicita o histórico de mensagens mais antigas anteriores a uma mensagem de referência. O objeto `messageInfo` identifica a mensagem âncora (seu JID `Chat`, o `ID` da mensagem, as flags de direção e o `Timestamp`); os campos são desserializados a partir do tipo `MessageInfo` do whatsmeow, portanto as chaves são PascalCase e `Chat` é uma **string** JID.",
        "operationId": "post__chat_history_sync",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageInfo": {
                    "type": "object",
                    "description": "Mensagem de referência antes da qual sincronizar o histórico. Contém `Chat` (string JID), `ID` (id da mensagem), `IsFromMe` (boolean), `IsGroup` (boolean) e `Timestamp` (RFC 3339)."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Número de mensagens a buscar antes da mensagem de referência."
                  }
                },
                "required": [
                  "messageInfo"
                ]
              },
              "example": {
                "messageInfo": {
                  "Chat": "5511999999999@s.whatsapp.net",
                  "ID": "3EB0C767D82B0A1B2C3D",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "Timestamp": "2026-07-09T12:00:00Z"
                },
                "count": 50
              }
            }
          }
        }
      }
    },
    "/community/create": {
      "post": {
        "summary": "Criar comunidade",
        "description": "Cria uma nova comunidade com o nome informado.",
        "operationId": "post__community_create",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityName": {
                    "type": "string",
                    "description": "Nome de exibição da comunidade a ser criada."
                  }
                },
                "required": [
                  "communityName"
                ]
              },
              "example": {
                "communityName": "Pilot Status Community"
              }
            }
          }
        }
      }
    },
    "/community/add": {
      "post": {
        "summary": "Adicionar grupos",
        "description": "Vincula um ou mais grupos existentes a uma comunidade.",
        "operationId": "post__community_add",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID da comunidade de destino."
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de JIDs de grupos a adicionar à comunidade."
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              },
              "example": {
                "communityJid": "120363000000000000@g.us",
                "groupJid": [
                  "120363111111111111@g.us",
                  "120363222222222222@g.us"
                ]
              }
            }
          }
        }
      }
    },
    "/community/remove": {
      "post": {
        "summary": "Remover grupos",
        "description": "Desvincula um ou mais grupos de uma comunidade.",
        "operationId": "post__community_remove",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID da comunidade de destino."
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de JIDs de grupos a remover da comunidade."
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              },
              "example": {
                "communityJid": "120363000000000000@g.us",
                "groupJid": [
                  "120363111111111111@g.us"
                ]
              }
            }
          }
        }
      }
    },
    "/group/list": {
      "get": {
        "summary": "Listar grupos dos quais participa",
        "description": "Retorna todos os grupos dos quais o número conectado participa.",
        "operationId": "get__group_list",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/group/info": {
      "post": {
        "summary": "Obter informações do grupo",
        "description": "Busca os metadados (nome, participantes, dono) de um único grupo.",
        "operationId": "post__group_info",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us"
              }
            }
          }
        }
      }
    },
    "/group/invitelink": {
      "post": {
        "summary": "Obter link de convite",
        "description": "Retorna o link de convite do grupo, opcionalmente revogando o anterior primeiro.",
        "operationId": "post__group_invitelink",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  },
                  "reset": {
                    "type": "boolean",
                    "description": "Quando `true`, revoga o link atual e gera um novo."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "reset": false
              }
            }
          }
        }
      }
    },
    "/group/photo": {
      "post": {
        "summary": "Definir foto do grupo",
        "description": "Define a foto de perfil do grupo a partir de uma URL pública ou de um data URI base64.",
        "operationId": "post__group_photo",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  },
                  "image": {
                    "type": "string",
                    "description": "Imagem como URL `http(s)` ou um data URI `data:image/jpeg;base64,` / `data:image/png;base64,`."
                  }
                },
                "required": [
                  "groupJid",
                  "image"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "image": "https://example.com/group-photo.jpg"
              }
            }
          }
        }
      }
    },
    "/group/name": {
      "post": {
        "summary": "Definir nome do grupo",
        "description": "Atualiza o assunto (nome) do grupo.",
        "operationId": "post__group_name",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  },
                  "name": {
                    "type": "string",
                    "description": "Novo nome do grupo."
                  }
                },
                "required": [
                  "groupJid",
                  "name"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "name": "Sales Team"
              }
            }
          }
        }
      }
    },
    "/group/description": {
      "post": {
        "summary": "Definir descrição do grupo",
        "description": "Atualiza a descrição (tópico) do grupo.",
        "operationId": "post__group_description",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Nova descrição do grupo."
                  }
                },
                "required": [
                  "groupJid",
                  "description"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "description": "Team coordination and announcements"
              }
            }
          }
        }
      }
    },
    "/group/create": {
      "post": {
        "summary": "Criar grupo",
        "description": "Cria um novo grupo com o nome informado e os participantes iniciais.",
        "operationId": "post__group_create",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "Nome do novo grupo."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone ou JIDs a adicionar (pelo menos um)."
                  }
                },
                "required": [
                  "groupName",
                  "participants"
                ]
              },
              "example": {
                "groupName": "Sales Team",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      }
    },
    "/group/participant": {
      "post": {
        "summary": "Atualizar participantes",
        "description": "Adiciona, remove, promove ou rebaixa participantes de um grupo.",
        "operationId": "post__group_participant",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone ou JIDs sobre os quais agir (pelo menos um)."
                  },
                  "action": {
                    "type": "string",
                    "description": "Um entre `add`, `remove`, `promote`, `demote`."
                  }
                },
                "required": [
                  "groupJid",
                  "participants",
                  "action"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "participants": [
                  "5511999999999"
                ],
                "action": "add"
              }
            }
          }
        }
      }
    },
    "/group/myall": {
      "get": {
        "summary": "Listar grupos próprios",
        "description": "Retorna apenas os grupos dos quais o número conectado é dono (é admin/dono).",
        "operationId": "get__group_myall",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/group/join": {
      "post": {
        "summary": "Entrar via convite",
        "description": "Entra em um grupo usando um código de convite (o token de um link de convite).",
        "operationId": "post__group_join",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Código de convite (o segmento após `chat.whatsapp.com/`)."
                  }
                },
                "required": [
                  "code"
                ]
              },
              "example": {
                "code": "AbCdEfGhIjKlMnOpQrStUv"
              }
            }
          }
        }
      }
    },
    "/group/leave": {
      "post": {
        "summary": "Sair do grupo",
        "description": "Sai do grupo especificado.",
        "operationId": "post__group_leave",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (`<id>@g.us`)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us"
              }
            }
          }
        }
      }
    },
    "/label/chat": {
      "post": {
        "summary": "Adicionar etiqueta à conversa",
        "description": "Anexa uma etiqueta existente a uma conversa.",
        "operationId": "post__label_chat",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da conversa a ser etiquetada."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID da etiqueta a ser anexada."
                  }
                },
                "required": [
                  "jid",
                  "labelId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1"
              }
            }
          }
        }
      }
    },
    "/label/message": {
      "post": {
        "summary": "Adicionar etiqueta à mensagem",
        "description": "Anexa uma etiqueta existente a uma mensagem específica em uma conversa.",
        "operationId": "post__label_message",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da conversa que contém a mensagem."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID da etiqueta a ser anexada."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID da mensagem de destino."
                  }
                },
                "required": [
                  "jid",
                  "labelId",
                  "messageId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1",
                "messageId": "3EB0C767D26A8A4E8F1B"
              }
            }
          }
        }
      }
    },
    "/label/edit": {
      "post": {
        "summary": "Editar etiqueta",
        "description": "Cria ou atualiza o nome, a cor ou o estado de exclusão de uma etiqueta.",
        "operationId": "post__label_edit",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labelId": {
                    "type": "string",
                    "description": "ID da etiqueta a ser editada."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome de exibição da etiqueta."
                  },
                  "color": {
                    "type": "integer",
                    "description": "Índice de cor da etiqueta."
                  },
                  "deleted": {
                    "type": "boolean",
                    "description": "Marca a etiqueta como excluída quando verdadeiro."
                  }
                },
                "required": [
                  "labelId",
                  "name"
                ]
              },
              "example": {
                "labelId": "1",
                "name": "Priority",
                "color": 3,
                "deleted": false
              }
            }
          }
        }
      }
    },
    "/label/list": {
      "get": {
        "summary": "Listar todas as etiquetas",
        "description": "Retorna todas as etiquetas definidas no número conectado.",
        "operationId": "get__label_list",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/unlabel/chat": {
      "post": {
        "summary": "Remover etiqueta da conversa",
        "description": "Remove uma etiqueta de uma conversa.",
        "operationId": "post__unlabel_chat",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da conversa da qual remover a etiqueta."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID da etiqueta a ser removida."
                  }
                },
                "required": [
                  "jid",
                  "labelId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1"
              }
            }
          }
        }
      }
    },
    "/unlabel/message": {
      "post": {
        "summary": "Remover etiqueta da mensagem",
        "description": "Remove uma etiqueta de uma mensagem específica em uma conversa.",
        "operationId": "post__unlabel_message",
        "tags": [
          "Etiqueta (label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da conversa que contém a mensagem."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID da etiqueta a ser removida."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID da mensagem de destino."
                  }
                },
                "required": [
                  "jid",
                  "labelId",
                  "messageId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1",
                "messageId": "3EB0C767D26A8A4E8F1B"
              }
            }
          }
        }
      }
    },
    "/message/react": {
      "post": {
        "summary": "Reagir a uma mensagem",
        "description": "Envia uma reação com emoji a uma mensagem existente; suporta `fromMe` e (para mensagens de grupo) o autor em `participant`.",
        "operationId": "post__message_react",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Conversa do destinatário, como um telefone em dígitos E.164 ou um JID"
                  },
                  "reaction": {
                    "type": "string",
                    "description": "Emoji com o qual reagir (envie uma string vazia para remover a reação)"
                  },
                  "id": {
                    "type": "string",
                    "description": "ID da mensagem à qual reagir"
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Se a mensagem alvo foi enviada por você"
                  },
                  "participant": {
                    "type": "string",
                    "description": "JID do autor da mensagem (necessário para mensagens de grupo)"
                  }
                },
                "required": [
                  "number",
                  "reaction",
                  "id"
                ]
              },
              "example": {
                "number": "5511999999999",
                "reaction": "👍",
                "id": "3EB0A1B2C3D4E5F6A7B8",
                "fromMe": false,
                "participant": "5511988888888@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/message/presence": {
      "post": {
        "summary": "Enviar presença na conversa",
        "description": "Transmite um indicador de presença de digitação ou gravação para uma conversa.",
        "operationId": "post__message_presence",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Conversa alvo, como um telefone em dígitos E.164 ou um JID"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado de presença: `composing` (digitando) ou `paused`"
                  },
                  "isAudio": {
                    "type": "boolean",
                    "description": "Quando verdadeiro, exibe \"gravando áudio\" em vez de digitando"
                  }
                },
                "required": [
                  "number",
                  "state"
                ]
              },
              "example": {
                "number": "5511999999999",
                "state": "composing",
                "isAudio": false
              }
            }
          }
        }
      }
    },
    "/message/markread": {
      "post": {
        "summary": "Marcar mensagens como lidas",
        "description": "Marca uma ou mais mensagens de uma conversa como lidas.",
        "operationId": "post__message_markread",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Conversa cujas mensagens estão sendo lidas, como um telefone em dígitos E.164 ou um JID"
                  },
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de IDs de mensagens a marcar como lidas"
                  }
                },
                "required": [
                  "number",
                  "id"
                ]
              },
              "example": {
                "number": "5511999999999",
                "id": [
                  "3EB0A1B2C3D4E5F6A7B8",
                  "3EB0F9E8D7C6B5A43210"
                ]
              }
            }
          }
        }
      }
    },
    "/message/downloadmedia": {
      "post": {
        "summary": "Baixar mídia",
        "description": "Baixa e descriptografa a mídia anexada a uma mensagem recebida, retornando-a como uma data URL em base64.",
        "operationId": "post__message_downloadmedia",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Payload completo da mensagem contendo o nó de mídia a baixar — um de `imageMessage`, `audioMessage`, `videoMessage`, `documentMessage` ou `stickerMessage` — com seus campos `url`, `directPath`, `mediaKey`, `fileEncSHA256`, `fileSHA256`, `mimetype` e `fileLength`"
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "message": {
                  "imageMessage": {
                    "url": "https://mmg.whatsapp.net/d/f/AbCdEf123456.enc",
                    "directPath": "/v/t62.7118-24/12345_67890.enc",
                    "mediaKey": "sPqT2bXyZ0aBcDeFgHiJkLmNoPqRsTuVwXyZ012345=",
                    "mimetype": "image/jpeg",
                    "fileEncSHA256": "9dJkLmNoPqRsTuVwXyZ0123456789AbCdEfGhIjKlMno=",
                    "fileSHA256": "Q1w2E3r4T5y6U7i8O9p0AsDfGhJkLzXcVbNmQwErTyU=",
                    "fileLength": 24576
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/status": {
      "post": {
        "summary": "Obter status da mensagem",
        "description": "Consulta o status de entrega armazenado de uma mensagem pelo seu ID.",
        "operationId": "post__message_status",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID da mensagem a consultar"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/message/delete": {
      "post": {
        "summary": "Apagar para todos",
        "description": "Revoga uma mensagem para todos na conversa.",
        "operationId": "post__message_delete",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "Conversa onde a mensagem está, como um JID ou telefone em dígitos E.164"
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID da mensagem a revogar"
                  }
                },
                "required": [
                  "chat",
                  "messageId"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net",
                "messageId": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/message/edit": {
      "post": {
        "summary": "Editar uma mensagem",
        "description": "Substitui o conteúdo de texto de uma mensagem enviada anteriormente.",
        "operationId": "post__message_edit",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "Conversa onde a mensagem está, como um JID ou telefone em dígitos E.164"
                  },
                  "message": {
                    "type": "string",
                    "description": "Novo conteúdo de texto da mensagem"
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID da mensagem a editar"
                  }
                },
                "required": [
                  "chat",
                  "message",
                  "messageId"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net",
                "message": "Corrected text",
                "messageId": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/newsletter/create": {
      "post": {
        "summary": "Criar newsletter",
        "description": "Cria uma nova newsletter (canal) com um nome e uma descrição opcional.",
        "operationId": "post__newsletter_create",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome de exibição da newsletter (canal)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da newsletter exibida aos inscritos."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Pilot Status Updates",
                "description": "Official channel for product news and status."
              }
            }
          }
        }
      }
    },
    "/newsletter/list": {
      "get": {
        "summary": "Listar newsletters",
        "description": "Retorna todas as newsletters às quais o número conectado está inscrito.",
        "operationId": "get__newsletter_list",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/newsletter/info": {
      "post": {
        "summary": "Obter newsletter",
        "description": "Busca os metadados de uma única newsletter pelo seu JID.",
        "operationId": "post__newsletter_info",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da newsletter (termina em `@newsletter`)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter"
              }
            }
          }
        }
      }
    },
    "/newsletter/link": {
      "post": {
        "summary": "Resolver convite",
        "description": "Resolve os metadados da newsletter a partir de uma chave de convite (a parte do código de um link de convite de canal).",
        "operationId": "post__newsletter_link",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Chave de convite do link do canal (por exemplo, a parte após `whatsapp.com/channel/`)."
                  }
                },
                "required": [
                  "key"
                ]
              },
              "example": {
                "key": "0029VaAbCdEfGhIjKlMnOpQr"
              }
            }
          }
        }
      }
    },
    "/newsletter/subscribe": {
      "post": {
        "summary": "Inscrever-se para atualizações ao vivo",
        "description": "Inscreve o número conectado nas atualizações ao vivo da newsletter informada pelo JID.",
        "operationId": "post__newsletter_subscribe",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da newsletter (termina em `@newsletter`)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter"
              }
            }
          }
        }
      }
    },
    "/newsletter/messages": {
      "post": {
        "summary": "Obter mensagens da newsletter",
        "description": "Busca mensagens de uma newsletter, com paginação opcional por contagem e por before-id.",
        "operationId": "post__newsletter_messages",
        "tags": [
          "Newsletter / Canais"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "JID da newsletter (termina em `@newsletter`)."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Número máximo de mensagens a retornar."
                  },
                  "before_id": {
                    "type": "integer",
                    "description": "Retorna mensagens mais antigas que este id de mensagem (cursor de paginação)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter",
                "count": 50,
                "before_id": 100
              }
            }
          }
        }
      }
    },
    "/send/text": {
      "post": {
        "summary": "Enviar mensagem de texto",
        "description": "Envia uma mensagem de texto simples; quando `linkPreview` é true, o servidor enriquece a primeira URL de `text` com um cartão de pré-visualização OpenGraph.",
        "operationId": "post__send_text",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário (ex.: `5511999999999` ou `5511999999999@s.whatsapp.net`, grupo `...@g.us`)."
                  },
                  "text": {
                    "type": "string",
                    "description": "Corpo da mensagem."
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "description": "Busca os metadados OpenGraph da primeira URL em `text` e anexa uma pré-visualização."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente para rastreamento/idempotência."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar (como \"digitando\") antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`); defina `false` para enviar o valor como está."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Hello from Pilot Status! https://pilotstatus.com.br",
                "linkPreview": true,
                "delay": 1200,
                "quoted": {
                  "messageId": "3EB0C767D097B7C7A0A1",
                  "participant": "5511988888888@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/send/link": {
      "post": {
        "summary": "Enviar pré-visualização de link",
        "description": "Envia uma mensagem de texto com um cartão de link rico; o servidor busca automaticamente `title`, `description` e `imgUrl` a partir da URL encontrada em `text`, então esses campos são opcionais e qualquer valor informado pode ser sobrescrito.",
        "operationId": "post__send_link",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "text": {
                    "type": "string",
                    "description": "Corpo da mensagem contendo a URL a ser pré-visualizada."
                  },
                  "title": {
                    "type": "string",
                    "description": "Título da pré-visualização (preenchido automaticamente pelo OpenGraph quando omitido)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da pré-visualização (preenchida automaticamente quando omitida)."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL de destino da pré-visualização."
                  },
                  "imgUrl": {
                    "type": "string",
                    "description": "URL da imagem de miniatura (preenchida automaticamente quando omitida)."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Check this out: https://pilotstatus.com.br",
                "title": "Pilot Status",
                "description": "WhatsApp API platform",
                "url": "https://pilotstatus.com.br",
                "imgUrl": "https://pilotstatus.com.br/og.png"
              }
            }
          }
        }
      }
    },
    "/send/media": {
      "post": {
        "summary": "Enviar mensagem de mídia",
        "description": "Envia uma imagem, vídeo, áudio ou documento por URL (corpo JSON) — ou como um upload `multipart/form-data` com um campo `file`; `type` seleciona o tipo de mídia.",
        "operationId": "post__send_media",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL da mídia (modo JSON). Em `multipart/form-data`, envie o binário em um campo `file`."
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de mídia: `image`, `video`, `audio`, `document` (também `ptv`)."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Texto da legenda (imagem/vídeo/documento)."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Nome do arquivo exibido para documentos."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "url",
                  "type"
                ]
              },
              "example": {
                "number": "5511999999999",
                "type": "image",
                "url": "https://example.com/photo.jpg",
                "caption": "Look at this"
              }
            }
          }
        }
      }
    },
    "/send/poll": {
      "post": {
        "summary": "Enviar enquete",
        "description": "Envia uma enquete com uma pergunta e uma lista de opções; requer no mínimo duas opções.",
        "operationId": "post__send_poll",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "question": {
                    "type": "string",
                    "description": "Pergunta da enquete."
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Opções de resposta (mínimo 2)."
                  },
                  "maxAnswer": {
                    "type": "integer",
                    "description": "Número máximo de opções que um votante pode selecionar (`1` = escolha única)."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "question",
                  "options"
                ]
              },
              "example": {
                "number": "5511999999999",
                "question": "Best day for the meeting?",
                "options": [
                  "Monday",
                  "Tuesday",
                  "Wednesday"
                ],
                "maxAnswer": 1
              }
            }
          }
        }
      }
    },
    "/send/sticker": {
      "post": {
        "summary": "Enviar figurinha",
        "description": "Envia uma figurinha a partir de uma URL de imagem; o servidor a baixa e converte para WebP antes de enviar.",
        "operationId": "post__send_sticker",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "sticker": {
                    "type": "string",
                    "description": "URL de imagem `http(s)` a ser convertida em figurinha."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "sticker"
                ]
              },
              "example": {
                "number": "5511999999999",
                "sticker": "https://example.com/sticker.png"
              }
            }
          }
        }
      }
    },
    "/send/location": {
      "post": {
        "summary": "Enviar localização",
        "description": "Envia um marcador de localização geográfica com um nome e uma etiqueta de endereço.",
        "operationId": "post__send_location",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome/título da localização."
                  },
                  "address": {
                    "type": "string",
                    "description": "Etiqueta do endereço."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude em graus decimais."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude em graus decimais."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "name",
                  "address",
                  "latitude",
                  "longitude"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "Pilot Status HQ",
                "address": "Av. Paulista, 1000, Sao Paulo",
                "latitude": -23.561414,
                "longitude": -46.655881
              }
            }
          }
        }
      }
    },
    "/send/contact": {
      "post": {
        "summary": "Enviar cartão de contato",
        "description": "Envia um cartão de contato vCard; `fullName` e `phone` são obrigatórios dentro de `vcard`.",
        "operationId": "post__send_contact",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "vcard": {
                    "type": "object",
                    "description": "Objeto do cartão de contato (veja os campos aninhados)."
                  },
                  "vcard.fullName": {
                    "type": "string",
                    "description": "Nome completo do contato."
                  },
                  "vcard.phone": {
                    "type": "string",
                    "description": "Número de telefone do contato."
                  },
                  "vcard.organization": {
                    "type": "string",
                    "description": "Organização do contato."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "vcard",
                  "vcard.fullName",
                  "vcard.phone"
                ]
              },
              "example": {
                "number": "5511999999999",
                "vcard": {
                  "fullName": "Joao Silva",
                  "organization": "Acme Ltda",
                  "phone": "5511988888888"
                }
              }
            }
          }
        }
      }
    },
    "/send/button": {
      "post": {
        "summary": "Enviar botões interativos",
        "description": "Envia uma mensagem interativa com botões clicáveis; o comportamento de cada botão é definido por item via `type` (reply, url, call, copy, etc.).",
        "operationId": "post__send_button",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "title": {
                    "type": "string",
                    "description": "Texto do cabeçalho/título."
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto do corpo."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Texto do rodapé."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "URL da imagem do cabeçalho."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Objetos de botão: `{ type, displayText, id, url, phoneNumber, copyCode, currency, name, keyType, key }`."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "buttons"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Order #123",
                "description": "Your order is ready.",
                "footer": "Pilot Status",
                "buttons": [
                  {
                    "type": "reply",
                    "displayText": "Confirm",
                    "id": "confirm_1"
                  },
                  {
                    "type": "url",
                    "displayText": "Track",
                    "url": "https://track.example.com/123"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/send/list": {
      "post": {
        "summary": "Enviar menu de lista",
        "description": "Envia uma mensagem de menu em que o destinatário toca em `buttonText` para abrir seções de linhas selecionáveis.",
        "operationId": "post__send_list",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "title": {
                    "type": "string",
                    "description": "Texto do cabeçalho/título."
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto do corpo."
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Rótulo do botão que abre a lista."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Texto do rodapé."
                  },
                  "sections": {
                    "type": "array",
                    "description": "Objetos de seção: `{ title, rows: [{ title, description, rowId }] }`."
                  },
                  "id": {
                    "type": "string",
                    "description": "Identificador de mensagem fornecido pelo cliente."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "buttonText",
                  "footerText",
                  "sections"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Menu",
                "description": "Choose an option",
                "buttonText": "Open menu",
                "footerText": "Pilot Status",
                "sections": [
                  {
                    "title": "Drinks",
                    "rows": [
                      {
                        "title": "Coffee",
                        "description": "Hot brewed",
                        "rowId": "drink_coffee"
                      },
                      {
                        "title": "Tea",
                        "description": "Green tea",
                        "rowId": "drink_tea"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/send/carousel": {
      "post": {
        "summary": "Enviar cartões de carrossel",
        "description": "Envia um carrossel de rolagem horizontal; cada cartão tem a própria imagem, texto e botões.",
        "operationId": "post__send_carousel",
        "tags": [
          "Envio (balanceado)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "MSISDN ou JID do destinatário."
                  },
                  "title": {
                    "type": "string",
                    "description": "Texto do cabeçalho/título."
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto do corpo."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Texto do rodapé."
                  },
                  "cards": {
                    "type": "array",
                    "description": "Objetos de cartão: `{ text, thumbnailUrl, footerText, buttons: [Button] }`."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milissegundos a aguardar antes de enviar."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) a mencionar."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Menciona todos os participantes (grupos)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Formata automaticamente `number` em um JID (padrão `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Referência de resposta: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "footerText",
                  "cards"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Featured products",
                "description": "Swipe to browse",
                "footerText": "Pilot Status",
                "cards": [
                  {
                    "text": "Product A",
                    "thumbnailUrl": "https://example.com/a.jpg",
                    "footerText": "In stock",
                    "buttons": [
                      {
                        "type": "url",
                        "displayText": "Buy",
                        "url": "https://shop.example.com/a"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/user/info": {
      "post": {
        "summary": "Obter informações do usuário",
        "description": "Busca os detalhes da conta do WhatsApp (JID, nome, nome comercial) de um ou mais números de telefone.",
        "operationId": "post__user_info",
        "tags": [
          "Usuário / Contatos"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone em formato internacional para consultar."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Quando verdadeiro, retorna cada resultado indexado pelo JID formatado."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": [
                  "5511999999999"
                ],
                "formatJid": true
              }
            }
          }
        }
      }
    },
    "/user/check": {
      "post": {
        "summary": "Verificar no WhatsApp",
        "description": "Verifica se os números de telefone informados estão registrados no WhatsApp.",
        "operationId": "post__user_check",
        "tags": [
          "Usuário / Contatos"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone em formato internacional para verificar."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Quando verdadeiro, retorna cada resultado indexado pelo JID formatado."
                  }
                },
[...]
