{
  "openapi": "3.1.0",
  "info": {
    "title": "Pilot Status API",
    "version": "1.0.0",
    "license": {
      "name": "Pilot Status Terms of Service",
      "url": "https://pilotstatus.com.br/terms"
    },
    "description": "Public REST API for Pilot Status. Authenticate with the `x-api-key: ps_...` header (or `x-api-key-id`). Base URL: https://pilotstatus.com.br"
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "apiKeyId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your ps_ API key"
      },
      "apiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key-id",
        "description": "API key id (alternative to x-api-key)"
      }
    }
  },
  "paths": {
    "/v1/numbers": {
      "get": {
        "summary": "List numbers",
        "description": "Lists every WhatsApp number on the tenant (PILOT_STATUS and Meta Cloud API), including connection state and API key prefixes. Authenticate with x-api-key-id (or x-api-key: ps_…).",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers",
        "responses": {
          "200": {
            "description": "List numbers",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "num_01HZX...",
                    "instanceName": "tenant-5511999999999",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "apiKeys": [
                      {
                        "name": "Default",
                        "keyPrefix": "ps_abcd",
                        "keyLast4": "wxyz"
                      }
                    ],
                    "state": "OPEN",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-01T11:59:00.000Z",
                    "updatedAt": "2026-06-01T12:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create number (PILOT_STATUS)",
        "description": "Creates an unofficial WhatsApp number (PILOT_STATUS) and returns the QR code + pairing code to pair it. By default links the number to the calling API key (set linkToApiKey:false to skip). Real side effect: provisions an instance.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Suporte"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 10 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the new number to the calling API key (default true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number"
                ]
              },
              "example": {
                "name": "Suporte",
                "number": "5511999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create number",
            "content": {
              "application/json": {
                "example": {
                  "instance": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "status": "CONNECTING",
                    "isFullyConnected": false
                  },
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234",
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/meta": {
      "post": {
        "summary": "Create Meta number (Cloud API)",
        "description": "Manual Meta Cloud API onboarding: you already own the WABA + system-user token and pass the credentials directly. Returns the created number + the webhook URL/verifyToken you must configure in your Meta app. (No credentials yet? Use /api/v1/numbers/remote-pairing with provider=META.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_meta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Atendimento"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 8 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "metaPhoneId": {
                    "type": "string",
                    "description": "Meta Cloud API Phone Number ID.",
                    "example": "123456789012345"
                  },
                  "metaWabaId": {
                    "type": "string",
                    "description": "WhatsApp Business Account (WABA) ID.",
                    "example": "987654321098765"
                  },
                  "metaAccessToken": {
                    "type": "string",
                    "description": "System-user access token.",
                    "example": "EAAG..."
                  },
                  "metaAppSecret": {
                    "type": "string",
                    "description": "Meta app App Secret.",
                    "example": "a1b2c3..."
                  },
                  "metaAppId": {
                    "type": "string",
                    "description": "Meta app App ID.",
                    "example": "100200300400500"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the number to the calling API key (default true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number",
                  "metaPhoneId",
                  "metaWabaId",
                  "metaAccessToken",
                  "metaAppSecret",
                  "metaAppId"
                ]
              },
              "example": {
                "name": "Atendimento",
                "number": "5511999999999",
                "metaPhoneId": "123456789012345",
                "metaWabaId": "987654321098765",
                "metaAccessToken": "EAAG...",
                "metaAppSecret": "a1b2c3...",
                "metaAppId": "100200300400500"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create Meta number",
            "content": {
              "application/json": {
                "example": {
                  "number": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Atendimento",
                    "provider": "META",
                    "metaPhoneId": "123456789012345",
                    "metaWabaId": "987654321098765",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-20T10:00:00.000Z"
                  },
                  "webhook": {
                    "url": "https://webhook.pilotstatus.com.br/meta",
                    "verifyToken": "ps_meta_verify_..."
                  },
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "409": {
            "description": "Number already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number already exists"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/remote-pairing": {
      "post": {
        "summary": "Remote pairing (connection link)",
        "description": "Generates a link so another person connects their own number. provider=PILOT_STATUS (default) requires name + number and returns a QR pairing link; provider=META returns a hosted Embedded Signup link (the person picks the number inside the Facebook dialog, no name/number).",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_remote-pairing",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "Link kind (default PILOT_STATUS).",
                    "example": "PILOT_STATUS"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "Cliente Acme"
                  },
                  "number": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "5511988887777"
                  },
                  "sendViaWhatsApp": {
                    "type": "boolean",
                    "description": "Send the link over WhatsApp (PILOT_STATUS). Default false.",
                    "example": "false"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "Redirect URL after completion (META).",
                    "example": "https://app.acme.com/done"
                  },
                  "externalRef": {
                    "type": "string",
                    "description": "Optional external reference for correlation (META).",
                    "example": "customer-42"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the resulting number to the calling API key (default true).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "name": "Cliente Acme",
                "number": "5511988887777"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PILOT_STATUS link",
            "content": {
              "application/json": {
                "example": {
                  "provider": "PILOT_STATUS",
                  "remotePairingToken": "rp_01HZX...",
                  "remotePairingUrl": "https://pilotstatus.com.br/connect/rp_01HZX...",
                  "numberId": "num_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}": {
      "get": {
        "summary": "Get number (Meta details)",
        "description": "Returns the number + all Meta info when it is an official-API number: a nested `meta` block (phone / profile / waba, camelCase) with quality, messaging-limit tier, verification status, business profile and WABA data, plus `health`. Served from cache by default; pass `?refresh=1` to fetch live from the Meta Graph and persist. Non-Meta numbers return `meta: null`. (The same route accepts DELETE to remove; use GET /api/v1/numbers/:id/status for a lightweight state-only poll.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Pass `1` to force a live fetch from the Meta Graph and refresh the cache.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Meta number",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "META",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "health": {
                    "qualityRating": "GREEN",
                    "messagingLimitTier": "TIER_2K",
                    "metaStatus": "CONNECTED",
                    "sendable": true
                  },
                  "meta": {
                    "fetchedAt": "2026-06-30T08:55:00.000Z",
                    "phone": {
                      "displayPhoneNumber": "+55 11 99999-9999",
                      "verifiedName": "Minha Empresa",
                      "qualityRating": "GREEN",
                      "status": "CONNECTED",
                      "codeVerificationStatus": "VERIFIED",
                      "nameStatus": "APPROVED",
                      "platformType": "CLOUD_API",
                      "throughput": {
                        "level": "STANDARD"
                      },
                      "messagingLimitTier": "TIER_2K",
                      "businessManagerMessagingLimit": "TIER_2K",
                      "accountMode": "LIVE"
                    },
                    "profile": {
                      "about": "Atendimento oficial",
                      "email": "contato@empresa.com",
                      "websites": [
                        "https://empresa.com"
                      ],
                      "vertical": "PROF_SERVICES"
                    },
                    "waba": {
                      "id": "1234567890",
                      "name": "Empresa WABA",
                      "currency": "BRL",
                      "businessVerificationStatus": "verified",
                      "accountReviewStatus": "APPROVED",
                      "ownershipType": "CLIENT"
                    },
                    "errors": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete number",
        "description": "Permanently removes the WhatsApp number/instance, cleaning up upstream provider resources. Real and irreversible side effect.",
        "tags": [
          "Numbers"
        ],
        "operationId": "delete_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the number/instance to remove.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete number",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/status": {
      "get": {
        "summary": "Number connection status",
        "description": "Syncs and returns the number's current connection state (OPEN/CONNECTING/…). Meta numbers return OPEN. Useful to poll after creating/connecting.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "state": "OPEN"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/connect": {
      "get": {
        "summary": "Reconnect number (QR / pairing)",
        "description": "Generates a fresh QR code + pairing code to reconnect a disconnected PILOT_STATUS number. Returns 409 if already OPEN. Not applicable to Meta numbers.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_connect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "PILOT_STATUS number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Reconnect",
            "content": {
              "application/json": {
                "example": {
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/extra-numbers": {
      "get": {
        "summary": "Preview buying an extra number (On Demand)",
        "description": "Computes the cost of buying N extra number(s) without charging. Requires a TENANT-scoped key (403 for a number key). For Free-plan tenants it flags the On Demand conversion: the free number becomes paid/unlimited and the new one too (you pay per number/mo). On Demand = unlimited messages on every number.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "get_subscription_extra-numbers",
        "parameters": [
          {
            "name": "quantity",
            "in": "query",
            "required": false,
            "description": "How many numbers to buy (default 1).",
            "schema": {
              "type": "number"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Preview — Free tenant with 1 connected number buying 1 (converts to On Demand). `proratedTotal` is charged now; `monthlyTotalBRL` recurs each cycle.",
            "content": {
              "application/json": {
                "example": {
                  "plan": "FREE",
                  "requiresConversion": true,
                  "explanation": {
                    "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                    "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                  },
                  "currentNumbers": 1,
                  "requested": 1,
                  "billedQuantity": 2,
                  "currency": "BRL",
                  "unitPriceMonthly": 29.9,
                  "proratedUnitPrice": 14.95,
                  "proratedTotal": 29.9,
                  "remainingDays": 15,
                  "totalDaysInCycle": 30,
                  "walletBalance": 0,
                  "hasSavedCard": false,
                  "fundingSource": "none",
                  "canFund": false,
                  "unitPriceBRL": 29.9,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Buy an extra number (On Demand)",
        "description": "Buys N extra number(s). Requires a TENANT-scoped key. A Free tenant is converted to On Demand (bills the converted free number + the new one) — requires confirm:true, otherwise returns 409 CONFIRMATION_REQUIRED with the preview. With a saved card (Plans → Cartão) it is charged immediately; otherwise it returns { checkoutUrl } to pay. Real side effect: it charges. Stripe only.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "post_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "How many numbers to buy (default 1).",
                    "example": "1"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Required (true) when the purchase converts the plan (Free → On Demand).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "quantity": 1,
                "confirm": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bought 1 (with confirmation). The prorated cost was funded from wallet credits and/or the saved card.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 2,
                  "proratedTotal": 29.9,
                  "currency": "BRL",
                  "creditsUsed": 0,
                  "cardCharged": 29.9,
                  "maxNumbers": 2,
                  "currentNumberCount": 1,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "The purchase converts the Free plan to On Demand, which changes what you pay — resend with `confirm: true`. The full preview is included.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Confirmation required: buying an extra number converts the Free plan to On Demand (every number becomes billable). Resend with confirm:true.",
                  "code": "CONFIRMATION_REQUIRED",
                  "preview": {
                    "plan": "FREE",
                    "requiresConversion": true,
                    "explanation": {
                      "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                      "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                    },
                    "currentNumbers": 1,
                    "requested": 1,
                    "billedQuantity": 2,
                    "currency": "BRL",
                    "unitPriceMonthly": 29.9,
                    "proratedUnitPrice": 14.95,
                    "proratedTotal": 29.9,
                    "remainingDays": 15,
                    "totalDaysInCycle": 30,
                    "walletBalance": 0,
                    "hasSavedCard": false,
                    "fundingSource": "none",
                    "canFund": false,
                    "unitPriceBRL": 29.9,
                    "monthlyTotalBRL": 59.8
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove an extra number (On Demand)",
        "description": "Gives back N paid extra-number slot(s) — the inverse of POST. Requires a TENANT-scoped key. NO refund for the current cycle; it only stops future billing. Deleting a number (DELETE /v1/numbers/{id}) already releases its slot automatically. Returns 409 NUMBER_LIMIT_EXCEEDED if the reduction would drop the limit below currently connected numbers.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "delete_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "How many extra number slots to release (default 1).",
                    "example": "1"
                  }
                }
              },
              "example": {
                "quantity": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed 1 slot",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 1,
                  "maxNumbers": 1,
                  "proratedTotal": 0
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "quantity deve ser um inteiro >= 1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "Reduction would drop the limit below connected numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "currentNumberCount": {
                      "type": "number"
                    },
                    "maxNumbers": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "Você tem 2 número(s) conectado(s); remover 2 deixaria o limite em 0. Desconecte números antes de remover slots pagos.",
                  "code": "NUMBER_LIMIT_EXCEEDED",
                  "currentNumberCount": 2,
                  "maxNumbers": 0
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Generate checkout link (Stripe)",
        "description": "Creates a hosted Stripe checkout page and returns the url for the user to open in a browser — nothing is charged until they complete it there. purpose:\"wallet_topup\" (requires amount > 0, in the account currency) mints a one-time payment that credits the pre-paid wallet; purpose:\"add_card\" mints a page to save a card on file. Account-level action: requires a TENANT-scoped key (403 NUMBER_SCOPE_NOT_ALLOWED for a number key). Stripe only.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Billing"
        ],
        "operationId": "post_billing_checkout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purpose": {
                    "type": "string",
                    "description": "What the checkout page is for.",
                    "example": "wallet_topup"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to credit to the wallet, in the account currency (required for wallet_topup).",
                    "example": "50"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Redirect URL after success.",
                    "example": "https://app.acme.com/billing/ok"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "Redirect URL if cancelled.",
                    "example": "https://app.acme.com/billing"
                  }
                },
                "required": [
                  "purpose"
                ]
              },
              "example": {
                "purpose": "wallet_topup",
                "amount": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top up wallet",
            "content": {
              "application/json": {
                "example": {
                  "url": "https://checkout.stripe.com/c/pay/cs_test_...",
                  "purpose": "wallet_topup",
                  "orderId": "cto_01HZX...",
                  "amount": 50,
                  "currency": "BRL"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/send": {
      "post": {
        "summary": "Send message",
        "description": "Enqueues sending a message from the number linked to the API key. Use exactly one of templateId (template send, with variables) or text (free-form); and exactly one destination: destinationNumber (E.164), groupId (…@g.us) or newsletterId (…@newsletter). Requires a number-scoped key (403 for a tenant key). Real side effect: actually delivers and may cost. NOT_SUPPORTED_FOR_META for groupId/newsletterId on Meta numbers.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Messages"
        ],
        "operationId": "post_messages_send",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templateId": {
                    "type": "string",
                    "description": "Template id or name (mutually exclusive with text).",
                    "example": "boas_vindas"
                  },
                  "text": {
                    "type": "string",
                    "description": "Free-form text (mutually exclusive with templateId).",
                    "example": "Olá! Sua entrega chegou."
                  },
                  "destinationNumber": {
                    "type": "string",
                    "description": "Destination (exactly one). Accepts an E.164 phone OR a BSUID — the contact's durable userId (e.g. BR.13491208655302741918), returned by GET /api/v1/conversations. Use the BSUID to reply to contacts using a WhatsApp username (no phone). One-tap/zero-tap/copy-code authentication templates require a phone number.",
                    "example": "5511988887777"
                  },
                  "groupId": {
                    "type": "string",
                    "description": "Group JID. NOT_SUPPORTED_FOR_META.",
                    "example": "123456789-987654321@g.us"
                  },
                  "newsletterId": {
                    "type": "string",
                    "description": "Channel/newsletter JID. NOT_SUPPORTED_FOR_META.",
                    "example": "120363000000000000@newsletter"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Template variables (default {}).",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "nome": "Ana"
                    }
                  },
                  "media": {
                    "type": "string",
                    "description": "Public http(s) URL OR base64 data URI (e.g. data:audio/ogg;base64,AAAA…). Base64 works on Meta Cloud API and Evolution v2; on Evolution GO use a public http(s) URL (GO does not accept base64). Used in template mode or in direct-media mode (media + mediaType, without templateId and without text).",
                    "example": "https://cdn.acme.com/img.png"
                  },
                  "mediaType": {
                    "type": "string",
                    "description": "Media type. In direct-media mode (no templateId/text) send media + mediaType: optional caption for image/video/document (not for audio); buttons/header/footer/variables not allowed. \"audio\" is delivered as a voice note (PTT) on Meta Cloud API, Evolution v2, and Evolution GO; on Evolution v2 and GO a \"recording audio\" presence indicator is shown to the recipient before the voice note (Meta has no outbound presence API).",
                    "example": "image"
                  },
                  "mediaFilename": {
                    "type": "string",
                    "description": "Filename the document arrives with in WhatsApp. Direct document sends only (requires mediaType: document). When omitted the name falls back to the URL basename. Path separators are stripped. Rejected with 400 when sent without media, on a template send, or with any mediaType other than document.",
                    "example": "Nota Fiscal 123.pdf"
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Up to **3** interactive buttons. Each item has `type` + `displayText` plus one type-specific field.\n\n- `reply` — quick-reply button; works on **free-form** and **template** sends. Set `id` (your own value; **not** echoed back on tap — match replies by label + `quotedMessageId`).\n- `url` — opens a link; set `url` (https). On free-form sends **at most one URL button per message**, and it **may** be combined with `reply` buttons.\n- `call` — dials a number; set `phoneNumber` (E.164, e.g. `+5511999999999`). **Template sends only** — rejected with 400 (`BUTTON_PHONE_NUMBER_TEMPLATE_ONLY`) on free-form.\n- `copy` — copies a code; set `copyCode`. **Template sends only** — rejected with 400 (`BUTTON_COPY_CODE_TEMPLATE_ONLY`) on free-form.\n\nOn a **template** send, buttons override the template's own buttons.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "reply",
                            "url",
                            "call",
                            "copy"
                          ],
                          "description": "Button kind."
                        },
                        "displayText": {
                          "type": "string",
                          "description": "Visible button label."
                        },
                        "id": {
                          "type": "string",
                          "description": "`reply` only — identifier you assign (not echoed back on tap)."
                        },
                        "url": {
                          "type": "string",
                          "description": "`url` only — https link to open."
                        },
                        "phoneNumber": {
                          "type": "string",
                          "description": "`call` only — phone to dial, E.164."
                        },
                        "copyCode": {
                          "type": "string",
                          "description": "`copy` only — code the user copies."
                        }
                      },
                      "required": [
                        "type",
                        "displayText"
                      ]
                    },
                    "example": [
                      {
                        "type": "reply",
                        "displayText": "Confirm",
                        "id": "confirm"
                      },
                      {
                        "type": "url",
                        "displayText": "View details",
                        "url": "https://example.com/order/123"
                      }
                    ]
                  },
                  "header": {
                    "type": "object",
                    "description": "Header for a free-form interactive message. Requires `buttons`. `type` is `text` (up to 60 chars in `content`) or `image` / `video` / `document` (public URL in `content`).",
                    "example": {
                      "type": "text",
                      "content": "Header title"
                    },
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "image",
                          "video",
                          "document"
                        ],
                        "description": "Header kind."
                      },
                      "content": {
                        "type": "string",
                        "description": "Text (type=text, ≤60 chars) or a public media URL (image/video/document)."
                      }
                    }
                  },
                  "footer": {
                    "type": "string",
                    "description": "Message footer (max 60 characters). Requires `buttons`."
                  },
                  "deliverAt": {
                    "type": "string",
                    "description": "Schedule delivery for a future time.",
                    "example": "2026-06-21T09:00:00Z"
                  },
                  "deliverUntil": {
                    "type": "string",
                    "description": "Maximum delivery window.",
                    "example": "2026-06-21T18:00:00Z"
                  },
                  "labels": {
                    "type": "array",
                    "description": "Labels to apply to the destination conversation.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "pedido",
                      "vip"
                    ]
                  }
                }
              },
              "example": {
                "templateId": "boas_vindas",
                "destinationNumber": "5511988887777",
                "variables": {
                  "nome": "Ana"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Send template",
            "content": {
              "application/json": {
                "example": {
                  "id": "msg_01HZX...",
                  "correlationId": "corr_01HZX...",
                  "status": "QUEUED",
                  "createdAt": "2026-06-20T10:00:00.000Z",
                  "origin": "Suporte",
                  "sourceNumber": "5511999999999"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "404": {
            "description": "Template not found or without an approved version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Template not found"
                }
              }
            }
          },
          "422": {
            "description": "Tenant billing suspended",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Billing suspended",
                  "code": "BILLING_SUSPENDED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "summary": "Get message",
        "description": "Returns a message's status and timestamps. The {id} can be the internal message id, the correlationId, or the provider message id (externalMessageId / Meta wamid). Includes externalMessageId, status, destination, sentAt/deliveredAt/readAt and error if any. Requires a number-scoped key.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Messages"
        ],
        "operationId": "get_messages_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Internal id, correlationId, or externalMessageId (Meta wamid).",
            "schema": {
              "type": "string"
            },
            "example": "msg_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Get message",
            "content": {
              "application/json": {
                "example": {
                  "id": "msg_01HZX...",
                  "externalMessageId": "wamid.HBg...",
                  "status": "DELIVERED",
                  "correlationId": "corr_01HZX...",
                  "destinationNumber": "5511988887777",
                  "createdAt": "2026-06-20T10:00:00.000Z",
                  "sentAt": "2026-06-20T10:00:01.000Z",
                  "deliveredAt": "2026-06-20T10:00:03.000Z",
                  "readAt": null,
                  "errorMessage": null,
                  "template": "boas_vindas"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/cancel": {
      "delete": {
        "summary": "Cancel scheduled messages",
        "description": "Cancels SCHEDULED (not yet sent) messages by an array of messageIds (1–100). Requires a number-scoped key. Real side effect on the send queue.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Messages"
        ],
        "operationId": "delete_messages_cancel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageIds": {
                    "type": "array",
                    "description": "Ids of scheduled messages to cancel.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "msg_01HZX...",
                      "msg_02HZX..."
                    ]
                  }
                },
                "required": [
                  "messageIds"
                ]
              },
              "example": {
                "messageIds": [
                  "msg_01HZX...",
                  "msg_02HZX..."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel scheduled",
            "content": {
              "application/json": {
                "example": {
                  "cancelled": 2,
                  "notFound": 0
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "summary": "List conversations",
        "description": "Lists the linked number's conversations, ordered by last activity (lastMessageAt desc). Paginated via page/pageSize. Filter by date with startDate/endDate (ISO 8601, over lastMessageAt). The number's privacy (PII) mode affects the response: RELAY_ONLY returns [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS clamps to the window max(startDate, now − retentionDays). Requires a number-scoped key. Contact identity: `from` is the E.164 phone (with `+`) when known — it may be null for contacts using a WhatsApp username; `userId` is the durable BSUID (stable contact id) and `username` the public handle when visible.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_conversations",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start of the date range (filters by lastMessageAt). Must be ≤ endDate.",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End of the date range (filters by lastMessageAt).",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-27T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page (default 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Items per page (default 30, max 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "List conversations",
            "content": {
              "application/json": {
                "example": {
                  "conversations": [
                    {
                      "id": "conv_01HZX...",
                      "from": "+5511988887777",
                      "fromName": "Ana",
                      "userId": "BR.13491208655302741918",
                      "username": "ana",
                      "type": "DIRECT",
                      "unreadCount": 2,
                      "lastMessageAt": "2026-06-27T10:00:00.000Z",
                      "lastMessagePreview": "Olá! Sua entrega chegou."
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range",
            "content": {
              "application/json": {
                "example": {
                  "error": "startDate must be before or equal to endDate",
                  "code": "INVALID_DATE_RANGE"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/group": {
      "get": {
        "summary": "Group messages",
        "description": "Lists messages in the linked number's GROUP conversations (newest first). Paginated via page/pageSize. Filter by date with startDate/endDate (ISO 8601, over createdAt). Meta numbers return 400 NOT_SUPPORTED_FOR_META (groups are PILOT_STATUS-only). The number's privacy (PII) mode applies: RELAY_ONLY → [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS clamps to the window max(startDate, now − retentionDays). Requires a number-scoped key.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_messages_group",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start of the date range (filters by createdAt). Must be ≤ endDate.",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End of the date range (filters by createdAt).",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-27T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page (default 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Items per page (default 30, max 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Group messages",
            "content": {
              "application/json": {
                "example": {
                  "messages": [
                    {
                      "id": "cm_01HZX...",
                      "conversationId": "conv_01HZX...",
                      "groupId": "123456789-987654321@g.us",
                      "groupSubject": "Pilot Status Group",
                      "direction": "INBOUND",
                      "fromNumber": "5511988887777",
                      "text": "Bom dia, pessoal!",
                      "createdAt": "2026-06-27T10:00:00.000Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Meta number (not supported)",
            "content": {
              "application/json": {
                "example": {
                  "error": "Group messages are not supported for Meta Cloud API numbers",
                  "code": "NOT_SUPPORTED_FOR_META"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/history": {
      "get": {
        "summary": "Message history",
        "description": "Lists the linked number's full message history (direct and group), ordered by providerTimestamp (newest first). Works for all providers (Evolution Go, Evolution v2 and Meta). Paginated via page/pageSize. Filter by date with startDate/endDate (ISO 8601, over providerTimestamp). Returns up to ~1 month of stored history (from the connection date). The number's privacy (PII) mode applies: RELAY_ONLY → [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS clamps to the window max(startDate, now − retentionDays). Requires a number-scoped key.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_messages_history",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start of the date range (filters by providerTimestamp). Must be ≤ endDate.",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End of the date range (filters by providerTimestamp).",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-30T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page (default 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Items per page (default 30, max 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Message history",
            "content": {
              "application/json": {
                "example": {
                  "messages": [
                    {
                      "id": "cm_01HZX...",
                      "conversationId": "conv_01HZX...",
                      "direction": "INBOUND",
                      "providerKind": "PILOT_STATUS",
                      "externalMessageId": "wamid.HBg...",
                      "status": "DELIVERED",
                      "messageType": "text",
                      "origin": null,
                      "text": "Olá, ainda está disponível?",
                      "participantName": "Ana",
                      "participantPhone": "+5511988887777",
                      "repliedToExternalId": null,
                      "media": null,
                      "sentAt": null,
                      "deliveredAt": "2026-06-27T10:00:01.000Z",
                      "readAt": null,
                      "providerTimestamp": "2026-06-27T10:00:00.000Z",
                      "createdAt": "2026-06-27T10:00:00.500Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/unread": {
      "get": {
        "summary": "Unread messages",
        "description": "Lists the linked number's unread INBOUND messages (newest first). \"total\" is the TRUE unread count — the sum of Conversation.unreadCount (the same counter the dashboard shows), not a raw count of inbound messages. Each item carries conversationUnreadCount (the conversation's unread total). Paginated via page/pageSize (no date range). The number's privacy (PII) mode applies: RELAY_ONLY → [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS clamps to the retention window. Requires a number-scoped key.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_messages_unread",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page (default 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Items per page (default 30, max 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Unread messages",
            "content": {
              "application/json": {
                "example": {
                  "messages": [
                    {
                      "id": "cm_01HZX...",
                      "conversationId": "conv_01HZX...",
                      "direction": "INBOUND",
                      "from": "+5511988887777",
                      "fromName": "Ana",
                      "userId": "BR.13491208655302741918",
                      "username": "ana",
                      "text": "Olá, ainda está disponível?",
                      "createdAt": "2026-06-27T10:00:00.000Z",
                      "readAt": null,
                      "conversationUnreadCount": 3
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/service-window": {
      "get": {
        "summary": "Service window status",
        "description": "Reports whether the WhatsApp 24-hour customer-service window is currently OPEN for a contact on the number bound to the API key.\n\n- **Meta Cloud API numbers** — `windowType: \"META_24H\"`. `open` is true when the contact's last inbound message arrived within the last 24 hours; `expiresAt` is `lastInboundAt` + 24h. While the window is open, free-form messages are allowed; once it closes, sends fail with `META_OUTSIDE_24H_WINDOW` and you must use an approved template.\n- **Web (unofficial) numbers** — no Meta restriction: `windowType: \"NONE\"` and `open` is always true; `lastInboundAt`/`expiresAt` are still returned informatively.\n\nCheck it before sending free-form content to decide between free-form and template messages.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Messages"
        ],
        "operationId": "get_service_window",
        "parameters": [
          {
            "name": "destinationNumber",
            "in": "query",
            "required": true,
            "description": "Contact phone number in E.164 format, with or without the leading + (digits also accepted).",
            "schema": {
              "type": "string"
            },
            "example": "+5511988887777"
          }
        ],
        "responses": {
          "200": {
            "description": "Service window status",
            "content": {
              "application/json": {
[...]
