{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution V2 Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Evolution V2. Base URL `https://pilotstatus.com.br/api/layer/evolution-v2`. Autentique com o header `apikey` (sua chave `ps_` do Pilot Status). Endpoints de instância/sessão NÃO estão disponíveis na camada."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Chamada e Business"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Grupo"
    },
    {
      "name": "Etiqueta (Label)"
    },
    {
      "name": "Mensagem"
    },
    {
      "name": "Perfil"
    },
    {
      "name": "Configurações e Proxy"
    },
    {
      "name": "Armazenamento (S3)"
    },
    {
      "name": "Template"
    }
  ],
  "paths": {
    "/call/offer/{instance}": {
      "post": {
        "summary": "Oferecer uma chamada",
        "description": "Oferece uma chamada de voz ou vídeo a um número destinatário por uma duração de toque limitada.",
        "operationId": "post__call_offer_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone do destinatário no formato internacional."
                  },
                  "callDuration": {
                    "type": "integer",
                    "description": "Por quanto tempo a chamada toca, em segundos (1–15)."
                  },
                  "isVideo": {
                    "type": "boolean",
                    "description": "`true` para chamada de vídeo, `false` para voz."
                  }
                },
                "required": [
                  "number",
                  "callDuration"
                ]
              },
              "example": {
                "number": "5511999999999",
                "callDuration": 10,
                "isVideo": false
              }
            }
          }
        }
      }
    },
    "/business/getCatalog/{instance}": {
      "post": {
        "summary": "Buscar catálogo de produtos",
        "description": "Busca o catálogo de produtos de um número business do WhatsApp.",
        "operationId": "post__business_getCatalog_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone business cujo catálogo será buscado; por padrão, usa o próprio número da instância."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Número máximo de produtos a retornar."
                  }
                }
              },
              "example": {
                "number": "5511999999999",
                "limit": 50
              }
            }
          }
        }
      }
    },
    "/business/getCollections/{instance}": {
      "post": {
        "summary": "Buscar coleções",
        "description": "Busca as coleções do catálogo de um número business do WhatsApp.",
        "operationId": "post__business_getCollections_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone business cujas coleções serão buscadas; por padrão, usa o próprio número da instância."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Número máximo de coleções a retornar."
                  }
                }
              },
              "example": {
                "number": "5511999999999",
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/whatsappNumbers/{instance}": {
      "post": {
        "summary": "Verificar números de WhatsApp",
        "description": "Verifica se um ou mais números estão registrados no WhatsApp.",
        "operationId": "post__chat_whatsappNumbers_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas de telefone (E.164 sem símbolos) a serem verificadas."
                  }
                },
                "required": [
                  "numbers"
                ]
              },
              "example": {
                "numbers": [
                  "5511999999999",
                  "5521988888888"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/markMessageAsRead/{instance}": {
      "post": {
        "summary": "Marcar mensagens como lidas",
        "description": "Marca uma ou mais mensagens como lidas (envia confirmações de leitura).",
        "operationId": "post__chat_markMessageAsRead_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "readMessages": {
                    "type": "array",
                    "description": "Array de objetos de chave de mensagem a serem marcados como lidos.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "readMessages[].id": {
                    "type": "string",
                    "description": "Identificador da mensagem."
                  },
                  "readMessages[].fromMe": {
                    "type": "boolean",
                    "description": "Indica se a mensagem foi enviada por este número."
                  },
                  "readMessages[].remoteJid": {
                    "type": "string",
                    "description": "JID da conversa à qual a mensagem pertence."
                  }
                },
                "required": [
                  "readMessages",
                  "readMessages[].id",
                  "readMessages[].fromMe",
                  "readMessages[].remoteJid"
                ]
              },
              "example": {
                "readMessages": [
                  {
                    "id": "BAE5F5A632EAE722",
                    "fromMe": false,
                    "remoteJid": "5511999999999@s.whatsapp.net"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/chat/archiveChat/{instance}": {
      "post": {
        "summary": "Arquivar ou desarquivar conversa",
        "description": "Arquiva ou desarquiva uma conversa.",
        "operationId": "post__chat_archiveChat_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archive": {
                    "type": "boolean",
                    "description": "`true` para arquivar, `false` para desarquivar."
                  },
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a ser arquivada."
                  },
                  "lastMessage": {
                    "type": "object",
                    "description": "Referência à última mensagem da conversa."
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Timestamp Unix da última mensagem."
                  }
                },
                "required": [
                  "archive"
                ]
              },
              "example": {
                "archive": true,
                "chat": "5511999999999@s.whatsapp.net",
                "lastMessage": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  },
                  "messageTimestamp": 1720540800
                }
              }
            }
          }
        }
      }
    },
    "/chat/markChatUnread/{instance}": {
      "post": {
        "summary": "Marcar conversa como não lida",
        "description": "Marca uma conversa como não lida.",
        "operationId": "post__chat_markChatUnread_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastMessage": {
                    "type": "object",
                    "description": "Referência à última mensagem da conversa."
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Timestamp Unix da última mensagem."
                  },
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a ser marcada como não lida."
                  }
                },
                "required": [
                  "lastMessage",
                  "lastMessage.key"
                ]
              },
              "example": {
                "lastMessage": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  },
                  "messageTimestamp": 1720540800
                },
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/deleteMessageForEveryone/{instance}": {
      "delete": {
        "summary": "Apagar mensagem para todos",
        "description": "Apaga uma mensagem para todos os participantes da conversa.",
        "operationId": "delete__chat_deleteMessageForEveryone_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador da mensagem a ser apagada."
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Indica se a mensagem foi enviada por este número."
                  },
                  "remoteJid": {
                    "type": "string",
                    "description": "JID da conversa à qual a mensagem pertence."
                  },
                  "participant": {
                    "type": "string",
                    "description": "JID do participante (para mensagens de grupo)."
                  }
                },
                "required": [
                  "id",
                  "fromMe",
                  "remoteJid"
                ]
              },
              "example": {
                "id": "BAE5F5A632EAE722",
                "fromMe": true,
                "remoteJid": "1203630000000000000@g.us",
                "participant": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/getBase64FromMediaMessage/{instance}": {
      "post": {
        "summary": "Obter mídia como base64",
        "description": "Baixa uma mensagem de mídia e a retorna como uma string base64.",
        "operationId": "post__chat_getBase64FromMediaMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Objeto de mensagem completo, ou um objeto contendo apenas `key` para que possa ser buscada."
                  },
                  "message.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "convertToMp4": {
                    "type": "boolean",
                    "description": "Converte a mídia para MP4 quando aplicável."
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "message": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  }
                },
                "convertToMp4": false
              }
            }
          }
        }
      }
    },
    "/chat/updateMessage/{instance}": {
      "post": {
        "summary": "Editar mensagem enviada",
        "description": "Edita o texto de uma mensagem enviada anteriormente por este número.",
        "operationId": "post__chat_updateMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número/conversa de destino para o qual a mensagem foi enviada."
                  },
                  "text": {
                    "type": "string",
                    "description": "Novo texto da mensagem."
                  },
                  "key": {
                    "type": "object",
                    "description": "Chave da mensagem a ser editada (`id`, `remoteJid`, `fromMe`)."
                  }
                },
                "required": [
                  "number",
                  "text",
                  "key"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Edited message text",
                "key": {
                  "id": "BAE5F5A632EAE722",
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "fromMe": true
                }
              }
            }
          }
        }
      }
    },
    "/chat/sendPresence/{instance}": {
      "post": {
        "summary": "Enviar atualização de presença",
        "description": "Envia um indicador de presença (digitando, gravando, etc.) para uma conversa.",
        "operationId": "post__chat_sendPresence_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário."
                  },
                  "presence": {
                    "type": "string",
                    "description": "Um dos valores `unavailable`, `available`, `composing`, `recording`, `paused`."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Duração em milissegundos para manter a presença ativa."
                  }
                },
                "required": [
                  "number",
                  "presence",
                  "delay"
                ]
              },
              "example": {
                "number": "5511999999999",
                "presence": "composing",
                "delay": 2000
              }
            }
          }
        }
      }
    },
    "/chat/updateBlockStatus/{instance}": {
      "post": {
        "summary": "Bloquear ou desbloquear contato",
        "description": "Bloqueia ou desbloqueia um contato.",
        "operationId": "post__chat_updateBlockStatus_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do contato a ser bloqueado/desbloqueado."
                  },
                  "status": {
                    "type": "string",
                    "description": "`block` ou `unblock`."
                  }
                },
                "required": [
                  "number",
                  "status"
                ]
              },
              "example": {
                "number": "5511999999999",
                "status": "block"
              }
            }
          }
        }
      }
    },
    "/chat/findChatByRemoteJid/{instance}": {
      "get": {
        "summary": "Buscar conversa por JID",
        "description": "Retorna a conversa correspondente ao JID remoto informado. Passe `remoteJid` como parâmetro de consulta obrigatório (ex.: `?remoteJid=5511999999999@s.whatsapp.net`); não há corpo de requisição.",
        "operationId": "get__chat_findChatByRemoteJid_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/chat/findContacts/{instance}": {
      "post": {
        "summary": "Buscar contatos",
        "description": "Pesquisa os contatos armazenados, opcionalmente filtrados por uma cláusula `where`. Envie um corpo vazio para retornar todos os contatos.",
        "operationId": "post__chat_findContacts_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com qualquer um dos campos `_id`, `id`, `pushName`, `remoteJid`."
                  }
                }
              },
              "example": {
                "where": {
                  "id": "5511999999999@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/chat/findMessages/{instance}": {
      "post": {
        "summary": "Buscar mensagens",
        "description": "Pesquisa as mensagens armazenadas, opcionalmente filtradas por uma cláusula `where` e limitadas por `limit`.",
        "operationId": "post__chat_findMessages_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com `_id`, `key` (`id`, `remoteJid`, `fromMe`) ou `message`."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de mensagens a serem retornadas."
                  }
                }
              },
              "example": {
                "where": {
                  "key": {
                    "remoteJid": "5511999999999@s.whatsapp.net"
                  }
                },
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/findStatusMessage/{instance}": {
      "post": {
        "summary": "Buscar status de mensagens",
        "description": "Pesquisa atualizações de status de entrega/leitura de mensagens, opcionalmente filtradas por uma cláusula `where` e limitadas por `limit`.",
        "operationId": "post__chat_findStatusMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com `_id`, `remoteJid`, `id`, `fromMe`, `participant` ou `status`."
                  },
                  "where.status": {
                    "type": "string",
                    "description": "Um dos valores `ERROR`, `PENDING`, `SERVER_ACK`, `DELIVERY_ACK`, `READ`, `PLAYED`."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de registros a serem retornados."
                  }
                }
              },
              "example": {
                "where": {
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "status": "READ"
                },
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/findChats/{instance}": {
      "post": {
        "summary": "Buscar conversas",
        "description": "Retorna as conversas armazenadas, opcionalmente filtradas por uma cláusula `where`. Envie um corpo vazio para retornar todas as conversas.",
        "operationId": "post__chat_findChats_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com qualquer um dos campos `_id`, `id`, `pushName`, `remoteJid`."
                  }
                }
              },
              "example": {
                "where": {
                  "remoteJid": "5511999999999@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/group/create/{instance}": {
      "post": {
        "summary": "Criar grupo",
        "description": "Cria um novo grupo do WhatsApp com um assunto e uma lista inicial de participantes.",
        "operationId": "post__group_create_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Nome/assunto do grupo."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone (apenas dígitos) a adicionar como membros."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição do grupo."
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "URL da foto de perfil do grupo."
                  },
                  "promoteParticipants": {
                    "type": "boolean",
                    "description": "Promover a administradores os participantes adicionados."
                  }
                },
                "required": [
                  "subject",
                  "participants"
                ]
              },
              "example": {
                "subject": "Equipe de Vendas",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ],
                "description": "Grupo interno da equipe",
                "profilePicture": "https://example.com/group.png",
                "promoteParticipants": false
              }
            }
          }
        }
      }
    },
    "/group/updateGroupSubject/{instance}": {
      "post": {
        "summary": "Atualizar assunto",
        "description": "Altera o nome/assunto de um grupo existente.",
        "operationId": "post__group_updateGroupSubject_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Novo assunto do grupo."
                  }
                },
                "required": [
                  "groupJid",
                  "subject"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "subject": "Novo nome do grupo"
              }
            }
          }
        }
      }
    },
    "/group/updateGroupPicture/{instance}": {
      "post": {
        "summary": "Atualizar foto",
        "description": "Define a foto de perfil do grupo a partir de uma URL de imagem.",
        "operationId": "post__group_updateGroupPicture_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "image": {
                    "type": "string",
                    "description": "URL da nova foto do grupo."
                  }
                },
                "required": [
                  "groupJid",
                  "image"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "image": "https://example.com/group.png"
              }
            }
          }
        }
      }
    },
    "/group/updateGroupDescription/{instance}": {
      "post": {
        "summary": "Atualizar descrição",
        "description": "Atualiza o texto da descrição do grupo.",
        "operationId": "post__group_updateGroupDescription_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Nova descrição do grupo."
                  }
                },
                "required": [
                  "groupJid",
                  "description"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "description": "Descrição atualizada do grupo"
              }
            }
          }
        }
      }
    },
    "/group/findGroupInfos/{instance}": {
      "get": {
        "summary": "Obter informações do grupo",
        "description": "Retorna os metadados de um único grupo. Passe o JID do grupo como parâmetro de consulta `groupJid` (ex.: `?groupJid=120363000000000000@g.us`).",
        "operationId": "get__group_findGroupInfos_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/fetchAllGroups/{instance}": {
      "get": {
        "summary": "Listar todos os grupos",
        "description": "Retorna todos os grupos aos quais o número pertence. O parâmetro de consulta obrigatório `getParticipants` (`\"true\"` ou `\"false\"`) controla se a lista de participantes de cada grupo é incluída.",
        "operationId": "get__group_fetchAllGroups_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/participants/{instance}": {
      "get": {
        "summary": "Listar participantes",
        "description": "Retorna a lista de participantes de um grupo. Passe o JID do grupo como parâmetro de consulta `groupJid`.",
        "operationId": "get__group_participants_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/inviteCode/{instance}": {
      "get": {
        "summary": "Obter código de convite",
        "description": "Retorna o código/link de convite atual de um grupo. Passe o JID do grupo como parâmetro de consulta `groupJid`.",
        "operationId": "get__group_inviteCode_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/inviteInfo/{instance}": {
      "get": {
        "summary": "Obter informações do convite",
        "description": "Retorna as informações do grupo por trás de um código de convite. Passe o código como parâmetro de consulta `inviteCode` (ex.: `?inviteCode=F1EX5QZxO181L3TMVP31gY`).",
        "operationId": "get__group_inviteInfo_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/acceptInviteCode/{instance}": {
      "get": {
        "summary": "Aceitar convite",
        "description": "Entra em um grupo usando um código de convite. Passe o código como parâmetro de consulta `inviteCode`.",
        "operationId": "get__group_acceptInviteCode_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/group/sendInvite/{instance}": {
      "post": {
        "summary": "Enviar convite",
        "description": "Envia o link de convite do grupo para um ou mais números de telefone.",
        "operationId": "post__group_sendInvite_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo."
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto da mensagem enviada junto com o convite."
                  },
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone (apenas dígitos) para os quais enviar o convite."
                  }
                },
                "required": [
                  "groupJid",
                  "description",
                  "numbers"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "description": "Entre no nosso grupo!",
                "numbers": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      }
    },
    "/group/revokeInviteCode/{instance}": {
      "post": {
        "summary": "Revogar convite",
        "description": "Revoga o link de convite atual e gera um novo.",
        "operationId": "post__group_revokeInviteCode_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/group/updateParticipant/{instance}": {
      "post": {
        "summary": "Atualizar participantes",
        "description": "Adiciona, remove, promove ou rebaixa participantes do grupo.",
        "operationId": "post__group_updateParticipant_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "action": {
                    "type": "string",
                    "description": "Um de `add`, `remove`, `promote`, `demote`."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Números de telefone (apenas dígitos) aos quais aplicar a ação."
                  }
                },
                "required": [
                  "groupJid",
                  "action",
                  "participants"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "action": "add",
                "participants": [
                  "5511999999999"
                ]
              }
            }
          }
        }
      }
    },
    "/group/updateSetting/{instance}": {
      "post": {
        "summary": "Atualizar configuração",
        "description": "Atualiza as permissões de mensagens e edição de um grupo.",
        "operationId": "post__group_updateSetting_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "action": {
                    "type": "string",
                    "description": "Um de `announcement`, `not_announcement`, `locked`, `unlocked`."
                  }
                },
                "required": [
                  "groupJid",
                  "action"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "action": "announcement"
              }
            }
          }
        }
      }
    },
    "/group/updateMemberAddMode/{instance}": {
      "post": {
        "summary": "Atualizar modo de adição de membros",
        "description": "Controla quem pode adicionar novos membros ao grupo.",
        "operationId": "post__group_updateMemberAddMode_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Um de `admin_add`, `all_member_add`."
                  }
                },
                "required": [
                  "groupJid",
                  "mode"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "mode": "admin_add"
              }
            }
          }
        }
      }
    },
    "/group/toggleEphemeral/{instance}": {
      "post": {
        "summary": "Alternar mensagens temporárias",
        "description": "Ativa ou desativa as mensagens temporárias do grupo.",
        "operationId": "post__group_toggleEphemeral_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "JID do grupo (também pode ser enviado como parâmetro de consulta `groupJid`)."
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Segundos até as mensagens desaparecerem: `0` (desligado), `86400` (24h), `604800` (7d) ou `7776000` (90d)."
                  }
                },
                "required": [
                  "groupJid",
                  "expiration"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "expiration": 604800
              }
            }
          }
        }
      }
    },
    "/group/leaveGroup/{instance}": {
      "delete": {
        "summary": "Sair do grupo",
        "description": "Remove o número conectado do grupo. Passe o JID do grupo como parâmetro de consulta `groupJid`.",
        "operationId": "delete__group_leaveGroup_instance",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/label/findLabels/{instance}": {
      "get": {
        "summary": "Listar etiquetas",
        "description": "Retorna todas as etiquetas definidas no número identificado pelo parâmetro de caminho `{instance}` (o nome de exibição do número).",
        "operationId": "get__label_findLabels_instance",
        "tags": [
          "Etiqueta (Label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/label/handleLabel/{instance}": {
      "post": {
        "summary": "Adicionar ou remover etiqueta",
        "description": "Adiciona ou remove uma etiqueta em uma conversa do número identificado pelo parâmetro de caminho `{instance}`.",
        "operationId": "post__label_handleLabel_instance",
        "tags": [
          "Etiqueta (Label)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone do destinatário em formato internacional (não vazio)."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "Identificador da etiqueta a aplicar ou remover (não vazio)."
                  },
                  "action": {
                    "type": "string",
                    "description": "Operação a executar; `add` ou `remove`."
                  }
                },
                "required": [
                  "number",
                  "labelId",
                  "action"
                ]
              },
              "example": {
                "number": "5511999999999",
                "labelId": "1",
                "action": "add"
              }
            }
          }
        }
      }
    },
    "/message/sendTemplate/{instance}": {
      "post": {
        "summary": "Enviar template",
        "description": "Envia uma mensagem de template aprovado do WhatsApp para um destinatário.",
        "operationId": "post__message_sendTemplate_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do template aprovado."
                  },
                  "language": {
                    "type": "string",
                    "description": "Código de idioma/localidade do template (ex.: `pt_BR`)."
                  },
                  "components": {
                    "type": "array",
                    "description": "Componentes do template (parâmetros de cabeçalho/corpo/botão).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "URL de webhook opcional por mensagem para callbacks de status."
                  }
                },
                "required": [
                  "name",
                  "language"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "order_confirmation",
                "language": "pt_BR",
                "components": [
                  {
                    "type": "body",
                    "parameters": [
                      {
                        "type": "text",
                        "text": "Ismael"
                      }
                    ]
                  }
                ],
                "webhookUrl": "https://example.com/webhooks/template"
              }
            }
          }
        }
      }
    },
    "/message/sendText/{instance}": {
      "post": {
        "summary": "Enviar texto",
        "description": "Envia uma mensagem de texto simples, opcionalmente com pré-visualização de link e menções.",
        "operationId": "post__message_sendText_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto do corpo da mensagem."
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "description": "Se deve renderizar uma pré-visualização para URLs no texto."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Hello from Pilot Status!",
                "linkPreview": true,
                "delay": 1200,
                "mentioned": [
                  "5511988888888"
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendMedia/{instance}": {
      "post": {
        "summary": "Enviar mídia",
        "description": "Envia uma imagem, vídeo, documento ou arquivo de áudio por URL pública (base64 e upload de arquivo multipart também são suportados).",
        "operationId": "post__message_sendMedia_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "mediatype": {
                    "type": "string",
                    "description": "Um entre `image`, `document`, `video`, `audio`."
                  },
                  "media": {
                    "type": "string",
                    "description": "URL pública (ou base64) do arquivo de mídia."
                  },
                  "mimetype": {
                    "type": "string",
                    "description": "Tipo MIME da mídia (ex.: `image/png`)."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Nome do arquivo, usado para documentos."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Texto de legenda exibido com a mídia."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "mediatype",
                  "media"
                ]
              },
              "example": {
                "number": "5511999999999",
                "mediatype": "image",
                "media": "https://media.pilotstatus.com.br/example.png",
                "mimetype": "image/png",
                "fileName": "example.png",
                "caption": "Check this out"
              }
            }
          }
        }
      }
    },
    "/message/sendPtv/{instance}": {
      "post": {
        "summary": "Enviar nota de vídeo",
        "description": "Envia um PTV (nota de vídeo circular) por URL pública (base64 e upload de arquivo multipart também são suportados).",
        "operationId": "post__message_sendPtv_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "video": {
                    "type": "string",
                    "description": "URL pública (ou base64) do arquivo de vídeo."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "video"
                ]
              },
              "example": {
                "number": "5511999999999",
                "video": "https://media.pilotstatus.com.br/note.mp4",
                "delay": 800
              }
            }
          }
        }
      }
    },
    "/message/sendWhatsAppAudio/{instance}": {
      "post": {
        "summary": "Enviar áudio de voz",
        "description": "Envia um áudio de voz/PTT do WhatsApp por URL pública (base64 e upload de arquivo multipart também são suportados).",
        "operationId": "post__message_sendWhatsAppAudio_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "audio": {
                    "type": "string",
                    "description": "URL pública (ou base64) do arquivo de áudio."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "audio"
                ]
              },
              "example": {
                "number": "5511999999999",
                "audio": "https://media.pilotstatus.com.br/voice.ogg"
              }
            }
          }
        }
      }
    },
    "/message/sendStatus/{instance}": {
      "post": {
        "summary": "Enviar status",
        "description": "Publica um status (story) como texto ou mídia por URL pública (upload de arquivo de mídia também é suportado).",
        "operationId": "post__message_sendStatus_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Um entre `text`, `image`, `audio`, `video`."
                  },
                  "content": {
                    "type": "string",
                    "description": "Texto do status, ou a URL pública da mídia."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Legenda para status de mídia."
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Cor de fundo para status de texto (ex.: `#25D366`)."
                  },
                  "font": {
                    "type": "integer",
                    "description": "Índice de fonte para status de texto (0–5)."
                  },
                  "statusJidList": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "JIDs de destinatários (strings numéricas) autorizados a ver o status."
                  },
                  "allContacts": {
                    "type": "boolean",
                    "description": "Publicar para todos os contatos em vez de uma lista de JIDs."
                  }
                },
                "required": [
                  "type",
                  "content"
                ]
              },
              "example": {
                "type": "text",
                "content": "We are online!",
                "backgroundColor": "#25D366",
                "font": 2,
                "allContacts": true
              }
            }
          }
        }
      }
    },
    "/message/sendSticker/{instance}": {
      "post": {
        "summary": "Enviar figurinha",
        "description": "Envia uma figurinha por URL pública (base64 e upload de arquivo multipart também são suportados).",
        "operationId": "post__message_sendSticker_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "sticker": {
                    "type": "string",
                    "description": "URL pública (ou base64) da imagem da figurinha."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "sticker"
                ]
              },
              "example": {
                "number": "5511999999999",
                "sticker": "https://media.pilotstatus.com.br/sticker.webp"
              }
            }
          }
        }
      }
    },
    "/message/sendLocation/{instance}": {
      "post": {
        "summary": "Enviar localização",
        "description": "Envia um marcador de localização geográfica com nome e endereço.",
        "operationId": "post__message_sendLocation_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude da localização."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude da localização."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome de exibição do local."
                  },
                  "address": {
                    "type": "string",
                    "description": "Endereço do local."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "latitude",
                  "longitude",
                  "name",
                  "address"
                ]
              },
              "example": {
                "number": "5511999999999",
                "latitude": -23.55052,
                "longitude": -46.633308,
                "name": "Pilot Status HQ",
                "address": "Av. Paulista, 1000, São Paulo"
              }
            }
          }
        }
      }
    },
    "/message/sendContact/{instance}": {
      "post": {
        "summary": "Enviar contato",
        "description": "Envia um ou mais cartões de contato (vCards).",
        "operationId": "post__message_sendContact_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "contact": {
                    "type": "array",
                    "description": "Array de objetos de contato (veja os campos abaixo).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "contact[].fullName": {
                    "type": "string",
                    "description": "Nome completo do contato."
                  },
                  "contact[].phoneNumber": {
                    "type": "string",
                    "description": "Número de telefone do contato."
                  },
                  "contact[].wuid": {
                    "type": "string",
                    "description": "Identificador de usuário do WhatsApp (string numérica)."
                  },
                  "contact[].organization": {
                    "type": "string",
                    "description": "Organização do contato."
                  },
                  "contact[].email": {
                    "type": "string",
                    "description": "Endereço de e-mail do contato."
                  },
                  "contact[].url": {
                    "type": "string",
                    "description": "URL do site do contato."
                  }
                },
                "required": [
                  "number",
                  "contact",
                  "contact[].fullName",
                  "contact[].phoneNumber"
                ]
              },
              "example": {
                "number": "5511999999999",
                "contact": [
                  {
                    "fullName": "Ismael Nascimento",
                    "wuid": "5511988888888",
                    "phoneNumber": "5511988888888",
                    "organization": "Pilot Status",
                    "email": "contato@pilotstatus.com.br",
                    "url": "https://pilotstatus.com.br"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendReaction/{instance}": {
      "post": {
        "summary": "Enviar reação",
        "description": "Reage a uma mensagem existente com um emoji.",
        "operationId": "post__message_sendReaction_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "object",
                    "description": "Chave da mensagem alvo (`id`, `remoteJid`, `fromMe` — todos obrigatórios)."
                  },
                  "reaction": {
                    "type": "string",
                    "description": "Emoji com o qual reagir."
                  }
                },
                "required": [
                  "key",
                  "reaction"
                ]
              },
              "example": {
                "key": {
                  "id": "BAE5F6A1B2C3D4E5",
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "fromMe": false
                },
                "reaction": "👍"
              }
            }
          }
        }
      }
    },
    "/message/sendPoll/{instance}": {
      "post": {
        "summary": "Enviar enquete",
        "description": "Envia uma enquete com opções selecionáveis.",
        "operationId": "post__message_sendPoll_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Pergunta/título da enquete."
                  },
                  "selectableCount": {
                    "type": "integer",
                    "description": "Quantas opções podem ser selecionadas (0–10)."
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Opções da enquete (2–10 strings únicas)."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "name",
                  "selectableCount",
                  "values"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "Which plan do you prefer?",
                "selectableCount": 1,
                "values": [
                  "Starter",
                  "Pro",
                  "Enterprise"
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendList/{instance}": {
      "post": {
        "summary": "Enviar lista",
        "description": "Envia uma mensagem de lista interativa com seções e linhas selecionáveis.",
        "operationId": "post__message_sendList_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Título da lista."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Texto de rodapé exibido abaixo da lista."
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Rótulo do botão que abre a lista."
                  },
                  "sections": {
                    "type": "array",
                    "description": "Array de objetos de seção (veja os campos abaixo).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "sections[].title": {
                    "type": "string",
                    "description": "Título da seção."
                  },
                  "sections[].rows": {
                    "type": "array",
                    "description": "Linhas, cada uma com `title`, `rowId` (obrigatórios) e `description` opcional.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto de descrição/corpo da lista."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mencionar todos no grupo."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas a mencionar."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "footerText",
                  "buttonText",
                  "sections",
                  "sections[].title",
                  "sections[].rows"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Our menu",
                "description": "Pick an item",
                "footerText": "Pilot Status",
                "buttonText": "View options",
                "sections": [
                  {
                    "title": "Drinks",
                    "rows": [
                      {
                        "title": "Coffee",
                        "description": "Fresh brewed",
                        "rowId": "drink_coffee"
                      },
                      {
                        "title": "Tea",
                        "description": "Green tea",
                        "rowId": "drink_tea"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendButtons/{instance}": {
      "post": {
        "summary": "Enviar botões",
        "description": "Envia uma mensagem de botões interativos. O `type` de cada botão é um entre `reply`, `copy`, `url`, `call`, `pix`.",
        "operationId": "post__message_sendButtons_instance",
        "tags": [
          "Mensagem"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário em E.164 sem `+`, ou um JID."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Array de objetos de botão (veja os campos abaixo).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "buttons[].type": {
                    "type": "string",
                    "description": "Tipo do botão: `reply`, `copy`, `url`, `call` ou `pix`."
                  },
                  "buttons[].displayText": {
                    "type": "string",
                    "description": "Texto exibido no botão."
                  },
                  "buttons[].id": {
                    "type": "string",
                    "description": "Identificador do botão (para `reply`)."
                  },
                  "buttons[].url": {
                    "type": "string",
                    "description": "URL a abrir (para `url`)."
                  },
                  "buttons[].phoneNumber": {
                    "type": "string",
                    "description": "Número de telefone a ligar (para `call`)."
                  },
                  "buttons[].currency": {
                    "type": "string",
                    "description": "Moeda (para `pix`)."
                  },
                  "buttons[].name": {
                    "type": "string",
                    "description": "Nome do recebedor/chave (para `pix`)."
                  },
                  "buttons[].keyType": {
                    "type": "string",
                    "description": "Tipo de chave Pix: `phone`, `email`, `cpf`, `cnpj`, `random`."
                  },
                  "buttons[].key": {
                    "type": "string",
                    "description": "Valor da chave Pix (para `pix`)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Título da mensagem."
                  },
                  "description": {
                    "type": "string",
                    "description": "Texto do corpo da mensagem."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Texto de rodapé."
                  },
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "URL de uma imagem de miniatura."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso antes do envio, em milissegundos."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Mensagem a citar/responder (`key`, `message`)."
[...]
