{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution GO Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Evolution GO. Base URL `https://pilotstatus.com.br/api/layer/evolution-go`. Autentique com o header `apikey` (sua chave `ps_` do Pilot Status) ou `Authorization: Bearer`. Endpoints de instância/sessão NÃO estão disponíveis na camada."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-go"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Chamada (voz)"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Comunidade"
    },
    {
      "name": "Grupo"
    },
    {
      "name": "Etiqueta (label)"
    },
    {
      "name": "Mensagem"
    },
    {
      "name": "Newsletter / Canais"
    },
    {
      "name": "Envio (balanceado)"
    },
    {
      "name": "Usuário / Contatos"
    }
  ],
  "paths": {
    "/call/start": {
      "post": {
        "summary": "Iniciar chamada de saída",
        "description": "Faz uma chamada de voz de saída no WhatsApp para o número informado e retorna a sessão de chamada criada.",
        "operationId": "post__call_start",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "object",
                      "description": "Session info for the newly placed outbound call",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "description": "Instance that owns the call"
                        },
                        "callId": {
                          "type": "string",
                          "description": "WhatsApp call id (whatsmeow/meowcaller)"
                        },
                        "peer": {
                          "type": "string",
                          "description": "Callee JID"
                        },
                        "direction": {
                          "type": "string",
                          "description": "Call direction; \"outgoing\" for started calls"
                        },
                        "state": {
                          "type": "string",
                          "description": "Call phase: idle|calling|ringing|connecting|active|ended"
                        },
                        "isVideo": {
                          "type": "boolean",
                          "description": "Whether the call is a video call"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "RFC3339 UTC timestamp when the call was tracked"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "instanceId": "f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454",
                    "callId": "5B8F9A2E1C3D4F6A7B8C",
                    "peer": "5511999999999@s.whatsapp.net",
                    "direction": "outgoing",
                    "state": "calling",
                    "isVideo": false,
                    "createdAt": "2026-07-10T14:32:05Z"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Telefone do destinatário no formato DDI+DDD+número (ex.: `5511999999999`) ou um JID completo.",
                    "example": "5511999999999"
                  }
                },
                "required": [
                  "number"
                ]
              }
            }
          }
        }
      }
    },
    "/call/list": {
      "get": {
        "summary": "Listar chamadas ativas",
        "description": "Retorna todas as sessões de chamada atualmente monitoradas para o número.",
        "operationId": "get__call_list",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "array",
                      "description": "Active tracked calls for the instance (empty array when none)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instanceId": {
                            "type": "string",
                            "description": "Instance that owns the call"
                          },
                          "callId": {
                            "type": "string",
                            "description": "WhatsApp call id"
                          },
                          "peer": {
                            "type": "string",
                            "description": "Remote party JID"
                          },
                          "direction": {
                            "type": "string",
                            "description": "Call direction: outgoing|incoming"
                          },
                          "state": {
                            "type": "string",
                            "description": "Call phase: idle|calling|ringing|connecting|active|ended"
                          },
                          "isVideo": {
                            "type": "boolean",
                            "description": "Whether the call is a video call"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "RFC3339 UTC timestamp when the call was tracked"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": [
                    {
                      "instanceId": "f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454",
                      "callId": "5B8F9A2E1C3D4F6A7B8C",
                      "peer": "5511999999999@s.whatsapp.net",
                      "direction": "outgoing",
                      "state": "active",
                      "isVideo": false,
                      "createdAt": "2026-07-10T14:32:05Z"
                    },
                    {
                      "instanceId": "f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454",
                      "callId": "9C1A7F3E2D4B6A8051FD",
                      "peer": "5527988610192@s.whatsapp.net",
                      "direction": "incoming",
                      "state": "ringing",
                      "isVideo": false,
                      "createdAt": "2026-07-10T14:35:41Z"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        }
      }
    },
    "/call/get": {
      "post": {
        "summary": "Obter chamada por id",
        "description": "Retorna o estado atual de uma única sessão de chamada monitorada.",
        "operationId": "post__call_get",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "object",
                      "description": "Session info for the requested call id",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "description": "Instance that owns the call"
                        },
                        "callId": {
                          "type": "string",
                          "description": "WhatsApp call id"
                        },
                        "peer": {
                          "type": "string",
                          "description": "Remote party JID"
                        },
                        "direction": {
                          "type": "string",
                          "description": "Call direction: outgoing|incoming"
                        },
                        "state": {
                          "type": "string",
                          "description": "Call phase: idle|calling|ringing|connecting|active|ended"
                        },
                        "isVideo": {
                          "type": "boolean",
                          "description": "Whether the call is a video call"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "RFC3339 UTC timestamp when the call was tracked"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "instanceId": "f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454",
                    "callId": "5B8F9A2E1C3D4F6A7B8C",
                    "peer": "5511999999999@s.whatsapp.net",
                    "direction": "outgoing",
                    "state": "active",
                    "isVideo": false,
                    "createdAt": "2026-07-10T14:32:05Z"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada a ser obtida. Um corpo vazio é aceito (retorna a última chamada monitorada).",
                    "example": "3EB0C767D26A8B4E7F1A"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/answer": {
      "post": {
        "summary": "Atender chamada recebida",
        "description": "Atende uma chamada recebida que está tocando; omita `callId` para atender a última chamada recebida.",
        "operationId": "post__call_answer",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "object",
                      "description": "Session info for the answered call (latest incoming when callId omitted)",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "description": "Instance that owns the call"
                        },
                        "callId": {
                          "type": "string",
                          "description": "WhatsApp call id"
                        },
                        "peer": {
                          "type": "string",
                          "description": "Caller JID"
                        },
                        "direction": {
                          "type": "string",
                          "description": "Call direction; \"incoming\" for answered calls"
                        },
                        "state": {
                          "type": "string",
                          "description": "Call phase after answering, typically \"active\" or \"connecting\""
                        },
                        "isVideo": {
                          "type": "boolean",
                          "description": "Whether the call is a video call"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "RFC3339 UTC timestamp when the call was tracked"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "instanceId": "f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454",
                    "callId": "9C1A7F3E2D4B6A8051FD",
                    "peer": "5527988610192@s.whatsapp.net",
                    "direction": "incoming",
                    "state": "active",
                    "isVideo": false,
                    "createdAt": "2026-07-10T14:35:41Z"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada recebida a ser atendida. Quando omitido, a chamada recebida mais recente é atendida.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/reject": {
      "post": {
        "summary": "Rejeitar chamada",
        "description": "Rejeita uma chamada; se a chamada não estiver mais sendo monitorada, recorre à rejeição via `callCreator`.",
        "operationId": "post__call_reject",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada a ser rejeitada.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  },
                  "callCreator": {
                    "type": "string",
                    "description": "JID de quem chamou, usado como alternativa quando a chamada não está sendo monitorada (ex.: `5511999999999@s.whatsapp.net`).",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "callId"
                ]
              }
            }
          }
        }
      }
    },
    "/call/reject/by-id": {
      "post": {
        "summary": "Rejeitar chamada monitorada",
        "description": "Rejeita uma chamada atualmente monitorada pelo seu identificador.",
        "operationId": "post__call_reject_by_id",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada monitorada a ser rejeitada.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  }
                },
                "required": [
                  "callId"
                ]
              }
            }
          }
        }
      }
    },
    "/call/reject/latest": {
      "post": {
        "summary": "Rejeitar última oferta",
        "description": "Rejeita a chamada recebida oferecida mais recentemente para o número.",
        "operationId": "post__call_reject_latest",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        }
      }
    },
    "/call/hangup": {
      "post": {
        "summary": "Encerrar chamada",
        "description": "Encerra uma chamada ativa pelo seu identificador.",
        "operationId": "post__call_hangup",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa a ser encerrada.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  }
                },
                "required": [
                  "callId"
                ]
              }
            }
          }
        }
      }
    },
    "/call/media/play": {
      "post": {
        "summary": "Reproduzir áudio na chamada",
        "description": "Transmite um arquivo de áudio para uma chamada ativa. Aceita este corpo JSON (`filePath` no servidor) ou um upload `multipart/form-data` com os campos `callId`, `audio` (ou `file`) e `hangupAfterPlay`.",
        "operationId": "post__call_media_play",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "object",
                      "description": "Only present for multipart/form-data uploads; absent for JSON (filePath) requests",
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "Origin of the played audio, e.g. \"multipart\""
                        },
                        "filePath": {
                          "type": "string",
                          "description": "Server-side temp path of the uploaded audio file"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa em que reproduzir.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  },
                  "filePath": {
                    "type": "string",
                    "description": "Caminho no servidor para o arquivo de áudio (`.mp3`, `.wav` ou `.opus`).",
                    "example": "/audios/greeting.mp3"
                  },
                  "hangupAfterPlay": {
                    "type": "boolean",
                    "description": "Quando `true`, encerra a chamada automaticamente assim que a reprodução termina. O padrão é `false`.",
                    "example": true
                  }
                },
                "required": [
                  "callId",
                  "filePath"
                ]
              }
            }
          }
        }
      }
    },
    "/call/media/realtime/session": {
      "post": {
        "summary": "Criar sessão em tempo real",
        "description": "Cria um token de curta duração e uma URL de WebSocket para transmitir áudio PCM em tempo real de/para uma chamada ativa.",
        "operationId": "post__call_media_realtime_session",
        "tags": [
          "Chamada (voz)"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on 200"
                    },
                    "data": {
                      "type": "object",
                      "description": "Realtime media session credentials for the WebSocket audio bridge",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "One-time media token (expires ~2 minutes)"
                        },
                        "wsUrl": {
                          "type": "string",
                          "description": "Absolute WebSocket URL for the realtime audio bridge, with token query"
                        },
                        "mode": {
                          "type": "string",
                          "description": "Media direction: \"talk\" (send PCM to call) or \"listen\" (receive peer audio)"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "token": "b1e6d2a4-9f7c-4c2e-8a3b-6d5f0e1c2a34",
                    "wsUrl": "wss://evolution-go.pilotstatus.com.br/call/media/realtime/ws/f8c3de3d-1fea-4d7c-a8b0-29f63c4c3454/5B8F9A2E1C3D4F6A7B8C?token=b1e6d2a4-9f7c-4c2e-8a3b-6d5f0e1c2a34",
                    "mode": "talk"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identificador da chamada ativa à qual anexar a mídia.",
                    "example": "3EB0C767D26A8B4E7F1A"
                  },
                  "mode": {
                    "type": "string",
                    "description": "`talk` (enviar e receber áudio, padrão) ou `listen` (apenas receber).",
                    "example": "talk"
                  }
                },
                "required": [
                  "callId"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/pin": {
      "post": {
        "summary": "Fixar uma conversa",
        "description": "Fixa uma conversa no topo da lista.",
        "operationId": "post__chat_pin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state pin mutation is dispatched (whatsmeow SendAppState / BuildPin).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a fixar (individual `...@s.whatsapp.net` ou grupo `...@g.us`).",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/unpin": {
      "post": {
        "summary": "Desafixar uma conversa",
        "description": "Remove uma conversa da lista de fixadas.",
        "operationId": "post__chat_unpin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state unpin mutation is dispatched (whatsmeow SendAppState / BuildPin false).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a desafixar.",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/archive": {
      "post": {
        "summary": "Arquivar uma conversa",
        "description": "Arquiva uma conversa, ocultando-a da lista principal.",
        "operationId": "post__chat_archive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state archive mutation is dispatched (whatsmeow SendAppState / BuildArchive true).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a arquivar.",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/unarchive": {
      "post": {
        "summary": "Desarquivar uma conversa",
        "description": "Restaura uma conversa arquivada de volta para a lista principal.",
        "operationId": "post__chat_unarchive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state unarchive mutation is dispatched (whatsmeow SendAppState / BuildArchive false).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a desarquivar.",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/mute": {
      "post": {
        "summary": "Silenciar uma conversa",
        "description": "Silencia as notificações de uma conversa.",
        "operationId": "post__chat_mute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state mute mutation is dispatched (whatsmeow SendAppState / BuildMute true).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a silenciar.",
                    "example": "120363000000000000@g.us"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/unmute": {
      "post": {
        "summary": "Reativar notificações de uma conversa",
        "description": "Reativa as notificações de uma conversa silenciada.",
        "operationId": "post__chat_unmute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned after the app-state unmute mutation is dispatched (whatsmeow SendAppState / BuildMute false).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "Stringified operation timestamp (Go time.Time). App-state mutations return no server timestamp, so in the current build this is the zero-value time."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "timestamp": "0001-01-01 00:00:00 +0000 UTC"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a reativar as notificações.",
                    "example": "120363000000000000@g.us"
                  }
                },
                "required": [
                  "chat"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/history-sync": {
      "post": {
        "summary": "Solicitar sincronização de histórico",
        "description": "Solicita o histórico de mensagens mais antigas anteriores a uma mensagem de referência. O objeto `messageInfo` identifica a mensagem âncora (seu JID `Chat`, o `ID` da mensagem, as flags de direção e o `Timestamp`); os campos são desserializados a partir do tipo `MessageInfo` do whatsmeow, portanto as chaves são PascalCase e `Chat` é uma **string** JID.",
        "operationId": "post__chat_history_sync",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope wrapping the whatsmeow SendResponse for the peer history-sync request message that was sent to the chat.",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Operation status, always \"success\" on a 200 response."
                    },
                    "data": {
                      "type": "object",
                      "description": "whatsmeow.SendResponse for the sent history-sync request message. Field names are PascalCase (struct has no JSON tags).",
                      "properties": {
                        "Timestamp": {
                          "type": "string",
                          "description": "Server timestamp of the sent history-sync request message (RFC3339)."
                        },
                        "ID": {
                          "type": "string",
                          "description": "ID of the sent history-sync request message."
                        },
                        "ServerID": {
                          "type": "integer",
                          "description": "Server-specified message ID; only non-zero for newsletter messages, otherwise 0."
                        },
                        "DebugTimings": {
                          "type": "object",
                          "description": "Per-phase message handling durations in nanoseconds, used for debugging.",
                          "properties": {
                            "LIDFetch": {
                              "type": "integer",
                              "description": "Duration (ns) fetching the LID."
                            },
                            "Queue": {
                              "type": "integer",
                              "description": "Duration (ns) queued before sending."
                            },
                            "Marshal": {
                              "type": "integer",
                              "description": "Duration (ns) marshalling the message."
                            },
                            "GetParticipants": {
                              "type": "integer",
                              "description": "Duration (ns) resolving participants."
                            },
                            "GetDevices": {
                              "type": "integer",
                              "description": "Duration (ns) resolving devices."
                            },
                            "GroupEncrypt": {
                              "type": "integer",
                              "description": "Duration (ns) of group encryption."
                            },
                            "PeerEncrypt": {
                              "type": "integer",
                              "description": "Duration (ns) of peer encryption."
                            },
                            "Send": {
                              "type": "integer",
                              "description": "Duration (ns) of the send."
                            },
                            "Resp": {
                              "type": "integer",
                              "description": "Duration (ns) waiting for the server response."
                            },
                            "Retry": {
                              "type": "integer",
                              "description": "Duration (ns) spent on retries."
                            }
                          }
                        },
                        "Sender": {
                          "type": "string",
                          "description": "The identity (phone-number or LID JID) the message was sent with; serialized as a JID string."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "Timestamp": "2026-07-10T14:23:45Z",
                    "ID": "3EB0C767D26A1D8A2C5B",
                    "ServerID": 0,
                    "DebugTimings": {
                      "LIDFetch": 0,
                      "Queue": 152340,
                      "Marshal": 210500,
                      "GetParticipants": 0,
                      "GetDevices": 318700,
                      "GroupEncrypt": 0,
                      "PeerEncrypt": 402100,
                      "Send": 5487300,
                      "Resp": 18342900,
                      "Retry": 0
                    },
                    "Sender": "5511999999999@s.whatsapp.net"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageInfo": {
                    "type": "object",
                    "description": "Mensagem de referência antes da qual sincronizar o histórico. Contém `Chat` (string JID), `ID` (id da mensagem), `IsFromMe` (boolean), `IsGroup` (boolean) e `Timestamp` (RFC 3339).",
                    "example": {
                      "Chat": "5511999999999@s.whatsapp.net",
                      "ID": "3EB0C767D82B0A1B2C3D",
                      "IsFromMe": false,
                      "IsGroup": false,
                      "Timestamp": "2026-07-09T12:00:00Z"
                    }
                  },
                  "count": {
                    "type": "integer",
                    "description": "Número de mensagens a buscar antes da mensagem de referência.",
                    "example": 50
                  }
                },
                "required": [
                  "messageInfo"
                ]
              }
            }
          }
        }
      }
    },
    "/community/create": {
      "post": {
        "summary": "Criar comunidade",
        "description": "Cria uma nova comunidade com o nome informado.",
        "operationId": "post__community_create",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope wrapping the created community (parent group) metadata returned by whatsmeow (types.GroupInfo).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Constant success indicator (\"success\")."
                    },
                    "data": {
                      "type": "object",
                      "description": "Full group metadata for the newly created community/parent group.",
                      "properties": {
                        "JID": {
                          "type": "string",
                          "description": "Community (parent group) JID."
                        },
                        "OwnerJID": {
                          "type": "string",
                          "description": "JID of the community owner/creator."
                        },
                        "OwnerPN": {
                          "type": "string",
                          "description": "Owner phone-number JID (may be empty)."
                        },
                        "Name": {
                          "type": "string",
                          "description": "Community name."
                        },
                        "NameSetAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the name was set."
                        },
                        "NameSetBy": {
                          "type": "string",
                          "description": "JID that set the name."
                        },
                        "NameSetByPN": {
                          "type": "string",
                          "description": "Phone-number JID that set the name (may be empty)."
                        },
                        "Topic": {
                          "type": "string",
                          "description": "Community topic/description."
                        },
                        "TopicID": {
                          "type": "string",
                          "description": "Identifier of the current topic."
                        },
                        "TopicSetAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the topic was set."
                        },
                        "TopicSetBy": {
                          "type": "string",
                          "description": "JID that set the topic."
                        },
                        "TopicSetByPN": {
                          "type": "string",
                          "description": "Phone-number JID that set the topic (may be empty)."
                        },
                        "TopicDeleted": {
                          "type": "boolean",
                          "description": "Whether the topic has been deleted."
                        },
                        "IsLocked": {
                          "type": "boolean",
                          "description": "Whether group info can only be edited by admins."
                        },
                        "IsAnnounce": {
                          "type": "boolean",
                          "description": "Whether only admins can send messages."
                        },
                        "AnnounceVersionID": {
                          "type": "string",
                          "description": "Version id of the announce setting."
                        },
                        "IsEphemeral": {
                          "type": "boolean",
                          "description": "Whether disappearing messages are enabled."
                        },
                        "DisappearingTimer": {
                          "type": "integer",
                          "description": "Disappearing-messages timer in seconds."
                        },
                        "IsIncognito": {
                          "type": "boolean",
                          "description": "Whether the group is incognito."
                        },
                        "IsParent": {
                          "type": "boolean",
                          "description": "True for a community parent group."
                        },
                        "DefaultMembershipApprovalMode": {
                          "type": "string",
                          "description": "Default membership approval mode for sub-groups (e.g. request_required)."
                        },
                        "LinkedParentJID": {
                          "type": "string",
                          "description": "Parent community JID this group is linked to (empty for a parent)."
                        },
                        "IsDefaultSubGroup": {
                          "type": "boolean",
                          "description": "Whether this is the default sub-group of a community."
                        },
                        "IsJoinApprovalRequired": {
                          "type": "boolean",
                          "description": "Whether joining requires admin approval."
                        },
                        "AddressingMode": {
                          "type": "string",
                          "description": "Addressing mode used by the group (e.g. pn or lid)."
                        },
                        "GroupCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Community creation timestamp."
                        },
                        "CreatorCountryCode": {
                          "type": "string",
                          "description": "Country code of the creator."
                        },
                        "ParticipantVersionID": {
                          "type": "string",
                          "description": "Version id of the participant list."
                        },
                        "Participants": {
                          "type": "array",
                          "description": "Members of the parent group.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "JID": {
                                "type": "string",
                                "description": "Primary JID used to message the participant."
                              },
                              "PhoneNumber": {
                                "type": "string",
                                "description": "Phone-number JID of the participant."
                              },
                              "LID": {
                                "type": "string",
                                "description": "LID JID of the participant."
                              },
                              "IsAdmin": {
                                "type": "boolean",
                                "description": "Whether the participant is an admin."
                              },
                              "IsSuperAdmin": {
                                "type": "boolean",
                                "description": "Whether the participant is the super-admin/owner."
                              },
                              "DisplayName": {
                                "type": "string",
                                "description": "Display name (only for anonymous users)."
                              },
                              "Error": {
                                "type": "integer",
                                "description": "Error code if adding this participant failed (0 on success)."
                              }
                            }
                          }
                        },
                        "ParticipantCount": {
                          "type": "integer",
                          "description": "Number of participants."
                        },
                        "MemberAddMode": {
                          "type": "string",
                          "description": "Who may add members (admin_add or all_member_add)."
                        },
                        "Suspended": {
                          "type": "boolean",
                          "description": "Whether the group is currently suspended."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "JID": "120363313346837932@g.us",
                    "OwnerJID": "5511999999999@s.whatsapp.net",
                    "OwnerPN": "5511999999999@s.whatsapp.net",
                    "Name": "Pilot Status Community",
                    "NameSetAt": "2026-07-10T13:45:12Z",
                    "NameSetBy": "5511999999999@s.whatsapp.net",
                    "NameSetByPN": "5511999999999@s.whatsapp.net",
                    "Topic": "",
                    "TopicID": "",
                    "TopicSetAt": "0001-01-01T00:00:00Z",
                    "TopicSetBy": "",
                    "TopicSetByPN": "",
                    "TopicDeleted": false,
                    "IsLocked": false,
                    "IsAnnounce": false,
                    "AnnounceVersionID": "",
                    "IsEphemeral": false,
                    "DisappearingTimer": 0,
                    "IsIncognito": false,
                    "IsParent": true,
                    "DefaultMembershipApprovalMode": "request_required",
                    "LinkedParentJID": "",
                    "IsDefaultSubGroup": false,
                    "IsJoinApprovalRequired": false,
                    "AddressingMode": "pn",
                    "GroupCreated": "2026-07-10T13:45:12Z",
                    "CreatorCountryCode": "BR",
                    "ParticipantVersionID": "1720619112-1",
                    "Participants": [
                      {
                        "JID": "5511999999999@s.whatsapp.net",
                        "PhoneNumber": "5511999999999@s.whatsapp.net",
                        "LID": "",
                        "IsAdmin": true,
                        "IsSuperAdmin": true,
                        "DisplayName": "",
                        "Error": 0
                      }
                    ],
                    "ParticipantCount": 1,
                    "MemberAddMode": "all_member_add",
                    "Suspended": false
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityName": {
                    "type": "string",
                    "description": "Nome de exibição da comunidade a ser criada.",
                    "example": "Pilot Status Community"
                  }
                },
                "required": [
                  "communityName"
                ]
              }
            }
          }
        }
      }
    },
    "/community/add": {
      "post": {
        "summary": "Adicionar grupos",
        "description": "Vincula um ou mais grupos existentes a uma comunidade.",
        "operationId": "post__community_add",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope reporting which groups were successfully linked to (added to) the community and which failed.",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Constant success indicator (\"success\")."
                    },
                    "data": {
                      "type": "object",
                      "description": "Per-group outcome of the link operation.",
                      "properties": {
                        "success": {
                          "type": "array",
                          "description": "JIDs of groups successfully linked to the community.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "failed": {
                          "type": "array",
                          "description": "JIDs of groups that failed to link.",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "success": [
                      "120363021234567890@g.us",
                      "120363029876543210@g.us"
                    ],
                    "failed": []
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID da comunidade de destino.",
                    "example": "120363000000000000@g.us"
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de JIDs de grupos a adicionar à comunidade.",
                    "example": [
                      "120363111111111111@g.us",
                      "120363222222222222@g.us"
                    ]
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              }
            }
          }
        }
      }
    },
    "/community/remove": {
      "post": {
        "summary": "Remover grupos",
        "description": "Desvincula um ou mais grupos de uma comunidade.",
        "operationId": "post__community_remove",
        "tags": [
          "Comunidade"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope reporting which groups were successfully unlinked from (removed from) the community and which failed.",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Constant success indicator (\"success\")."
                    },
                    "data": {
                      "type": "object",
                      "description": "Per-group outcome of the unlink operation.",
                      "properties": {
                        "success": {
                          "type": "array",
                          "description": "JIDs of groups successfully unlinked from the community.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "failed": {
                          "type": "array",
                          "description": "JIDs of groups that failed to unlink.",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": {
                    "success": [
                      "120363021234567890@g.us"
                    ],
                    "failed": []
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID da comunidade de destino.",
                    "example": "120363000000000000@g.us"
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de JIDs de grupos a remover da comunidade.",
                    "example": [
                      "120363111111111111@g.us"
                    ]
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              }
            }
          }
        }
      }
    },
    "/group/list": {
      "get": {
        "summary": "Listar grupos dos quais participa",
        "description": "Retorna todos os grupos dos quais o número conectado participa.",
        "operationId": "get__group_list",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned by the Evolution GO layer for List joined groups. `data` is the raw whatsmeow []types.GroupInfo array (fields are PascalCase; embedded structs are flattened; JIDs are serialized as strings).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Always \"success\" on HTTP 200."
                    },
                    "data": {
                      "type": "array",
                      "description": "All groups the connected number has joined.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "JID": {
                            "type": "string",
                            "description": "Group JID."
                          },
                          "OwnerJID": {
                            "type": "string",
                            "description": "JID of the group creator/owner."
                          },
                          "OwnerPN": {
                            "type": "string",
                            "description": "Phone-number JID of the owner."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Group subject/name."
                          },
                          "NameSetAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the name was last set."
                          },
                          "NameSetBy": {
                            "type": "string",
                            "description": "JID that last set the name."
                          },
                          "NameSetByPN": {
                            "type": "string",
                            "description": "Phone-number JID that last set the name."
                          },
                          "Topic": {
                            "type": "string",
                            "description": "Group description/topic."
                          },
                          "TopicID": {
                            "type": "string"
                          },
                          "TopicSetAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "TopicSetBy": {
                            "type": "string"
                          },
                          "TopicSetByPN": {
                            "type": "string"
                          },
                          "TopicDeleted": {
                            "type": "boolean"
                          },
                          "IsLocked": {
                            "type": "boolean",
                            "description": "Only admins can edit group info."
                          },
                          "IsAnnounce": {
                            "type": "boolean",
                            "description": "Only admins can send messages."
                          },
                          "AnnounceVersionID": {
                            "type": "string"
                          },
                          "IsEphemeral": {
                            "type": "boolean",
                            "description": "Disappearing messages enabled."
                          },
                          "DisappearingTimer": {
                            "type": "integer",
                            "description": "Disappearing-messages timer in seconds."
                          },
                          "IsIncognito": {
                            "type": "boolean"
                          },
                          "IsParent": {
                            "type": "boolean",
                            "description": "Whether this is a community parent group."
                          },
                          "DefaultMembershipApprovalMode": {
                            "type": "string"
                          },
                          "LinkedParentJID": {
                            "type": "string",
                            "description": "Parent community JID if this is a sub-group (empty string otherwise)."
                          },
                          "IsDefaultSubGroup": {
                            "type": "boolean"
                          },
                          "IsJoinApprovalRequired": {
                            "type": "boolean"
                          },
                          "AddressingMode": {
                            "type": "string",
                            "description": "Addressing mode: \"pn\" (phone number) or \"lid\"."
                          },
                          "GroupCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Group creation timestamp."
                          },
                          "CreatorCountryCode": {
                            "type": "string"
                          },
                          "ParticipantVersionID": {
                            "type": "string"
                          },
                          "Participants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "JID": {
                                  "type": "string",
                                  "description": "Primary JID used to message this participant."
                                },
                                "PhoneNumber": {
                                  "type": "string"
                                },
                                "LID": {
                                  "type": "string"
                                },
                                "IsAdmin": {
                                  "type": "boolean"
                                },
                                "IsSuperAdmin": {
                                  "type": "boolean"
                                },
                                "DisplayName": {
                                  "type": "string",
                                  "description": "Only set for anonymous users in announcement groups."
                                },
                                "Error": {
                                  "type": "integer",
                                  "description": "Error code if adding this participant failed (0 = success)."
                                },
                                "AddRequest": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "Code": {
                                      "type": "string"
                                    },
                                    "Expiration": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "ParticipantCount": {
                            "type": "integer"
                          },
                          "MemberAddMode": {
                            "type": "string",
                            "description": "Who can add members: \"admin_add\" or \"all_member_add\"."
                          },
                          "Suspended": {
                            "type": "boolean",
                            "description": "Whether the group is currently suspended."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "success",
                  "data": [
                    {
                      "JID": "120363012345678901@g.us",
                      "OwnerJID": "5511999999999@s.whatsapp.net",
                      "OwnerPN": "5511999999999@s.whatsapp.net",
                      "Name": "Equipe Pilot Status",
                      "NameSetAt": "2026-07-01T14:22:31Z",
                      "NameSetBy": "5511999999999@s.whatsapp.net",
                      "NameSetByPN": "5511999999999@s.whatsapp.net",
                      "Topic": "Grupo oficial de suporte",
                      "TopicID": "1719849751-1",
                      "TopicSetAt": "2026-07-01T14:25:10Z",
                      "TopicSetBy": "5511999999999@s.whatsapp.net",
                      "TopicSetByPN": "5511999999999@s.whatsapp.net",
                      "TopicDeleted": false,
                      "IsLocked": false,
                      "IsAnnounce": false,
                      "AnnounceVersionID": "",
                      "IsEphemeral": false,
                      "DisappearingTimer": 0,
                      "IsIncognito": false,
                      "IsParent": false,
                      "DefaultMembershipApprovalMode": "",
                      "LinkedParentJID": "",
                      "IsDefaultSubGroup": false,
                      "IsJoinApprovalRequired": false,
                      "AddressingMode": "pn",
                      "GroupCreated": "2026-07-01T14:22:31Z",
                      "CreatorCountryCode": "BR",
                      "ParticipantVersionID": "1719849751",
                      "Participants": [
                        {
                          "JID": "5511999999999@s.whatsapp.net",
                          "PhoneNumber": "5511999999999@s.whatsapp.net",
                          "LID": "199999999999999@lid",
                          "IsAdmin": true,
                          "IsSuperAdmin": true,
                          "DisplayName": "",
                          "Error": 0,
                          "AddRequest": null
                        },
                        {
                          "JID": "5511988888888@s.whatsapp.net",
                          "PhoneNumber": "5511988888888@s.whatsapp.net",
                          "LID": "198888888888888@lid",
                          "IsAdmin": false,
                          "IsSuperAdmin": false,
                          "DisplayName": "",
                          "Error": 0,
                          "AddRequest": null
                        }
                      ],
                      "ParticipantCount": 2,
                      "MemberAddMode": "all_member_add",
                      "Suspended": false
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        }
      }
    },
    "/group/info": {
      "post": {
        "summary": "Obter informações do grupo",
        "description": "Busca os metadados (nome, participantes, dono) de um único grupo.",
        "operationId": "post__group_info",
        "tags": [
          "Grupo"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Envelope returned for Get group info. `data` is a single raw whatsmeow types.GroupInfo (PascalCase fields, embedded structs flattened, JIDs serialized as strings).",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Always \"success\" on HTTP 200."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "JID": {
                          "type": "string",
                          "description": "Group JID."
                        },
                        "OwnerJID": {
                          "type": "string",
                          "description": "JID of the group creator/owner."
                        },
                        "OwnerPN": {
                          "type": "string",
                          "description": "Phone-number JID of the owner."
                        },
                        "Name": {
                          "type": "string",
                          "description": "Group subject/name."
                        },
                        "NameSetAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "NameSetBy": {
                          "type": "string"
                        },
                        "NameSetByPN": {
                          "type": "string"
                        },
                        "Topic": {
                          "type": "string",
                          "description": "Group description/topic."
                        },
                        "TopicID": {
                          "type": "string"
                        },
                        "TopicSetAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "TopicSetBy": {
                          "type": "string"
                        },
                        "TopicSetByPN": {
                          "type": "string"
                        },
                        "TopicDeleted": {
                          "type": "boolean"
                        },
                        "IsLocked": {
                          "type": "boolean",
                          "description": "Only admins can edit group info."
                        },
                        "IsAnnounce": {
                          "type": "boolean",
                          "description": "Only admins can send messages."
                        },
                        "AnnounceVersionID": {
                          "type": "string"
                        },
                        "IsEphemeral": {
                          "type": "boolean"
                        },
                        "DisappearingTimer": {
                          "type": "integer",
                          "description": "Disappearing-messages timer in seconds."
                        },
                        "IsIncognito": {
                          "type": "boolean"
                        },
                        "IsParent": {
                          "type": "boolean"
                        },
                        "DefaultMembershipApprovalMode": {
                          "type": "string"
                        },
                        "LinkedParentJID": {
                          "type": "string"
                        },
                        "IsDefaultSubGroup": {
                          "type": "boolean"
                        },
                        "IsJoinApprovalRequired": {
                          "type": "boolean"
                        },
                        "AddressingMode": {
                          "type": "string",
[...]
