{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pilot Status",
    "version": "1.0.0",
    "license": {
      "name": "Pilot Status Terms of Service",
      "url": "https://pilotstatus.com.br/terms"
    },
    "description": "API REST pública do Pilot Status. Autentique com o header `x-api-key: ps_...` (ou `x-api-key-id`). Base URL: https://pilotstatus.com.br"
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "apiKeyId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Sua chave de API ps_"
      },
      "apiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key-id",
        "description": "Id da chave de API (alternativa ao x-api-key)"
      }
    }
  },
  "paths": {
    "/v1/numbers": {
      "get": {
        "summary": "Listar números",
        "description": "Lista todos os números WhatsApp do tenant (PILOT_STATUS e Meta Cloud API), com estado de conexão e prefixos das API keys. Autentique com x-api-key-id (ou x-api-key: ps_…).",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers",
        "responses": {
          "200": {
            "description": "Listar números",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "num_01HZX...",
                    "instanceName": "tenant-5511999999999",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "apiKeys": [
                      {
                        "name": "Default",
                        "keyPrefix": "ps_abcd",
                        "keyLast4": "wxyz"
                      }
                    ],
                    "state": "OPEN",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-01T11:59:00.000Z",
                    "updatedAt": "2026-06-01T12:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar número (PILOT_STATUS)",
        "description": "Cria um número WhatsApp não-oficial (PILOT_STATUS) e retorna o QR code + pairing code para parear. Por padrão, vincula o número à API key chamadora (defina linkToApiKey:false para não vincular). Efeito real: provisiona uma instância.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome de exibição do número.",
                    "example": "Suporte"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número de telefone (mínimo 10 dígitos, opcional +).",
                    "example": "5511999999999"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Vincular o novo número à API key chamadora (padrão true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number"
                ]
              },
              "example": {
                "name": "Suporte",
                "number": "5511999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criar número",
            "content": {
              "application/json": {
                "example": {
                  "instance": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "status": "CONNECTING",
                    "isFullyConnected": false
                  },
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234",
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/meta": {
      "post": {
        "summary": "Criar número Meta (Cloud API)",
        "description": "Onboarding manual da Meta Cloud API: você já possui a WABA + token de usuário-sistema e envia as credenciais diretamente. Retorna o número criado + a URL/verifyToken de webhook que você deve configurar no seu app Meta. (Sem credenciais ainda? Use /api/v1/numbers/remote-pairing com provider=META.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_meta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome de exibição do número.",
                    "example": "Atendimento"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número de telefone (mínimo 8 dígitos, opcional +).",
                    "example": "5511999999999"
                  },
                  "metaPhoneId": {
                    "type": "string",
                    "description": "Phone Number ID da Meta Cloud API.",
                    "example": "123456789012345"
                  },
                  "metaWabaId": {
                    "type": "string",
                    "description": "WhatsApp Business Account (WABA) ID.",
                    "example": "987654321098765"
                  },
                  "metaAccessToken": {
                    "type": "string",
                    "description": "Token de acesso do usuário-sistema (system user).",
                    "example": "EAAG..."
                  },
                  "metaAppSecret": {
                    "type": "string",
                    "description": "App Secret do app Meta.",
                    "example": "a1b2c3..."
                  },
                  "metaAppId": {
                    "type": "string",
                    "description": "App ID do app Meta.",
                    "example": "100200300400500"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Vincular o número à API key chamadora (padrão true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number",
                  "metaPhoneId",
                  "metaWabaId",
                  "metaAccessToken",
                  "metaAppSecret",
                  "metaAppId"
                ]
              },
              "example": {
                "name": "Atendimento",
                "number": "5511999999999",
                "metaPhoneId": "123456789012345",
                "metaWabaId": "987654321098765",
                "metaAccessToken": "EAAG...",
                "metaAppSecret": "a1b2c3...",
                "metaAppId": "100200300400500"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criar número Meta",
            "content": {
              "application/json": {
                "example": {
                  "number": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Atendimento",
                    "provider": "META",
                    "metaPhoneId": "123456789012345",
                    "metaWabaId": "987654321098765",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-20T10:00:00.000Z"
                  },
                  "webhook": {
                    "url": "https://webhook.pilotstatus.com.br/meta",
                    "verifyToken": "ps_meta_verify_..."
                  },
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "409": {
            "description": "Número já existe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number already exists"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/remote-pairing": {
      "post": {
        "summary": "Pareamento remoto (link de conexão)",
        "description": "Gera um link para que outra pessoa conecte o próprio número. provider=PILOT_STATUS (padrão) exige name + number e devolve um link de pareamento por QR; provider=META devolve um link de Embedded Signup hospedado (a pessoa escolhe o número dentro do diálogo do Facebook, sem name/number).",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_remote-pairing",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "Tipo de link (padrão PILOT_STATUS).",
                    "example": "PILOT_STATUS"
                  },
                  "name": {
                    "type": "string",
                    "description": "Obrigatório para PILOT_STATUS; ignorado para META.",
                    "example": "Cliente Acme"
                  },
                  "number": {
                    "type": "string",
                    "description": "Obrigatório para PILOT_STATUS; ignorado para META.",
                    "example": "5511988887777"
                  },
                  "sendViaWhatsApp": {
                    "type": "boolean",
                    "description": "Enviar o link por WhatsApp (PILOT_STATUS). Padrão false.",
                    "example": "false"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "URL de redirecionamento após concluir (META).",
                    "example": "https://app.acme.com/done"
                  },
                  "externalRef": {
                    "type": "string",
                    "description": "Referência externa opcional para correlação (META).",
                    "example": "customer-42"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Vincular o número resultante à API key chamadora (padrão true).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "name": "Cliente Acme",
                "number": "5511988887777"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link PILOT_STATUS",
            "content": {
              "application/json": {
                "example": {
                  "provider": "PILOT_STATUS",
                  "remotePairingToken": "rp_01HZX...",
                  "remotePairingUrl": "https://pilotstatus.com.br/connect/rp_01HZX...",
                  "numberId": "num_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}": {
      "get": {
        "summary": "Obter número (detalhes Meta)",
        "description": "Retorna o número + todas as informações da Meta quando for um número da API oficial: bloco `meta` aninhado (phone / profile / waba, camelCase) com qualidade, tier de mensagens, status de verificação, perfil de negócio e dados da WABA, além de `health`. Servido do cache por padrão; passe `?refresh=1` para buscar ao vivo no Graph da Meta e persistir. Número não-Meta retorna `meta: null`. (A mesma rota aceita DELETE para remover; use GET /api/v1/numbers/:id/status para um poll leve só de estado.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do número WhatsApp.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Passe `1` para forçar uma busca ao vivo no Graph da Meta e atualizar o cache.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Obter número Meta",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "META",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "health": {
                    "qualityRating": "GREEN",
                    "messagingLimitTier": "TIER_2K",
                    "metaStatus": "CONNECTED",
                    "sendable": true
                  },
                  "meta": {
                    "fetchedAt": "2026-06-30T08:55:00.000Z",
                    "phone": {
                      "displayPhoneNumber": "+55 11 99999-9999",
                      "verifiedName": "Minha Empresa",
                      "qualityRating": "GREEN",
                      "status": "CONNECTED",
                      "codeVerificationStatus": "VERIFIED",
                      "nameStatus": "APPROVED",
                      "platformType": "CLOUD_API",
                      "throughput": {
                        "level": "STANDARD"
                      },
                      "messagingLimitTier": "TIER_2K",
                      "businessManagerMessagingLimit": "TIER_2K",
                      "accountMode": "LIVE"
                    },
                    "profile": {
                      "about": "Atendimento oficial",
                      "email": "contato@empresa.com",
                      "websites": [
                        "https://empresa.com"
                      ],
                      "vertical": "PROF_SERVICES"
                    },
                    "waba": {
                      "id": "1234567890",
                      "name": "Empresa WABA",
                      "currency": "BRL",
                      "businessVerificationStatus": "verified",
                      "accountReviewStatus": "APPROVED",
                      "ownershipType": "CLIENT"
                    },
                    "errors": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remover número",
        "description": "Remove permanentemente o número/instância WhatsApp, limpando recursos upstream no provedor. Efeito real e irreversível.",
        "tags": [
          "Numbers"
        ],
        "operationId": "delete_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do número/instância a remover.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Remover número",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/status": {
      "get": {
        "summary": "Status de conexão do número",
        "description": "Sincroniza e retorna o estado de conexão atual do número (OPEN/CONNECTING/…). Números Meta retornam OPEN. Útil para fazer polling após criar/conectar.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do número/instância.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "state": "OPEN"
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/connect": {
      "get": {
        "summary": "Reconectar número (QR / pairing)",
        "description": "Gera um novo QR code + pairing code para reconectar um número PILOT_STATUS desconectado. Retorna 409 se já estiver OPEN. Não se aplica a números Meta.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_connect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id do número/instância PILOT_STATUS.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Reconectar",
            "content": {
              "application/json": {
                "example": {
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234"
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/extra-numbers": {
      "get": {
        "summary": "Prévia de comprar número extra (On Demand)",
        "description": "Calcula o custo de comprar N número(s) extra(s) sem cobrar nada. Requer key escopada a TENANT (403 para key de número). Para tenants no plano Grátis indica a conversão para On Demand: o número grátis vira pago/ilimitado e o novo também (você paga por número/mês). On Demand = mensagens ilimitadas em todos os números.\n\n**Requer uma chave com escopo de tenant.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "get_subscription_extra-numbers",
        "parameters": [
          {
            "name": "quantity",
            "in": "query",
            "required": false,
            "description": "Quantos números comprar (default 1).",
            "schema": {
              "type": "number"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Prévia — tenant Grátis com 1 número conectado comprando 1 (converte para On Demand). `proratedTotal` é cobrado agora; `monthlyTotalBRL` é o que recorre a cada ciclo.",
            "content": {
              "application/json": {
                "example": {
                  "plan": "FREE",
                  "requiresConversion": true,
                  "explanation": {
                    "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                    "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                  },
                  "currentNumbers": 1,
                  "requested": 1,
                  "billedQuantity": 2,
                  "currency": "BRL",
                  "unitPriceMonthly": 29.9,
                  "proratedUnitPrice": 14.95,
                  "proratedTotal": 29.9,
                  "remainingDays": 15,
                  "totalDaysInCycle": 30,
                  "walletBalance": 0,
                  "hasSavedCard": false,
                  "fundingSource": "none",
                  "canFund": false,
                  "unitPriceBRL": 29.9,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de número usada em endpoint exclusivo de tenant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Comprar número extra (On Demand)",
        "description": "Compra N número(s) extra(s). Requer key escopada a TENANT. Tenant Grátis é convertido para On Demand (cobra o número grátis convertido + o novo) — exige confirm:true, senão retorna 409 CONFIRMATION_REQUIRED com a prévia. Com cartão salvo (Planos → Cartão) cobra na hora; senão devolve { checkoutUrl } para pagar. Efeito real: cobra de verdade. Só Stripe.\n\n**Requer uma chave com escopo de tenant.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "post_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "Quantos números comprar (default 1).",
                    "example": "1"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Obrigatório (true) quando a compra converte o plano (Grátis → On Demand).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "quantity": 1,
                "confirm": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comprou 1 (com confirmação). O custo proporcional foi coberto por créditos da carteira e/ou cartão salvo.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 2,
                  "proratedTotal": 29.9,
                  "currency": "BRL",
                  "creditsUsed": 0,
                  "cardCharged": 29.9,
                  "maxNumbers": 2,
                  "currentNumberCount": 1,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de número usada em endpoint exclusivo de tenant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "A compra converte o plano Grátis em On Demand, o que muda o valor pago — reenvie com `confirm: true`. A prévia completa vem junto.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Confirmação necessária: comprar um número extra converte o plano Grátis em On Demand (todos os números passam a ser cobrados). Reenvie com confirm:true.",
                  "code": "CONFIRMATION_REQUIRED",
                  "preview": {
                    "plan": "FREE",
                    "requiresConversion": true,
                    "explanation": {
                      "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                      "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                    },
                    "currentNumbers": 1,
                    "requested": 1,
                    "billedQuantity": 2,
                    "currency": "BRL",
                    "unitPriceMonthly": 29.9,
                    "proratedUnitPrice": 14.95,
                    "proratedTotal": 29.9,
                    "remainingDays": 15,
                    "totalDaysInCycle": 30,
                    "walletBalance": 0,
                    "hasSavedCard": false,
                    "fundingSource": "none",
                    "canFund": false,
                    "unitPriceBRL": 29.9,
                    "monthlyTotalBRL": 59.8
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remover número extra (On Demand)",
        "description": "Devolve N slot(s) de número extra pago — o inverso de POST. Requer uma key com escopo de TENANT. SEM estorno do ciclo corrente; só para a cobrança futura. Deletar um número (DELETE /v1/numbers/{id}) já libera o slot automaticamente. Retorna 409 NUMBER_LIMIT_EXCEEDED se a redução deixaria o limite abaixo dos números conectados.\n\n**Requer uma key com escopo de tenant.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "delete_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "Quantos slots de número extra devolver (default 1).",
                    "example": "1"
                  }
                }
              },
              "example": {
                "quantity": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removeu 1 slot",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 1,
                  "maxNumbers": 1,
                  "proratedTotal": 0
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "quantity deve ser um inteiro >= 1"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Key de número usada em endpoint de tenant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "A redução deixaria o limite abaixo dos números conectados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "currentNumberCount": {
                      "type": "number"
                    },
                    "maxNumbers": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "Você tem 2 número(s) conectado(s); remover 2 deixaria o limite em 0. Desconecte números antes de remover slots pagos.",
                  "code": "NUMBER_LIMIT_EXCEEDED",
                  "currentNumberCount": 2,
                  "maxNumbers": 0
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Gerar link de checkout (Stripe)",
        "description": "Cria uma página de checkout hospedada do Stripe e retorna a url para o usuário abrir no navegador — nada é cobrado até ele concluir lá. purpose:\"wallet_topup\" (exige amount > 0, na moeda da conta) gera um pagamento único que credita a carteira pré-paga; purpose:\"add_card\" gera uma página para salvar um cartão. Ação de conta: requer key escopada a TENANT (403 NUMBER_SCOPE_NOT_ALLOWED para key de número). Só Stripe.\n\n**Requer uma chave com escopo de tenant.**",
        "tags": [
          "Billing"
        ],
        "operationId": "post_billing_checkout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purpose": {
                    "type": "string",
                    "description": "Finalidade da página de checkout.",
                    "example": "wallet_topup"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Valor a creditar na carteira, na moeda da conta (obrigatório para wallet_topup).",
                    "example": "50"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "URL de redirecionamento após o sucesso.",
                    "example": "https://app.acme.com/billing/ok"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "URL de redirecionamento se cancelar.",
                    "example": "https://app.acme.com/billing"
                  }
                },
                "required": [
                  "purpose"
                ]
              },
              "example": {
                "purpose": "wallet_topup",
                "amount": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recarregar carteira",
            "content": {
              "application/json": {
                "example": {
                  "url": "https://checkout.stripe.com/c/pay/cs_test_...",
                  "purpose": "wallet_topup",
                  "orderId": "cto_01HZX...",
                  "amount": 50,
                  "currency": "BRL"
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de número usada em endpoint exclusivo de tenant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/send": {
      "post": {
        "summary": "Enviar mensagem",
        "description": "Enfileira o envio de uma mensagem pelo número vinculado à API key. Use exatamente um de templateId (envio por template, com variables) ou text (texto livre); e exatamente um destino: destinationNumber (E.164), groupId (…@g.us) ou newsletterId (…@newsletter). Requer key escopada a número (403 para key de tenant). Efeito real: entrega de verdade e pode custar. NOT_SUPPORTED_FOR_META para groupId/newsletterId em números Meta.\n\n**Requer uma chave com escopo de número.**",
        "tags": [
          "Messages"
        ],
        "operationId": "post_messages_send",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templateId": {
                    "type": "string",
                    "description": "Id ou nome do template (exclusivo com text).",
                    "example": "boas_vindas"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto livre (exclusivo com templateId).",
                    "example": "Olá! Sua entrega chegou."
                  },
                  "destinationNumber": {
                    "type": "string",
                    "description": "Destino (exatamente um destino). Aceita telefone E.164 OU um BSUID — o userId durável do contato (ex.: BR.13491208655302741918), retornado por GET /api/v1/conversations. Use o BSUID para responder a contatos que usam username do WhatsApp (sem telefone). Templates de autenticação one-tap/zero-tap/copy-code exigem telefone.",
                    "example": "5511988887777"
                  },
                  "groupId": {
                    "type": "string",
                    "description": "JID de grupo. NOT_SUPPORTED_FOR_META.",
                    "example": "123456789-987654321@g.us"
                  },
                  "newsletterId": {
                    "type": "string",
                    "description": "JID de canal/newsletter. NOT_SUPPORTED_FOR_META.",
                    "example": "120363000000000000@newsletter"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Variáveis do template (padrão {}).",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "nome": "Ana"
                    }
                  },
                  "media": {
                    "type": "string",
                    "description": "URL pública http(s) OU data URI base64 (ex.: data:audio/ogg;base64,AAAA…). Base64 funciona na Meta Cloud API e na Evolution v2; na Evolution GO use uma URL pública http(s) (GO não aceita base64). Usado no modo template ou no modo mídia direta (media + mediaType, sem templateId e sem text).",
                    "example": "https://cdn.acme.com/img.png"
                  },
                  "mediaType": {
                    "type": "string",
                    "description": "Tipo da mídia. No modo mídia direta (sem templateId/text) envie media + mediaType: caption opcional para image/video/document (não para audio); botões/header/footer/variáveis não permitidos. \"audio\" é entregue como nota de voz (PTT) na Meta Cloud API, Evolution v2 e Evolution GO; na Evolution v2 e GO um indicador de presença \"gravando áudio\" é mostrado ao destinatário antes da nota de voz (a Meta não tem API de presença de saída).",
                    "example": "image"
                  },
                  "mediaFilename": {
                    "type": "string",
                    "description": "Nome com que o documento chega no WhatsApp. Apenas envios diretos de documento (exige mediaType: document). Sem ele, o nome vem do final da URL. Separadores de caminho são removidos. Retorna 400 se enviado sem media, em um envio de template, ou com mediaType diferente de document.",
                    "example": "Nota Fiscal 123.pdf"
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Até **3** botões interativos. Cada item tem `type` + `displayText` mais um campo específico do tipo.\n\n- `reply` — botão de resposta rápida; funciona em **texto livre** e em **template**. Defina `id` (valor seu; **não** volta no toque — case as respostas por rótulo + `quotedMessageId`).\n- `url` — abre um link; defina `url` (https). Em texto livre, **no máximo um botão URL por mensagem**, e ele **pode** ser combinado com botões `reply`.\n- `call` — liga para um número; defina `phoneNumber` (E.164, ex.: `+5511999999999`). **Somente em templates** — em texto livre retorna 400 (`BUTTON_PHONE_NUMBER_TEMPLATE_ONLY`).\n- `copy` — copia um código; defina `copyCode`. **Somente em templates** — em texto livre retorna 400 (`BUTTON_COPY_CODE_TEMPLATE_ONLY`).\n\nEm um **template**, os botões substituem os botões do próprio template.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "reply",
                            "url",
                            "call",
                            "copy"
                          ],
                          "description": "Tipo do botão."
                        },
                        "displayText": {
                          "type": "string",
                          "description": "Rótulo visível do botão."
                        },
                        "id": {
                          "type": "string",
                          "description": "Só `reply` — identificador que você define (não é devolvido no toque)."
                        },
                        "url": {
                          "type": "string",
                          "description": "Só `url` — link https a abrir."
                        },
                        "phoneNumber": {
                          "type": "string",
                          "description": "Só `call` — telefone a discar, E.164."
                        },
                        "copyCode": {
                          "type": "string",
                          "description": "Só `copy` — código que o usuário copia."
                        }
                      },
                      "required": [
                        "type",
                        "displayText"
                      ]
                    },
                    "example": [
                      {
                        "type": "reply",
                        "displayText": "Confirmar",
                        "id": "confirmar"
                      },
                      {
                        "type": "url",
                        "displayText": "Ver detalhes",
                        "url": "https://exemplo.com/pedido/123"
                      }
                    ]
                  },
                  "list": {
                    "type": "object",
                    "description": "**Lista** interativa de seleção única — um botão que abre um menu de até **10** linhas. Requer `text` (o corpo da mensagem acima do botão); exclusiva com `templateId`, `buttons` e mídia direta. Funciona em **ambos** os tipos de número com a mesma requisição: números **Meta Cloud API** enviam a lista interativa oficial, números **não oficiais (Pilot Status web)** enviam a lista nativa. A seleção do destinatário chega como mensagem/webhook de entrada normal.",
                    "properties": {
                      "buttonText": {
                        "type": "string",
                        "description": "Rótulo do botão que abre a lista (1–20 caracteres)."
                      },
                      "sections": {
                        "type": "array",
                        "description": "De 1 a 10 seções. Máx. **10 linhas no total** somando todas as seções.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "description": "Título opcional da seção."
                            },
                            "rows": {
                              "type": "array",
                              "description": "Linhas da seção (pelo menos 1).",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id opcional da linha, até 200 caracteres (gerado quando ausente)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "Título da linha (1–24 caracteres)."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição opcional da linha (até 72 caracteres)."
                                  }
                                },
                                "required": [
                                  "title"
                                ]
                              }
                            }
                          },
                          "required": [
                            "rows"
                          ]
                        }
                      }
                    },
                    "required": [
                      "buttonText",
                      "sections"
                    ],
                    "example": {
                      "buttonText": "Ver áreas",
                      "sections": [
                        {
                          "title": "Atendimento",
                          "rows": [
                            {
                              "id": "clientes",
                              "title": "Clientes",
                              "description": "Consultar e cadastrar clientes"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "carousel": {
                    "type": "object",
                    "description": "**Carrossel** de sessão — uma tira horizontal e arrastável de **2–10 cards** anexada a um envio livre. Requer `text` (o corpo da mensagem acima dos cards); exclusivo com `templateId`, `list`, `buttons` e mídia direta, e **não** aceita `header` (a mídia fica em cada card). Funciona nos **dois** tipos de número: números **Meta Cloud API** só enviam dentro da **janela de atendimento de 24h** (fora dela, use um template de carrossel aprovado); números **não oficiais (Pilot Status web)** enviam no avulso. Botões do carrossel de sessão são **só `QUICK_REPLY` na Meta** (um botão `URL` ali exige um template de carrossel aprovado); em números **não oficiais** um botão **`URL`** também funciona no avulso. O toque num botão de resposta rápida chega como um webhook de entrada normal.",
                    "properties": {
                      "cardTemplate": {
                        "type": "object",
                        "description": "**Esqueleto** compartilhado que todo card deve seguir — uma decisão `hasBody` e uma lista de botões (tipos e ordem). Cada card só preenche a própria mídia, corpo e valores dos botões.",
                        "properties": {
                          "hasBody": {
                            "type": "boolean",
                            "description": "Se todos os cards têm corpo. Tudo-ou-nada entre os cards."
                          },
                          "buttons": {
                            "type": "array",
                            "description": "Esqueleto de botões (até 2): o tipo e a ordem que todo card repete.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "QUICK_REPLY",
                                    "URL"
                                  ],
                                  "description": "Tipo do botão. `QUICK_REPLY` funciona em todos; `URL` sai no avulso só em números não oficiais (na Meta um botão URL exige template de carrossel aprovado)."
                                }
                              },
                              "required": [
                                "type"
                              ]
                            }
                          }
                        },
                        "required": [
                          "hasBody"
                        ]
                      },
                      "cards": {
                        "type": "array",
                        "description": "**2–10 cards**. Todo card deve seguir o `cardTemplate` na presença de corpo e no tipo/ordem dos botões.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "media": {
                              "type": "object",
                              "description": "Mídia de cabeçalho do card (**obrigatória**). A `url` deve ser uma URL `https` pública terminada em `.png`, `.jpg`, `.jpeg` ou `.webp`, sem query string — uma URL inalcançável é recusada antes do despacho.",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "URL de mídia https pública, terminada em .png/.jpg/.jpeg/.webp, sem query string."
                                },
                                "format": {
                                  "type": "string",
                                  "enum": [
                                    "IMAGE",
                                    "VIDEO"
                                  ],
                                  "description": "Formato da mídia. `IMAGE` em todos os provedores; `VIDEO` só na Meta. Padrão `IMAGE`."
                                }
                              },
                              "required": [
                                "url"
                              ]
                            },
                            "body": {
                              "type": "string",
                              "description": "Texto do corpo do card, até **160** caracteres. Obrigatório quando `cardTemplate.hasBody` é true, proibido quando false."
                            },
                            "buttons": {
                              "type": "array",
                              "description": "Botões do card (até **2**), seguindo o `cardTemplate` no tipo e na ordem.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "QUICK_REPLY",
                                      "URL"
                                    ],
                                    "description": "Deve ser igual ao tipo do botão do `cardTemplate` no mesmo índice."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Rótulo do botão (1–20 caracteres)."
                                  },
                                  "payload": {
                                    "type": "string",
                                    "description": "Id de payload do QUICK_REPLY devolvido no toque (até 256 caracteres; cai no `text`)."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Destino do botão URL (obrigatório num botão `URL`)."
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              }
                            }
                          },
                          "required": [
                            "media"
                          ]
                        }
                      }
                    },
                    "required": [
                      "cardTemplate",
                      "cards"
                    ],
                    "example": {
                      "cardTemplate": {
                        "hasBody": true,
                        "buttons": [
                          {
                            "type": "QUICK_REPLY"
                          }
                        ]
                      },
                      "cards": [
                        {
                          "media": {
                            "format": "IMAGE",
                            "url": "https://media.example.com/a.png"
                          },
                          "body": "Tênis — 30% off",
                          "buttons": [
                            {
                              "type": "QUICK_REPLY",
                              "text": "Quero",
                              "payload": "SKU-1"
                            }
                          ]
                        },
                        {
                          "media": {
                            "format": "IMAGE",
                            "url": "https://media.example.com/b.png"
                          },
                          "body": "Mochila — frete grátis",
                          "buttons": [
                            {
                              "type": "QUICK_REPLY",
                              "text": "Quero",
                              "payload": "SKU-2"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "header": {
                    "type": "object",
                    "description": "Cabeçalho de uma mensagem interativa de texto livre. Requer `buttons`. `type` é `text` (até 60 chars em `content`) ou `image` / `video` / `document` (URL pública em `content`).",
                    "example": {
                      "type": "text",
                      "content": "Título do cabeçalho"
                    },
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "image",
                          "video",
                          "document"
                        ],
                        "description": "Tipo do cabeçalho."
                      },
                      "content": {
                        "type": "string",
                        "description": "Texto (type=text, ≤60 chars) ou URL pública de mídia (image/video/document)."
                      }
                    }
                  },
                  "footer": {
                    "type": "string",
                    "description": "Rodapé da mensagem (máx. 60 caracteres). Requer `buttons`."
                  },
                  "deliverAt": {
                    "type": "string",
                    "description": "Agendar a entrega para um instante futuro.",
                    "example": "2026-06-21T09:00:00Z"
                  },
                  "deliverUntil": {
                    "type": "string",
                    "description": "Janela máxima de entrega.",
                    "example": "2026-06-21T18:00:00Z"
                  },
                  "labels": {
                    "type": "array",
                    "description": "Labels a aplicar à conversa de destino.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "pedido",
                      "vip"
                    ]
                  }
                }
              },
              "example": {
                "templateId": "boas_vindas",
                "destinationNumber": "5511988887777",
                "variables": {
                  "nome": "Ana"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Enviar template",
            "content": {
              "application/json": {
                "example": {
                  "id": "msg_01HZX...",
                  "correlationId": "corr_01HZX...",
                  "status": "QUEUED",
                  "createdAt": "2026-06-20T10:00:00.000Z",
                  "origin": "Suporte",
                  "sourceNumber": "5511999999999"
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de tenant usada em endpoint com escopo de número",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "404": {
            "description": "Template não encontrado ou sem versão aprovada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Template not found"
                }
              }
            }
          },
          "422": {
            "description": "Cobrança do tenant suspensa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Billing suspended",
                  "code": "BILLING_SUSPENDED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "summary": "Obter mensagem",
        "description": "Retorna o status e os timestamps de uma mensagem. O {id} pode ser o id interno da mensagem, o correlationId ou o id da mensagem no provedor (externalMessageId / wamid da Meta). Inclui externalMessageId, status, destino, sentAt/deliveredAt/readAt e erro, se houver. Requer key escopada a número.\n\n**Requer uma chave com escopo de número.**",
        "tags": [
          "Messages"
        ],
        "operationId": "get_messages_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id interno, correlationId ou externalMessageId (wamid da Meta).",
            "schema": {
              "type": "string"
            },
            "example": "msg_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Obter mensagem",
            "content": {
              "application/json": {
                "example": {
                  "id": "msg_01HZX...",
                  "externalMessageId": "wamid.HBg...",
                  "status": "DELIVERED",
                  "correlationId": "corr_01HZX...",
                  "destinationNumber": "5511988887777",
                  "createdAt": "2026-06-20T10:00:00.000Z",
                  "sentAt": "2026-06-20T10:00:01.000Z",
                  "deliveredAt": "2026-06-20T10:00:03.000Z",
                  "readAt": null,
                  "errorMessage": null,
                  "template": "boas_vindas"
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de tenant usada em endpoint com escopo de número",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/cancel": {
      "delete": {
        "summary": "Cancelar mensagens agendadas",
        "description": "Cancela mensagens AGENDADAS (ainda não enviadas) pelo array de messageIds (1–100). Requer key escopada a número. Efeito real sobre a fila de envio.\n\n**Requer uma chave com escopo de número.**",
        "tags": [
          "Messages"
        ],
        "operationId": "delete_messages_cancel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageIds": {
                    "type": "array",
                    "description": "Ids das mensagens agendadas a cancelar.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "msg_01HZX...",
                      "msg_02HZX..."
                    ]
                  }
                },
                "required": [
                  "messageIds"
                ]
              },
              "example": {
                "messageIds": [
                  "msg_01HZX...",
                  "msg_02HZX..."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelar agendadas",
            "content": {
              "application/json": {
                "example": {
                  "cancelled": 2,
                  "notFound": 0
                }
              }
            }
          },
          "400": {
            "description": "Payload ou parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de tenant usada em endpoint com escopo de número",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "summary": "Listar conversas",
        "description": "Lista as conversas do número vinculado, ordenadas pela última atividade (lastMessageAt desc). Paginação por page/pageSize. Filtre por período com startDate/endDate (ISO 8601, sobre lastMessageAt). O modo de privacidade do número (PII) afeta a resposta: RELAY_ONLY retorna [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS limita à janela max(startDate, agora − retentionDays). Requer key escopada a número. Identidade do contato: `from` é o telefone E.164 (com `+`) quando conhecido — pode ser null para contatos que usam username do WhatsApp; `userId` é o BSUID durável (id estável do contato) e `username` o handle público quando visível.\n\n**Requer uma chave com escopo de número.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_conversations",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Início do período (filtra por lastMessageAt). Deve ser ≤ endDate.",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Fim do período (filtra por lastMessageAt).",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-27T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Página (padrão 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Itens por página (padrão 30, máx 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Listar conversas",
            "content": {
              "application/json": {
                "example": {
                  "conversations": [
                    {
                      "id": "conv_01HZX...",
                      "from": "+5511988887777",
                      "fromName": "Ana",
                      "userId": "BR.13491208655302741918",
                      "username": "ana",
                      "type": "DIRECT",
                      "unreadCount": 2,
                      "lastMessageAt": "2026-06-27T10:00:00.000Z",
                      "lastMessagePreview": "Olá! Sua entrega chegou."
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Range de datas inválido",
            "content": {
              "application/json": {
                "example": {
                  "error": "startDate must be before or equal to endDate",
                  "code": "INVALID_DATE_RANGE"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de tenant usada em endpoint com escopo de número",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/group": {
      "get": {
        "summary": "Mensagens de grupos",
        "description": "Lista as mensagens em conversas de GRUPO do número vinculado (mais recentes primeiro). Paginação por page/pageSize. Filtre por período com startDate/endDate (ISO 8601, sobre createdAt). Números Meta retornam 400 NOT_SUPPORTED_FOR_META (grupos só em PILOT_STATUS). O modo de privacidade do número (PII) se aplica: RELAY_ONLY → [] + notice:\"PII_RELAY_ONLY\"; STORE_X_DAYS limita à janela max(startDate, agora − retentionDays). Requer key escopada a número.\n\n**Requer uma chave com escopo de número.**",
        "tags": [
          "Conversations"
        ],
        "operationId": "get_messages_group",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Início do período (filtra por createdAt). Deve ser ≤ endDate.",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Fim do período (filtra por createdAt).",
            "schema": {
              "type": "string",
              "description": "(string (ISO 8601))"
            },
            "example": "2026-06-27T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Página (padrão 1).",
            "schema": {
              "type": "string",
              "description": "(integer (≥1))"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Itens por página (padrão 30, máx 100).",
            "schema": {
              "type": "string",
              "description": "(integer (1–100))"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagens de grupo",
            "content": {
              "application/json": {
                "example": {
                  "messages": [
                    {
                      "id": "cm_01HZX...",
                      "conversationId": "conv_01HZX...",
                      "groupId": "123456789-987654321@g.us",
                      "groupSubject": "Pilot Status Group",
                      "direction": "INBOUND",
                      "fromNumber": "5511988887777",
                      "text": "Bom dia, pessoal!",
                      "createdAt": "2026-06-27T10:00:00.000Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 30,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Número Meta (não suportado)",
            "content": {
              "application/json": {
                "example": {
                  "error": "Group messages are not supported for Meta Cloud API numbers",
                  "code": "NOT_SUPPORTED_FOR_META"
                }
              }
            }
          },
          "401": {
            "description": "Header `x-api-key` / `x-api-key-id` ausente ou inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Chave com escopo de tenant usada em endpoint com escopo de número",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Limite de taxa excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/history": {
      "get": {
        "summary": "Histórico de mensagens",
[...]
