{
  "openapi": "3.1.0",
  "info": {
    "title": "Meta Cloud API Layer",
    "version": "1.0.0",
    "description": "Pilot Status API Layer — Meta Cloud API (WhatsApp Cloud API / Graph API passthrough). Base URL `https://pilotstatus.com.br/api/layer/meta`. Call Graph API nodes exactly as you would `graph.facebook.com/<version>/` — Pilot swaps your `ps_` key for the number's real Meta system token. The `vNN.N` version prefix is optional (defaults to v22.0). Account/business/auth management and number (de)registration are blocked."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/meta"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Pilot Status API key (ps_...). You may also send `Authorization: Bearer ps_...` or `?access_token=ps_...`."
      }
    }
  },
  "tags": [
    {
      "name": "Messages"
    },
    {
      "name": "Media"
    },
    {
      "name": "By id"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Phone numbers"
    },
    {
      "name": "Business profile"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Calls"
    }
  ],
  "paths": {
    "/{phoneNumberId}/messages": {
      "post": {
        "summary": "Send a message",
        "description": "Send any WhatsApp Cloud API message. The `type` field selects the kind: text, image, audio, video, document, sticker, location, contacts, interactive (buttons/list/flow), template, reaction.",
        "operationId": "post__phoneNumberId_messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "recipient_type": "individual",
                "to": "5511999999999",
                "type": "text",
                "text": {
                  "preview_url": false,
                  "body": "Hello from Pilot Status 👋"
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/messages/status": {
      "post": {
        "summary": "Mark as read / typing",
        "description": "Send a read receipt (`status: read`) or a typing indicator for an inbound message.",
        "operationId": "post__phoneNumberId_messages_status",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "status": "read",
                "message_id": "wamid.HBgLNTUxMTk5..."
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/media": {
      "post": {
        "summary": "Upload media",
        "description": "Upload a media file (**multipart/form-data**): fields `messaging_product=whatsapp`, `type` (MIME) and `file`. Returns a media id to use in a message.",
        "operationId": "post__phoneNumberId_media",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  },
                  "type": {
                    "type": "string",
                    "description": "MIME type, e.g. image/jpeg"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "messaging_product",
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/{appId}/uploads": {
      "post": {
        "summary": "Create upload session",
        "description": "Start a resumable upload session (query: `file_length`, `file_type`). Returns an `upload:<id>` handle; send the bytes with `POST /{id}`.",
        "operationId": "post__appId_uploads",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta App id (resumable upload session)."
          }
        ]
      }
    },
    "/{id}": {
      "get": {
        "summary": "Get by id",
        "description": "Fetch a Graph node by id — the id type selects the operation: **media id** → signed media URL + metadata (the `url` is rewritten to a Pilot download URL); **group id** → group info; **phone-number id** → number info (display number, quality, status); **template id** → template details.",
        "operationId": "get__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ]
      },
      "post": {
        "summary": "Update by id",
        "description": "id type selects the operation: **template id** → edit an approved template's `components`; **upload session id** → append the file bytes (raw binary body, header `file_offset`).",
        "operationId": "post__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "components": [
                  {
                    "type": "BODY",
                    "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete by id",
        "description": "id type selects the operation: **media id** → delete an uploaded media asset; **group id** → leave/close a group. Deleting your own WABA or phone-number id is blocked (403).",
        "operationId": "delete__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ]
      }
    },
    "/{wabaId}/message_templates": {
      "get": {
        "summary": "List templates",
        "description": "List the WABA's message templates. Supports Graph paging/filter query params (`limit`, `name`, `status`, `after`).",
        "operationId": "get__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      },
      "post": {
        "summary": "Create template",
        "description": "Create a message template for Meta approval.",
        "operationId": "post__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "pedido_enviado",
                "language": "pt_BR",
                "category": "UTILITY",
                "components": [
                  {
                    "type": "BODY",
                    "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                  },
                  {
                    "type": "BUTTONS",
                    "buttons": [
                      {
                        "type": "QUICK_REPLY",
                        "text": "Acompanhar"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "description": "Delete a template by name (query `?name=<template_name>`).",
        "operationId": "delete__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      }
    },
    "/{wabaId}/phone_numbers": {
      "get": {
        "summary": "List phone numbers",
        "description": "List the phone numbers registered under the WABA.",
        "operationId": "get__wabaId_phone_numbers",
        "tags": [
          "Phone numbers"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      }
    },
    "/{phoneNumberId}/whatsapp_business_profile": {
      "get": {
        "summary": "Get business profile",
        "description": "Read the number's WhatsApp Business profile. Use `?fields=about,address,description,email,profile_picture_url,websites,vertical`.",
        "operationId": "get__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      },
      "post": {
        "summary": "Update business profile",
        "description": "Update the number's WhatsApp Business profile fields.",
        "operationId": "post__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "about": "Loja Acme",
                "address": "Rua Exemplo, 123",
                "description": "Atendimento e vendas",
                "email": "contato@acme.com",
                "websites": [
                  "https://acme.com"
                ],
                "vertical": "RETAIL"
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/groups": {
      "post": {
        "summary": "Create group",
        "description": "Create a Cloud API group (OBA-eligible numbers).",
        "operationId": "post__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "subject": "Equipe Acme",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "List groups",
        "description": "List the groups owned by the number.",
        "operationId": "get__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      }
    },
    "/{groupId}/participants": {
      "post": {
        "summary": "Add participants",
        "description": "Add members to a group.",
        "operationId": "post__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove participants",
        "description": "Remove members from a group.",
        "operationId": "delete__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/admins": {
      "post": {
        "summary": "Promote to admin",
        "description": "Promote participants to group admin.",
        "operationId": "post__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Demote admin",
        "description": "Demote group admins to member.",
        "operationId": "delete__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/invites": {
      "get": {
        "summary": "Get invite link",
        "description": "Get the group's invite link.",
        "operationId": "get__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ]
      },
      "post": {
        "summary": "Reset invite link",
        "description": "Revoke the current invite link and generate a new one.",
        "operationId": "post__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ]
      }
    },
    "/{groupId}/pins": {
      "post": {
        "summary": "Pin group message",
        "description": "Pin a message in the group.",
        "operationId": "post__groupId_pins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "message_id": "wamid.HBgLNTUxMTk5..."
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/calls": {
      "post": {
        "summary": "Call action",
        "description": "WhatsApp Business Calling control. `action` selects: `connect`, `pre_accept`, `accept`, `reject`, `terminate`. Requires a Tier 2K+ number with calling enabled.",
        "operationId": "post__phoneNumberId_calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "to": "5511999999999",
                "action": "connect",
                "session": {
                  "sdp_type": "offer",
                  "sdp": "v=0..."
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/settings": {
      "get": {
        "summary": "Get calling settings",
        "description": "Read the number's calling settings.",
        "operationId": "get__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      },
      "post": {
        "summary": "Update calling settings",
        "description": "Enable/disable calling and set call hours / SIP / voicemail.",
        "operationId": "post__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "calling": {
                  "status": "ENABLED",
                  "call_icon_visibility": "DEFAULT"
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/call_permissions": {
      "get": {
        "summary": "Get call permissions",
        "description": "Check the calling permission for a user (query `?user_wa_id=<msisdn>`).",
        "operationId": "get__phoneNumberId_call_permissions",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      }
    }
  }
}