{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution GO Layer",
    "version": "1.0.0",
    "description": "Pilot Status API Layer — Evolution GO. Base URL `https://pilotstatus.com.br/api/layer/evolution-go`. Authenticate with the `apikey` header (your Pilot Status `ps_` key) or `Authorization: Bearer`. Instance/session endpoints are NOT available through the layer."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-go"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Call (voice)"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Community"
    },
    {
      "name": "Group"
    },
    {
      "name": "Label"
    },
    {
      "name": "Message"
    },
    {
      "name": "Newsletter / Channels"
    },
    {
      "name": "Send (load-balanced)"
    },
    {
      "name": "User / Contacts"
    }
  ],
  "paths": {
    "/call/start": {
      "post": {
        "summary": "Start outbound call",
        "description": "Places an outbound WhatsApp voice call to the given number and returns the created call session.",
        "operationId": "post__call_start",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in DDI+DDD+number format (e.g. `5511999999999`) or a full JID."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": "5511999999999"
              }
            }
          }
        }
      }
    },
    "/call/list": {
      "get": {
        "summary": "List active calls",
        "description": "Returns all currently tracked call sessions for the number.",
        "operationId": "get__call_list",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/call/get": {
      "post": {
        "summary": "Get call by id",
        "description": "Returns the current state of a single tracked call session.",
        "operationId": "post__call_get",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the call to fetch. An empty body is accepted (returns the latest tracked call)."
                  }
                }
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/answer": {
      "post": {
        "summary": "Answer incoming call",
        "description": "Answers a ringing incoming call; omit `callId` to answer the latest incoming call.",
        "operationId": "post__call_answer",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the incoming call to answer. When omitted, the most recent incoming call is answered."
                  }
                }
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/reject": {
      "post": {
        "summary": "Reject call",
        "description": "Rejects a call; if the call is no longer tracked, it falls back to rejecting via `callCreator`.",
        "operationId": "post__call_reject",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the call to reject."
                  },
                  "callCreator": {
                    "type": "string",
                    "description": "JID of the caller, used as a fallback when the call is not tracked (e.g. `5511999999999@s.whatsapp.net`)."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "callCreator": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/call/reject/by-id": {
      "post": {
        "summary": "Reject tracked call",
        "description": "Rejects a currently tracked call by its identifier.",
        "operationId": "post__call_reject_by_id",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the tracked call to reject."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/reject/latest": {
      "post": {
        "summary": "Reject latest offer",
        "description": "Rejects the most recently offered incoming call for the number.",
        "operationId": "post__call_reject_latest",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/call/hangup": {
      "post": {
        "summary": "Hang up call",
        "description": "Ends an active call by its identifier.",
        "operationId": "post__call_hangup",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the active call to hang up."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A"
              }
            }
          }
        }
      }
    },
    "/call/media/play": {
      "post": {
        "summary": "Play audio to call",
        "description": "Streams an audio file into an active call. Accepts this JSON body (server-side `filePath`) or a `multipart/form-data` upload with fields `callId`, `audio` (or `file`) and `hangupAfterPlay`.",
        "operationId": "post__call_media_play",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the active call to play into."
                  },
                  "filePath": {
                    "type": "string",
                    "description": "Server-side path to the audio file (`.mp3`, `.wav` or `.opus`)."
                  },
                  "hangupAfterPlay": {
                    "type": "boolean",
                    "description": "When `true`, ends the call automatically once playback finishes. Defaults to `false`."
                  }
                },
                "required": [
                  "callId",
                  "filePath"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "filePath": "/audios/greeting.mp3",
                "hangupAfterPlay": true
              }
            }
          }
        }
      }
    },
    "/call/media/realtime/session": {
      "post": {
        "summary": "Create realtime session",
        "description": "Creates a short-lived token and WebSocket URL for streaming realtime PCM audio to/from an active call.",
        "operationId": "post__call_media_realtime_session",
        "tags": [
          "Call (voice)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "Identifier of the active call to attach media to."
                  },
                  "mode": {
                    "type": "string",
                    "description": "`talk` (send and receive audio, default) or `listen` (receive only)."
                  }
                },
                "required": [
                  "callId"
                ]
              },
              "example": {
                "callId": "3EB0C767D26A8B4E7F1A",
                "mode": "talk"
              }
            }
          }
        }
      }
    },
    "/chat/pin": {
      "post": {
        "summary": "Pin a chat",
        "description": "Pins a chat to the top of the list.",
        "operationId": "post__chat_pin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to pin (individual `...@s.whatsapp.net` or group `...@g.us`)."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/unpin": {
      "post": {
        "summary": "Unpin a chat",
        "description": "Removes a chat from the pinned list.",
        "operationId": "post__chat_unpin",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to unpin."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/archive": {
      "post": {
        "summary": "Archive a chat",
        "description": "Archives a chat, hiding it from the main list.",
        "operationId": "post__chat_archive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to archive."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/unarchive": {
      "post": {
        "summary": "Unarchive a chat",
        "description": "Restores an archived chat back to the main list.",
        "operationId": "post__chat_unarchive",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to unarchive."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/mute": {
      "post": {
        "summary": "Mute a chat",
        "description": "Mutes notifications for a chat.",
        "operationId": "post__chat_mute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to mute."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/chat/unmute": {
      "post": {
        "summary": "Unmute a chat",
        "description": "Re-enables notifications for a muted chat.",
        "operationId": "post__chat_unmute",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "JID of the chat to unmute."
                  }
                },
                "required": [
                  "chat"
                ]
              },
              "example": {
                "chat": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/chat/history-sync": {
      "post": {
        "summary": "Request history sync",
        "description": "Requests older message history from before a reference message. The `messageInfo` object identifies the anchor message (its `Chat` JID, message `ID`, direction flags, and `Timestamp`); fields are unmarshalled from the whatsmeow `MessageInfo` type, so keys are PascalCase and `Chat` is a JID **string**.",
        "operationId": "post__chat_history_sync",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageInfo": {
                    "type": "object",
                    "description": "Reference message to sync history before. Contains `Chat` (JID string), `ID` (message id), `IsFromMe` (boolean), `IsGroup` (boolean), and `Timestamp` (RFC 3339)."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of messages to fetch before the reference message."
                  }
                },
                "required": [
                  "messageInfo"
                ]
              },
              "example": {
                "messageInfo": {
                  "Chat": "5511999999999@s.whatsapp.net",
                  "ID": "3EB0C767D82B0A1B2C3D",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "Timestamp": "2026-07-09T12:00:00Z"
                },
                "count": 50
              }
            }
          }
        }
      }
    },
    "/community/create": {
      "post": {
        "summary": "Create community",
        "description": "Creates a new community with the given name.",
        "operationId": "post__community_create",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityName": {
                    "type": "string",
                    "description": "Display name of the community to create."
                  }
                },
                "required": [
                  "communityName"
                ]
              },
              "example": {
                "communityName": "Pilot Status Community"
              }
            }
          }
        }
      }
    },
    "/community/add": {
      "post": {
        "summary": "Add groups",
        "description": "Links one or more existing groups to a community.",
        "operationId": "post__community_add",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID of the target community."
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of group JIDs to add to the community."
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              },
              "example": {
                "communityJid": "120363000000000000@g.us",
                "groupJid": [
                  "120363111111111111@g.us",
                  "120363222222222222@g.us"
                ]
              }
            }
          }
        }
      }
    },
    "/community/remove": {
      "post": {
        "summary": "Remove groups",
        "description": "Unlinks one or more groups from a community.",
        "operationId": "post__community_remove",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "communityJid": {
                    "type": "string",
                    "description": "JID of the target community."
                  },
                  "groupJid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of group JIDs to remove from the community."
                  }
                },
                "required": [
                  "communityJid",
                  "groupJid"
                ]
              },
              "example": {
                "communityJid": "120363000000000000@g.us",
                "groupJid": [
                  "120363111111111111@g.us"
                ]
              }
            }
          }
        }
      }
    },
    "/group/list": {
      "get": {
        "summary": "List joined groups",
        "description": "Returns every group the connected number has joined.",
        "operationId": "get__group_list",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/group/info": {
      "post": {
        "summary": "Get group info",
        "description": "Fetches metadata (name, participants, owner) for a single group.",
        "operationId": "post__group_info",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us"
              }
            }
          }
        }
      }
    },
    "/group/invitelink": {
      "post": {
        "summary": "Get invite link",
        "description": "Returns the group's invite link, optionally revoking the old one first.",
        "operationId": "post__group_invitelink",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  },
                  "reset": {
                    "type": "boolean",
                    "description": "When `true`, revokes the current link and generates a new one."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "reset": false
              }
            }
          }
        }
      }
    },
    "/group/photo": {
      "post": {
        "summary": "Set group photo",
        "description": "Sets the group's profile picture from a public URL or a base64 data URI.",
        "operationId": "post__group_photo",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  },
                  "image": {
                    "type": "string",
                    "description": "Image as an `http(s)` URL or a `data:image/jpeg;base64,` / `data:image/png;base64,` data URI."
                  }
                },
                "required": [
                  "groupJid",
                  "image"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "image": "https://example.com/group-photo.jpg"
              }
            }
          }
        }
      }
    },
    "/group/name": {
      "post": {
        "summary": "Set group name",
        "description": "Updates the group's subject (name).",
        "operationId": "post__group_name",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  },
                  "name": {
                    "type": "string",
                    "description": "New group name."
                  }
                },
                "required": [
                  "groupJid",
                  "name"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "name": "Sales Team"
              }
            }
          }
        }
      }
    },
    "/group/description": {
      "post": {
        "summary": "Set group description",
        "description": "Updates the group's description (topic).",
        "operationId": "post__group_description",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  },
                  "description": {
                    "type": "string",
                    "description": "New group description."
                  }
                },
                "required": [
                  "groupJid",
                  "description"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "description": "Team coordination and announcements"
              }
            }
          }
        }
      }
    },
    "/group/create": {
      "post": {
        "summary": "Create group",
        "description": "Creates a new group with the given name and initial participants.",
        "operationId": "post__group_create",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "Name of the new group."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers or JIDs to add (at least one)."
                  }
                },
                "required": [
                  "groupName",
                  "participants"
                ]
              },
              "example": {
                "groupName": "Sales Team",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      }
    },
    "/group/participant": {
      "post": {
        "summary": "Update participants",
        "description": "Adds, removes, promotes, or demotes participants in a group.",
        "operationId": "post__group_participant",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers or JIDs to act on (at least one)."
                  },
                  "action": {
                    "type": "string",
                    "description": "One of `add`, `remove`, `promote`, `demote`."
                  }
                },
                "required": [
                  "groupJid",
                  "participants",
                  "action"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us",
                "participants": [
                  "5511999999999"
                ],
                "action": "add"
              }
            }
          }
        }
      }
    },
    "/group/myall": {
      "get": {
        "summary": "List owned groups",
        "description": "Returns only the groups the connected number owns (is admin/owner of).",
        "operationId": "get__group_myall",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/group/join": {
      "post": {
        "summary": "Join via invite",
        "description": "Joins a group using an invite code (the token from an invite link).",
        "operationId": "post__group_join",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Invite code (the segment after `chat.whatsapp.com/`)."
                  }
                },
                "required": [
                  "code"
                ]
              },
              "example": {
                "code": "AbCdEfGhIjKlMnOpQrStUv"
              }
            }
          }
        }
      }
    },
    "/group/leave": {
      "post": {
        "summary": "Leave group",
        "description": "Leaves the specified group.",
        "operationId": "post__group_leave",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (`<id>@g.us`)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363012345678901@g.us"
              }
            }
          }
        }
      }
    },
    "/label/chat": {
      "post": {
        "summary": "Add label to chat",
        "description": "Attaches an existing label to a chat.",
        "operationId": "post__label_chat",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Chat JID to label."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID of the label to attach."
                  }
                },
                "required": [
                  "jid",
                  "labelId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1"
              }
            }
          }
        }
      }
    },
    "/label/message": {
      "post": {
        "summary": "Add label to message",
        "description": "Attaches an existing label to a specific message in a chat.",
        "operationId": "post__label_message",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Chat JID that contains the message."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID of the label to attach."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID of the target message."
                  }
                },
                "required": [
                  "jid",
                  "labelId",
                  "messageId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1",
                "messageId": "3EB0C767D26A8A4E8F1B"
              }
            }
          }
        }
      }
    },
    "/label/edit": {
      "post": {
        "summary": "Edit label",
        "description": "Creates or updates a label's name, color, or deleted state.",
        "operationId": "post__label_edit",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labelId": {
                    "type": "string",
                    "description": "ID of the label to edit."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the label."
                  },
                  "color": {
                    "type": "integer",
                    "description": "Color index for the label."
                  },
                  "deleted": {
                    "type": "boolean",
                    "description": "Marks the label as deleted when true."
                  }
                },
                "required": [
                  "labelId",
                  "name"
                ]
              },
              "example": {
                "labelId": "1",
                "name": "Priority",
                "color": 3,
                "deleted": false
              }
            }
          }
        }
      }
    },
    "/label/list": {
      "get": {
        "summary": "List all labels",
        "description": "Returns every label defined on the connected number.",
        "operationId": "get__label_list",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/unlabel/chat": {
      "post": {
        "summary": "Remove label from chat",
        "description": "Detaches a label from a chat.",
        "operationId": "post__unlabel_chat",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Chat JID to remove the label from."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID of the label to detach."
                  }
                },
                "required": [
                  "jid",
                  "labelId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1"
              }
            }
          }
        }
      }
    },
    "/unlabel/message": {
      "post": {
        "summary": "Remove label from message",
        "description": "Detaches a label from a specific message in a chat.",
        "operationId": "post__unlabel_message",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Chat JID that contains the message."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "ID of the label to detach."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID of the target message."
                  }
                },
                "required": [
                  "jid",
                  "labelId",
                  "messageId"
                ]
              },
              "example": {
                "jid": "5511999999999@s.whatsapp.net",
                "labelId": "1",
                "messageId": "3EB0C767D26A8A4E8F1B"
              }
            }
          }
        }
      }
    },
    "/message/react": {
      "post": {
        "summary": "React to message",
        "description": "Sends an emoji reaction to an existing message; supports `fromMe` and (for group messages) the `participant` author.",
        "operationId": "post__message_react",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient chat, as a phone in E.164 digits or a JID"
                  },
                  "reaction": {
                    "type": "string",
                    "description": "Emoji to react with (send an empty string to remove the reaction)"
                  },
                  "id": {
                    "type": "string",
                    "description": "ID of the message to react to"
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Whether the target message was sent by you"
                  },
                  "participant": {
                    "type": "string",
                    "description": "Author JID of the message (needed for group messages)"
                  }
                },
                "required": [
                  "number",
                  "reaction",
                  "id"
                ]
              },
              "example": {
                "number": "5511999999999",
                "reaction": "👍",
                "id": "3EB0A1B2C3D4E5F6A7B8",
                "fromMe": false,
                "participant": "5511988888888@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/message/presence": {
      "post": {
        "summary": "Send chat presence",
        "description": "Broadcasts a typing or recording presence indicator to a chat.",
        "operationId": "post__message_presence",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Target chat, as a phone in E.164 digits or a JID"
                  },
                  "state": {
                    "type": "string",
                    "description": "Presence state: `composing` (typing) or `paused`"
                  },
                  "isAudio": {
                    "type": "boolean",
                    "description": "When true, shows \"recording audio\" instead of typing"
                  }
                },
                "required": [
                  "number",
                  "state"
                ]
              },
              "example": {
                "number": "5511999999999",
                "state": "composing",
                "isAudio": false
              }
            }
          }
        }
      }
    },
    "/message/markread": {
      "post": {
        "summary": "Mark messages read",
        "description": "Marks one or more messages in a chat as read.",
        "operationId": "post__message_markread",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Chat whose messages are being read, as a phone in E.164 digits or a JID"
                  },
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of message IDs to mark as read"
                  }
                },
                "required": [
                  "number",
                  "id"
                ]
              },
              "example": {
                "number": "5511999999999",
                "id": [
                  "3EB0A1B2C3D4E5F6A7B8",
                  "3EB0F9E8D7C6B5A43210"
                ]
              }
            }
          }
        }
      }
    },
    "/message/downloadmedia": {
      "post": {
        "summary": "Download media",
        "description": "Downloads and decrypts the media attached to a received message, returning it as a base64 data URL.",
        "operationId": "post__message_downloadmedia",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Full message payload containing the media node to download — one of `imageMessage`, `audioMessage`, `videoMessage`, `documentMessage`, or `stickerMessage` — with its `url`, `directPath`, `mediaKey`, `fileEncSHA256`, `fileSHA256`, `mimetype`, and `fileLength`"
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "message": {
                  "imageMessage": {
                    "url": "https://mmg.whatsapp.net/d/f/AbCdEf123456.enc",
                    "directPath": "/v/t62.7118-24/12345_67890.enc",
                    "mediaKey": "sPqT2bXyZ0aBcDeFgHiJkLmNoPqRsTuVwXyZ012345=",
                    "mimetype": "image/jpeg",
                    "fileEncSHA256": "9dJkLmNoPqRsTuVwXyZ0123456789AbCdEfGhIjKlMno=",
                    "fileSHA256": "Q1w2E3r4T5y6U7i8O9p0AsDfGhJkLzXcVbNmQwErTyU=",
                    "fileLength": 24576
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/status": {
      "post": {
        "summary": "Get message status",
        "description": "Looks up the stored delivery status of a message by its ID.",
        "operationId": "post__message_status",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the message to look up"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/message/delete": {
      "post": {
        "summary": "Delete for everyone",
        "description": "Revokes a message for everyone in the chat.",
        "operationId": "post__message_delete",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "Chat where the message lives, as a JID or phone in E.164 digits"
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID of the message to revoke"
                  }
                },
                "required": [
                  "chat",
                  "messageId"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net",
                "messageId": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/message/edit": {
      "post": {
        "summary": "Edit a message",
        "description": "Replaces the text content of a previously sent message.",
        "operationId": "post__message_edit",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat": {
                    "type": "string",
                    "description": "Chat where the message lives, as a JID or phone in E.164 digits"
                  },
                  "message": {
                    "type": "string",
                    "description": "New text content for the message"
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID of the message to edit"
                  }
                },
                "required": [
                  "chat",
                  "message",
                  "messageId"
                ]
              },
              "example": {
                "chat": "5511999999999@s.whatsapp.net",
                "message": "Corrected text",
                "messageId": "3EB0A1B2C3D4E5F6A7B8"
              }
            }
          }
        }
      }
    },
    "/newsletter/create": {
      "post": {
        "summary": "Create newsletter",
        "description": "Creates a new newsletter (channel) with a name and optional description.",
        "operationId": "post__newsletter_create",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Newsletter (channel) display name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Newsletter description shown to subscribers."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Pilot Status Updates",
                "description": "Official channel for product news and status."
              }
            }
          }
        }
      }
    },
    "/newsletter/list": {
      "get": {
        "summary": "List newsletters",
        "description": "Returns all newsletters the connected number is subscribed to.",
        "operationId": "get__newsletter_list",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/newsletter/info": {
      "post": {
        "summary": "Get newsletter",
        "description": "Fetches metadata for a single newsletter by its JID.",
        "operationId": "post__newsletter_info",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Newsletter JID (ends in `@newsletter`)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter"
              }
            }
          }
        }
      }
    },
    "/newsletter/link": {
      "post": {
        "summary": "Resolve invite",
        "description": "Resolves newsletter metadata from an invite key (the code portion of a channel invite link).",
        "operationId": "post__newsletter_link",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Invite key from the channel link (e.g. the part after `whatsapp.com/channel/`)."
                  }
                },
                "required": [
                  "key"
                ]
              },
              "example": {
                "key": "0029VaAbCdEfGhIjKlMnOpQr"
              }
            }
          }
        }
      }
    },
    "/newsletter/subscribe": {
      "post": {
        "summary": "Subscribe to live updates",
        "description": "Subscribes the connected number to live updates for the given newsletter JID.",
        "operationId": "post__newsletter_subscribe",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Newsletter JID (ends in `@newsletter`)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter"
              }
            }
          }
        }
      }
    },
    "/newsletter/messages": {
      "post": {
        "summary": "Get newsletter messages",
        "description": "Fetches messages from a newsletter, with optional count and before-id pagination.",
        "operationId": "post__newsletter_messages",
        "tags": [
          "Newsletter / Channels"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jid": {
                    "type": "string",
                    "description": "Newsletter JID (ends in `@newsletter`)."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Maximum number of messages to return."
                  },
                  "before_id": {
                    "type": "integer",
                    "description": "Return messages older than this message id (pagination cursor)."
                  }
                },
                "required": [
                  "jid"
                ]
              },
              "example": {
                "jid": "120363012345678901@newsletter",
                "count": 50,
                "before_id": 100
              }
            }
          }
        }
      }
    },
    "/send/text": {
      "post": {
        "summary": "Send text message",
        "description": "Sends a plain text message; when `linkPreview` is true the server enriches the first URL in `text` with an OpenGraph preview card.",
        "operationId": "post__send_text",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID (e.g. `5511999999999` or `5511999999999@s.whatsapp.net`, group `...@g.us`)."
                  },
                  "text": {
                    "type": "string",
                    "description": "Message body."
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "description": "Fetch OpenGraph metadata for the first URL in `text` and attach a preview."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id for tracking/idempotency."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait (as \"typing\") before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`); set `false` to send the value as-is."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Hello from Pilot Status! https://pilotstatus.com.br",
                "linkPreview": true,
                "delay": 1200,
                "quoted": {
                  "messageId": "3EB0C767D097B7C7A0A1",
                  "participant": "5511988888888@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/send/link": {
      "post": {
        "summary": "Send link preview",
        "description": "Sends a text message with a rich link card; the server auto-fetches `title`, `description` and `imgUrl` from the URL found in `text`, so those fields are optional and any value you pass may be overridden.",
        "operationId": "post__send_link",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "text": {
                    "type": "string",
                    "description": "Message body containing the URL to preview."
                  },
                  "title": {
                    "type": "string",
                    "description": "Preview title (auto-filled from OpenGraph when omitted)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Preview description (auto-filled when omitted)."
                  },
                  "url": {
                    "type": "string",
                    "description": "Target URL of the preview."
                  },
                  "imgUrl": {
                    "type": "string",
                    "description": "Thumbnail image URL (auto-filled when omitted)."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Check this out: https://pilotstatus.com.br",
                "title": "Pilot Status",
                "description": "WhatsApp API platform",
                "url": "https://pilotstatus.com.br",
                "imgUrl": "https://pilotstatus.com.br/og.png"
              }
            }
          }
        }
      }
    },
    "/send/media": {
      "post": {
        "summary": "Send media message",
        "description": "Sends an image, video, audio or document by URL (JSON body) — or as a `multipart/form-data` upload with a `file` field; `type` selects the media kind.",
        "operationId": "post__send_media",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "url": {
                    "type": "string",
                    "description": "Media URL (JSON mode). In `multipart/form-data`, send the binary in a `file` field instead."
                  },
                  "type": {
                    "type": "string",
                    "description": "Media kind: `image`, `video`, `audio`, `document` (also `ptv`)."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption text (image/video/document)."
                  },
                  "filename": {
                    "type": "string",
                    "description": "File name shown for documents."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "url",
                  "type"
                ]
              },
              "example": {
                "number": "5511999999999",
                "type": "image",
                "url": "https://example.com/photo.jpg",
                "caption": "Look at this"
              }
            }
          }
        }
      }
    },
    "/send/poll": {
      "post": {
        "summary": "Send poll",
        "description": "Sends a poll with a question and a list of options; requires at least two options.",
        "operationId": "post__send_poll",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "question": {
                    "type": "string",
                    "description": "Poll question."
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Answer options (minimum 2)."
                  },
                  "maxAnswer": {
                    "type": "integer",
                    "description": "Maximum options a voter may select (`1` = single choice)."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "question",
                  "options"
                ]
              },
              "example": {
                "number": "5511999999999",
                "question": "Best day for the meeting?",
                "options": [
                  "Monday",
                  "Tuesday",
                  "Wednesday"
                ],
                "maxAnswer": 1
              }
            }
          }
        }
      }
    },
    "/send/sticker": {
      "post": {
        "summary": "Send sticker",
        "description": "Sends a sticker from an image URL; the server downloads it and converts it to WebP before sending.",
        "operationId": "post__send_sticker",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "sticker": {
                    "type": "string",
                    "description": "`http(s)` image URL to convert into a sticker."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "sticker"
                ]
              },
              "example": {
                "number": "5511999999999",
                "sticker": "https://example.com/sticker.png"
              }
            }
          }
        }
      }
    },
    "/send/location": {
      "post": {
        "summary": "Send location",
        "description": "Sends a geographic location pin with a name and address label.",
        "operationId": "post__send_location",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Location name/title."
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address label."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude in decimal degrees."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude in decimal degrees."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "name",
                  "address",
                  "latitude",
                  "longitude"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "Pilot Status HQ",
                "address": "Av. Paulista, 1000, Sao Paulo",
                "latitude": -23.561414,
                "longitude": -46.655881
              }
            }
          }
        }
      }
    },
    "/send/contact": {
      "post": {
        "summary": "Send contact card",
        "description": "Sends a vCard contact card; `fullName` and `phone` are required inside `vcard`.",
        "operationId": "post__send_contact",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "vcard": {
                    "type": "object",
                    "description": "Contact card object (see nested fields)."
                  },
                  "vcard.fullName": {
                    "type": "string",
                    "description": "Contact's full name."
                  },
                  "vcard.phone": {
                    "type": "string",
                    "description": "Contact's phone number."
                  },
                  "vcard.organization": {
                    "type": "string",
                    "description": "Contact's organization."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "vcard",
                  "vcard.fullName",
                  "vcard.phone"
                ]
              },
              "example": {
                "number": "5511999999999",
                "vcard": {
                  "fullName": "Joao Silva",
                  "organization": "Acme Ltda",
                  "phone": "5511988888888"
                }
              }
            }
          }
        }
      }
    },
    "/send/button": {
      "post": {
        "summary": "Send interactive buttons",
        "description": "Sends an interactive message with tappable buttons; each button's behavior is set per-item via `type` (reply, url, call, copy, etc.).",
        "operationId": "post__send_button",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Header/title text."
                  },
                  "description": {
                    "type": "string",
                    "description": "Body text."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer text."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "Header image URL."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Button objects: `{ type, displayText, id, url, phoneNumber, copyCode, currency, name, keyType, key }`."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "buttons"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Order #123",
                "description": "Your order is ready.",
                "footer": "Pilot Status",
                "buttons": [
                  {
                    "type": "reply",
                    "displayText": "Confirm",
                    "id": "confirm_1"
                  },
                  {
                    "type": "url",
                    "displayText": "Track",
                    "url": "https://track.example.com/123"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/send/list": {
      "post": {
        "summary": "Send list menu",
        "description": "Sends a menu message where the recipient taps `buttonText` to open sections of selectable rows.",
        "operationId": "post__send_list",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Header/title text."
                  },
                  "description": {
                    "type": "string",
                    "description": "Body text."
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Label of the button that opens the list."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Footer text."
                  },
                  "sections": {
                    "type": "array",
                    "description": "Section objects: `{ title, rows: [{ title, description, rowId }] }`."
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-supplied message id."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "buttonText",
                  "footerText",
                  "sections"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Menu",
                "description": "Choose an option",
                "buttonText": "Open menu",
                "footerText": "Pilot Status",
                "sections": [
                  {
                    "title": "Drinks",
                    "rows": [
                      {
                        "title": "Coffee",
                        "description": "Hot brewed",
                        "rowId": "drink_coffee"
                      },
                      {
                        "title": "Tea",
                        "description": "Green tea",
                        "rowId": "drink_tea"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/send/carousel": {
      "post": {
        "summary": "Send carousel cards",
        "description": "Sends a horizontally scrollable carousel; each card has its own image, text and buttons.",
        "operationId": "post__send_carousel",
        "tags": [
          "Send (load-balanced)"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient MSISDN or JID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Header/title text."
                  },
                  "description": {
                    "type": "string",
                    "description": "Body text."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Footer text."
                  },
                  "cards": {
                    "type": "array",
                    "description": "Card objects: `{ text, thumbnailUrl, footerText, buttons: [Button] }`."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Milliseconds to wait before sending."
                  },
                  "mentionedJid": {
                    "type": "string",
                    "description": "JID(s) to mention."
                  },
                  "mentionAll": {
                    "type": "boolean",
                    "description": "Mention every participant (groups)."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "Auto-format `number` into a JID (default `true`)."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Reply-to reference: `{ \"messageId\", \"participant\" }`."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "description",
                  "footerText",
                  "cards"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Featured products",
                "description": "Swipe to browse",
                "footerText": "Pilot Status",
                "cards": [
                  {
                    "text": "Product A",
                    "thumbnailUrl": "https://example.com/a.jpg",
                    "footerText": "In stock",
                    "buttons": [
                      {
                        "type": "url",
                        "displayText": "Buy",
                        "url": "https://shop.example.com/a"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/user/info": {
      "post": {
        "summary": "Get user info",
        "description": "Fetches WhatsApp account details (JID, name, business name) for one or more phone numbers.",
        "operationId": "post__user_info",
        "tags": [
          "User / Contacts"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers in international format to look up."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "When true, returns each result keyed by formatted JID."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": [
                  "5511999999999"
                ],
                "formatJid": true
              }
            }
          }
        }
      }
    },
    "/user/check": {
      "post": {
        "summary": "Check on WhatsApp",
        "description": "Checks whether the given phone numbers are registered on WhatsApp.",
        "operationId": "post__user_check",
        "tags": [
          "User / Contacts"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers in international format to verify."
                  },
                  "formatJid": {
                    "type": "boolean",
                    "description": "When true, returns each result keyed by formatted JID."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": [
                  "5511999999999",
                  "5511888888888"
                ],
                "formatJid": false
              }
            }
          }
        }
      }
    },
    "/user/avatar": {
      "post": {
        "summary": "Get user avatar",
        "description": "Returns the profile picture URL for a phone number.",
        "operationId": "post__user_avatar",
        "tags": [
          "User / Contacts"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Phone number in international format."
                  },
                  "preview": {
                    "type": "boolean",
                    "description": "When true, returns the low-resolution preview image instead of the full-size picture."
                  }
                },
                "required": [
                  "number"
                ]
              },
              "example": {
                "number": "5511999999999",
                "preview": false
              }
            }
          }
        }
      }
    },
    "/user/contacts": {
      "get": {
        "summary": "List contacts",
        "description": "Returns all contacts stored for the connected number.",
        "operationId": "get__user_contacts",
        "tags": [
          "User / Contacts"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        }
      }
    },
    "/user/privacy": {
      "get": {
        "summary": "Get privacy settings",
        "description": "Returns the connected number's current privacy settings.",
        "operationId": "get__user_privacy",
        "tags": [
[...]
