{
  "openapi": "3.1.0",
  "info": {
    "title": "Meta Cloud API Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Meta Cloud API (passthrough da WhatsApp Cloud API / Graph API). Base URL `https://pilotstatus.com.br/api/layer/meta`. Chame os nós do Graph API exatamente como faria em `graph.facebook.com/<versao>/` — o Pilot troca sua chave `ps_` pelo token real da Meta do número. O prefixo de versão `vNN.N` é opcional (padrão v22.0). Gestão de conta/negócio/auth e (des)registro de número são bloqueados."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/meta"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Pilot Status API key (ps_...). You may also send `Authorization: Bearer ps_...` or `?access_token=ps_...`."
      }
    }
  },
  "tags": [
    {
      "name": "Messages"
    },
    {
      "name": "Media"
    },
    {
      "name": "By id"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Phone numbers"
    },
    {
      "name": "Business profile"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Calls"
    }
  ],
  "paths": {
    "/{phoneNumberId}/messages": {
      "post": {
        "summary": "Enviar mensagem",
        "description": "Envia qualquer mensagem da WhatsApp Cloud API. O campo `type` define o tipo: text, image, audio, video, document, sticker, location, contacts, interactive (botões/lista/flow), template, reaction.",
        "operationId": "post__phoneNumberId_messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "recipient_type": "individual",
                "to": "5511999999999",
                "type": "text",
                "text": {
                  "preview_url": false,
                  "body": "Hello from Pilot Status 👋"
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/messages/status": {
      "post": {
        "summary": "Marcar como lida / digitando",
        "description": "Envia confirmação de leitura (`status: read`) ou indicador de digitação para uma mensagem recebida.",
        "operationId": "post__phoneNumberId_messages_status",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "status": "read",
                "message_id": "wamid.HBgLNTUxMTk5..."
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/media": {
      "post": {
        "summary": "Enviar mídia (upload)",
        "description": "Envia um arquivo de mídia (**multipart/form-data**): campos `messaging_product=whatsapp`, `type` (MIME) e `file`. Retorna um id de mídia para usar em uma mensagem.",
        "operationId": "post__phoneNumberId_media",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  },
                  "type": {
                    "type": "string",
                    "description": "MIME type, e.g. image/jpeg"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "messaging_product",
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/{appId}/uploads": {
      "post": {
        "summary": "Criar sessão de upload",
        "description": "Inicia uma sessão de upload resumível (query: `file_length`, `file_type`). Retorna um handle `upload:<id>`; envie os bytes com `POST /{id}`.",
        "operationId": "post__appId_uploads",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do app da Meta (sessão de upload resumível)."
          }
        ]
      }
    },
    "/{id}": {
      "get": {
        "summary": "Buscar por id",
        "description": "Busca um nó do Graph por id — o tipo do id define a operação: **media id** → URL assinada + metadados da mídia (o `url` é reescrito para uma URL de download do Pilot); **group id** → info do grupo; **phone-number id** → info do número (número exibido, qualidade, status); **template id** → detalhes do template.",
        "operationId": "get__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ]
      },
      "post": {
        "summary": "Atualizar por id",
        "description": "O tipo do id define a operação: **template id** → editar os `components` de um template aprovado; **upload session id** → enviar os bytes do arquivo (corpo binário cru, header `file_offset`).",
        "operationId": "post__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "components": [
                  {
                    "type": "BODY",
                    "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir por id",
        "description": "O tipo do id define a operação: **media id** → excluir uma mídia enviada; **group id** → sair/encerrar um grupo. Excluir seu próprio WABA ou phone-number id é bloqueado (403).",
        "operationId": "delete__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ]
      }
    },
    "/{wabaId}/message_templates": {
      "get": {
        "summary": "Listar templates",
        "description": "Lista os templates de mensagem da WABA. Aceita query de paginação/filtro do Graph (`limit`, `name`, `status`, `after`).",
        "operationId": "get__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      },
      "post": {
        "summary": "Criar template",
        "description": "Cria um template de mensagem para aprovação da Meta.",
        "operationId": "post__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "pedido_enviado",
                "language": "pt_BR",
                "category": "UTILITY",
                "components": [
                  {
                    "type": "BODY",
                    "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                  },
                  {
                    "type": "BUTTONS",
                    "buttons": [
                      {
                        "type": "QUICK_REPLY",
                        "text": "Acompanhar"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir template",
        "description": "Exclui um template pelo nome (query `?name=<nome_do_template>`).",
        "operationId": "delete__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      }
    },
    "/{wabaId}/phone_numbers": {
      "get": {
        "summary": "Listar números",
        "description": "Lista os números registrados na WABA.",
        "operationId": "get__wabaId_phone_numbers",
        "tags": [
          "Phone numbers"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      }
    },
    "/{phoneNumberId}/whatsapp_business_profile": {
      "get": {
        "summary": "Ler perfil comercial",
        "description": "Lê o perfil comercial do WhatsApp do número. Use `?fields=about,address,description,email,profile_picture_url,websites,vertical`.",
        "operationId": "get__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      },
      "post": {
        "summary": "Atualizar perfil comercial",
        "description": "Atualiza os campos do perfil comercial do WhatsApp do número.",
        "operationId": "post__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "about": "Loja Acme",
                "address": "Rua Exemplo, 123",
                "description": "Atendimento e vendas",
                "email": "contato@acme.com",
                "websites": [
                  "https://acme.com"
                ],
                "vertical": "RETAIL"
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/groups": {
      "post": {
        "summary": "Criar grupo",
        "description": "Cria um grupo da Cloud API (números elegíveis a OBA).",
        "operationId": "post__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "subject": "Equipe Acme",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar grupos",
        "description": "Lista os grupos do número.",
        "operationId": "get__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      }
    },
    "/{groupId}/participants": {
      "post": {
        "summary": "Adicionar participantes",
        "description": "Adiciona membros a um grupo.",
        "operationId": "post__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remover participantes",
        "description": "Remove membros de um grupo.",
        "operationId": "delete__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/admins": {
      "post": {
        "summary": "Promover a admin",
        "description": "Promove participantes a admin do grupo.",
        "operationId": "post__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Rebaixar admin",
        "description": "Rebaixa admins do grupo a membro.",
        "operationId": "delete__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "participants": [
                  "5511777777777"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/invites": {
      "get": {
        "summary": "Obter link de convite",
        "description": "Obtém o link de convite do grupo.",
        "operationId": "get__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ]
      },
      "post": {
        "summary": "Redefinir link de convite",
        "description": "Revoga o link de convite atual e gera um novo.",
        "operationId": "post__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ]
      }
    },
    "/{groupId}/pins": {
      "post": {
        "summary": "Fixar mensagem no grupo",
        "description": "Fixa uma mensagem no grupo.",
        "operationId": "post__groupId_pins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "message_id": "wamid.HBgLNTUxMTk5..."
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/calls": {
      "post": {
        "summary": "Ação de chamada",
        "description": "Controle da WhatsApp Business Calling. `action` define: `connect`, `pre_accept`, `accept`, `reject`, `terminate`. Exige número Tier 2K+ com chamadas habilitadas.",
        "operationId": "post__phoneNumberId_calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "messaging_product": "whatsapp",
                "to": "5511999999999",
                "action": "connect",
                "session": {
                  "sdp_type": "offer",
                  "sdp": "v=0..."
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/settings": {
      "get": {
        "summary": "Ler configurações de chamada",
        "description": "Lê as configurações de chamada do número.",
        "operationId": "get__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      },
      "post": {
        "summary": "Atualizar configurações de chamada",
        "description": "Habilita/desabilita chamadas e define horários / SIP / correio de voz.",
        "operationId": "post__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "calling": {
                  "status": "ENABLED",
                  "call_icon_visibility": "DEFAULT"
                }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/call_permissions": {
      "get": {
        "summary": "Consultar permissão de chamada",
        "description": "Verifica a permissão de chamada de um usuário (query `?user_wa_id=<msisdn>`).",
        "operationId": "get__phoneNumberId_call_permissions",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response."
          },
          "default": {
            "description": "Meta Graph API error."
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      }
    }
  }
}