{
  "openapi": "3.1.0",
  "info": {
    "title": "Pilot Status API",
    "version": "1.0.0",
    "license": {
      "name": "Pilot Status Terms of Service",
      "url": "https://pilotstatus.com.br/terms"
    },
    "description": "Public REST API for Pilot Status. Authenticate with the `x-api-key: ps_...` header (or `x-api-key-id`). Base URL: https://pilotstatus.com.br"
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "apiKeyId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your ps_ API key"
      },
      "apiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key-id",
        "description": "API key id (alternative to x-api-key)"
      }
    }
  },
  "paths": {
    "/v1/numbers": {
      "get": {
        "summary": "List numbers",
        "description": "Lists every WhatsApp number on the tenant (PILOT_STATUS and Meta Cloud API), including connection state and API key prefixes. Authenticate with x-api-key-id (or x-api-key: ps_…).",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers",
        "responses": {
          "200": {
            "description": "List numbers",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "num_01HZX...",
                    "instanceName": "tenant-5511999999999",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "apiKeys": [
                      {
                        "name": "Default",
                        "keyPrefix": "ps_abcd",
                        "keyLast4": "wxyz"
                      }
                    ],
                    "state": "OPEN",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-01T11:59:00.000Z",
                    "updatedAt": "2026-06-01T12:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create number (PILOT_STATUS)",
        "description": "Creates an unofficial WhatsApp number (PILOT_STATUS) and returns the QR code + pairing code to pair it. By default links the number to the calling API key (set linkToApiKey:false to skip). Real side effect: provisions an instance.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Suporte"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 10 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the new number to the calling API key (default true).",
                    "example": "true"
                  },
                  "settings": {
                    "type": "object",
                    "description": "Per-number settings the number is BORN with — the same block as `PATCH /v1/numbers/{id}`. This is the only place `historyImportEnabled: true` can be asked for: it defaults to `false`, the provider hands the device history over in a single burst right after the connection, and there is no way to request it afterwards. Every field of the PATCH block is accepted here; the `201` echoes back what the number was created with.",
                    "properties": {
                      "historyImportEnabled": {
                        "type": "boolean",
                        "description": "Store the on-connect history dump. Default `false`.",
                        "example": true
                      },
                      "webhookHistoricalMessages": {
                        "type": "boolean",
                        "description": "Deliver those historical messages to your webhooks. Default `false`.",
                        "example": false
                      },
                      "ignoreNewsletters": {
                        "type": "boolean",
                        "description": "Drop WhatsApp Channel (`@newsletter`) posts on arrival. Default `false`.",
                        "example": false
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "number"
                ]
              },
              "example": {
                "name": "Suporte",
                "number": "5511999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create number",
            "content": {
              "application/json": {
                "example": {
                  "instance": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "status": "CONNECTING",
                    "isFullyConnected": false
                  },
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234",
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/meta": {
      "post": {
        "summary": "Create Meta number (Cloud API)",
        "description": "Manual Meta Cloud API onboarding: you already own the WABA + system-user token and pass the credentials directly. Returns the created number + the webhook URL/verifyToken you must configure in your Meta app. (No credentials yet? Use /api/v1/numbers/remote-pairing with provider=META.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_meta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Atendimento"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 8 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "metaPhoneId": {
                    "type": "string",
                    "description": "Meta Cloud API Phone Number ID.",
                    "example": "123456789012345"
                  },
                  "metaWabaId": {
                    "type": "string",
                    "description": "WhatsApp Business Account (WABA) ID.",
                    "example": "987654321098765"
                  },
                  "metaAccessToken": {
                    "type": "string",
                    "description": "System-user access token.",
                    "example": "EAAG..."
                  },
                  "metaAppSecret": {
                    "type": "string",
                    "description": "Meta app App Secret.",
                    "example": "a1b2c3..."
                  },
                  "metaAppId": {
                    "type": "string",
                    "description": "Meta app App ID.",
                    "example": "100200300400500"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the number to the calling API key (default true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number",
                  "metaPhoneId",
                  "metaWabaId",
                  "metaAccessToken",
                  "metaAppSecret",
                  "metaAppId"
                ]
              },
              "example": {
                "name": "Atendimento",
                "number": "5511999999999",
                "metaPhoneId": "123456789012345",
                "metaWabaId": "987654321098765",
                "metaAccessToken": "EAAG...",
                "metaAppSecret": "a1b2c3...",
                "metaAppId": "100200300400500"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create Meta number",
            "content": {
              "application/json": {
                "example": {
                  "number": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Atendimento",
                    "provider": "META",
                    "metaPhoneId": "123456789012345",
                    "metaWabaId": "987654321098765",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-20T10:00:00.000Z"
                  },
                  "webhook": {
                    "url": "https://webhook.pilotstatus.com.br/meta",
                    "verifyToken": "ps_meta_verify_..."
                  },
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "409": {
            "description": "Number already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number already exists"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/remote-pairing": {
      "post": {
        "summary": "Remote pairing (connection link)",
        "description": "Generates a link so another person connects their own number. provider=PILOT_STATUS (default) requires name + number and returns a QR pairing link; provider=META returns a hosted Embedded Signup link (the person picks the number inside the Facebook dialog, no name/number).",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_remote-pairing",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "Link kind (default PILOT_STATUS).",
                    "example": "PILOT_STATUS"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "Cliente Acme"
                  },
                  "number": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "5511988887777"
                  },
                  "sendViaWhatsApp": {
                    "type": "boolean",
                    "description": "Send the link over WhatsApp (PILOT_STATUS). Default false.",
                    "example": "false"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "Redirect URL after completion (META).",
                    "example": "https://app.acme.com/done"
                  },
                  "externalRef": {
                    "type": "string",
                    "description": "Optional external reference for correlation (META).",
                    "example": "customer-42"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the resulting number to the calling API key (default true).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "name": "Cliente Acme",
                "number": "5511988887777"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PILOT_STATUS link",
            "content": {
              "application/json": {
                "example": {
                  "provider": "PILOT_STATUS",
                  "remotePairingToken": "rp_01HZX...",
                  "remotePairingUrl": "https://pilotstatus.com.br/connect/rp_01HZX...",
                  "numberId": "num_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}": {
      "get": {
        "summary": "Get number (Meta details)",
        "description": "Returns the number + all Meta info when it is an official-API number: a nested `meta` block (phone / profile / waba, camelCase) with quality, messaging-limit tier, verification status, business profile and WABA data, plus `health`. Served from cache by default; pass `?refresh=1` to fetch live from the Meta Graph and persist. Non-Meta numbers return `meta: null`. (The same route accepts DELETE to remove; use GET /api/v1/numbers/:id/status for a lightweight state-only poll.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Pass `1` to force a live fetch from the Meta Graph and refresh the cache.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Meta number",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "META",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "settings": {
                    "historyImportEnabled": false,
                    "webhookHistoricalMessages": false,
                    "ignoreNewsletters": false,
                    "alwaysOnline": null,
                    "rejectCall": null,
                    "msgRejectCall": null,
                    "readMessages": null,
                    "ignoreGroups": null,
                    "ignoreStatus": null,
                    "appliesTo": {
                      "history": "all",
                      "advanced": "none"
                    }
                  },
                  "health": {
                    "qualityRating": "GREEN",
                    "messagingLimitTier": "TIER_2K",
                    "metaStatus": "CONNECTED",
                    "sendable": true
                  },
                  "meta": {
                    "fetchedAt": "2026-06-30T08:55:00.000Z",
                    "phone": {
                      "displayPhoneNumber": "+55 11 99999-9999",
                      "verifiedName": "Minha Empresa",
                      "qualityRating": "GREEN",
                      "status": "CONNECTED",
                      "codeVerificationStatus": "VERIFIED",
                      "nameStatus": "APPROVED",
                      "platformType": "CLOUD_API",
                      "throughput": {
                        "level": "STANDARD"
                      },
                      "messagingLimitTier": "TIER_2K",
                      "businessManagerMessagingLimit": "TIER_2K",
                      "accountMode": "LIVE"
                    },
                    "profile": {
                      "about": "Atendimento oficial",
                      "email": "contato@empresa.com",
                      "websites": [
                        "https://empresa.com"
                      ],
                      "vertical": "PROF_SERVICES"
                    },
                    "waba": {
                      "id": "1234567890",
                      "name": "Empresa WABA",
                      "currency": "BRL",
                      "businessVerificationStatus": "verified",
                      "accountReviewStatus": "APPROVED",
                      "ownershipType": "CLIENT"
                    },
                    "errors": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update number (privacy + settings)",
        "description": "PARTIAL update of a number: only what you send changes. There is **no** `POST /v1/numbers/{id}/settings` — this PATCH is the settings endpoint, and Evolution's `syncFullHistory` has no equivalent here (use `settings.historyImportEnabled`).\n\n`piiMode` controls conversation retention and requires `piiRetentionDays` (1–3650) when set to `STORE_X_DAYS`.\n\nThe `settings` block has two groups. `historyImportEnabled`, `webhookHistoricalMessages` and `ignoreNewsletters` apply to every provider — the last one drops WhatsApp Channel (`@newsletter`) posts on arrival, before the conversation, the stored message and the webhook. The other six are the Evolution GO `advancedSettings` and only apply to unofficial (QR-paired) numbers — on a Meta number they are accepted and stored but never applied, which the response reports as `settings.appliesTo.advanced: \"none\"`. Sending `null` on a GO field **resets it to the provider default**; it does not mean `false`.\n\nThe GO fields are also pushed to the number's connected instances; the outcome comes back in `settingsSync`. That push is best-effort: a disconnected instance does not fail the PATCH, and the persisted value is reapplied on its next provisioning.\n\nA body with no recognised field is a `400 EMPTY_PATCH`, not a silent no-op.",
        "tags": [
          "Numbers"
        ],
        "operationId": "patch_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "piiMode": {
                    "type": "string",
                    "enum": [
                      "STORE_INDEFINITE",
                      "STORE_X_DAYS",
                      "RELAY_ONLY"
                    ],
                    "description": "Conversation retention policy. Optional — omit it to change only `settings`.",
                    "example": "STORE_X_DAYS"
                  },
                  "piiRetentionDays": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 3650,
                    "description": "Required (1–3650) when `piiMode` is `STORE_X_DAYS`; forced to null otherwise.",
                    "example": 30
                  },
                  "settings": {
                    "type": "object",
                    "description": "Per-number settings. Partial: only the keys you send change.",
                    "properties": {
                      "historyImportEnabled": {
                        "type": "boolean",
                        "description": "Import the history the provider dumps on connect. Default **false**: the number starts existing at the moment it connected. Ask for it HERE, on creation — the provider hands the history over in a single burst right after the connection and it cannot be requested again, so a PATCH after creating races that burst. Numbers created before 2026-08-26 keep whatever they had.",
                        "example": false
                      },
                      "webhookHistoricalMessages": {
                        "type": "boolean",
                        "description": "Deliver those historical messages to your webhooks. Default `false`: every reconnect replays the history and your integration cannot tell it apart from new traffic (on the FREE plan it would also consume inbound quota). To READ history use `GET /v1/messages/history`.",
                        "example": false
                      },
                      "ignoreNewsletters": {
                        "type": "boolean",
                        "description": "Drop WhatsApp Channel (`@newsletter`) posts on arrival: no conversation, no stored message, no webhook. Default `false`, so a number that receives channels today keeps receiving them. This is NOT an Evolution GO field: the provider has no `@newsletter` gate to push it to (unlike `ignoreGroups`, which it applies itself), so a channel post always reaches the platform and can only be refused here. An official Meta number never receives channels at all.",
                        "example": false
                      },
                      "alwaysOnline": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Keep the WhatsApp presence permanently online. Unofficial (Evolution GO) numbers only. `null` resets to the provider default.",
                        "example": false
                      },
                      "rejectCall": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Auto-reject incoming calls. Unofficial numbers only. `null` resets to the provider default.",
                        "example": true
                      },
                      "msgRejectCall": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 1000,
                        "description": "Text replied when a call is rejected (empty string = no reply). Unofficial numbers only. `null` resets to the provider default.",
                        "example": "I don't take calls here"
                      },
                      "readMessages": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Mark every received message as read. Unofficial numbers only. `null` resets to the provider default.",
                        "example": false
                      },
                      "ignoreGroups": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Drop group messages inside the provider. Note the field name: this is the Evolution GO dialect (`ignoreGroups`), NOT the v2 `groupsIgnore`. Setting it explicitly beats the value derived from your group webhook subscriptions. Unofficial numbers only.",
                        "example": false
                      },
                      "ignoreStatus": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Drop status/stories updates. Unofficial numbers only. `null` resets to the provider default.",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated number",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "WEB",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "piiMode": "STORE_X_DAYS",
                  "piiRetentionDays": 30,
                  "settings": {
                    "historyImportEnabled": false,
                    "webhookHistoricalMessages": false,
                    "ignoreNewsletters": false,
                    "alwaysOnline": null,
                    "rejectCall": true,
                    "msgRejectCall": "I don't take calls here",
                    "readMessages": null,
                    "ignoreGroups": null,
                    "ignoreStatus": null,
                    "appliesTo": {
                      "history": "all",
                      "advanced": "evolution-go"
                    }
                  },
                  "settingsSync": {
                    "applied": 1,
                    "failed": 0,
                    "skipped": 0
                  },
                  "health": {
                    "qualityRating": null,
                    "messagingLimitTier": null,
                    "metaStatus": null,
                    "code": null,
                    "reason": null,
                    "sendable": true
                  },
                  "meta": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid settings, or nothing to update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidSettings": {
                    "summary": "INVALID_SETTINGS",
                    "value": {
                      "error": "settings.rejectCall must be a boolean or null",
                      "code": "INVALID_SETTINGS"
                    }
                  },
                  "emptyPatch": {
                    "summary": "EMPTY_PATCH",
                    "value": {
                      "error": "Nothing to update — send `piiMode` and/or `settings`",
                      "code": "EMPTY_PATCH"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Number not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete number",
        "description": "Permanently removes the WhatsApp number/instance, cleaning up upstream provider resources. Real and irreversible side effect.",
        "tags": [
          "Numbers"
        ],
        "operationId": "delete_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the number/instance to remove.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete number",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/logout": {
      "post": {
        "summary": "Logout WhatsApp instance",
        "description": "Disconnects a WhatsApp instance (logout) without removing it from the database. This is different from DELETE which permanently removes the instance.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_id_logout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp instance id or WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "inst_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "instances": [
                    {
                      "instanceId": "inst_01HZX...",
                      "ok": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Number not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/status": {
      "get": {
        "summary": "Number connection status",
        "description": "Syncs and returns the number's current connection state (OPEN/CONNECTING/CLOSE). Meta numbers return OPEN. A Meta number created by POST /v1/numbers/remote-pairing answers PENDING while the end user is still inside the Embedded Signup dialog and EXPIRED once that window closed without completion — both carry `expiresAt`. A 200 does NOT mean connected: poll until `state` is OPEN and stop on EXPIRED. Useful to poll after creating/connecting.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The number's public id.",
                      "example": "num_01HZX..."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "OPEN",
                        "CONNECTING",
                        "CLOSE",
                        "PENDING",
                        "EXPIRED"
                      ],
                      "description": "OPEN = connected. PENDING/EXPIRED = Meta number awaiting (or past) the Embedded Signup window.",
                      "example": "OPEN"
                    },
                    "stale": {
                      "type": "boolean",
                      "description": "false = live reading (with checkedAt); true = last remembered state (with lastKnownAt).",
                      "example": false
                    },
                    "checkedAt": {
                      "type": "string",
                      "description": "ISO 8601. Only when stale is false.",
                      "example": "2026-07-22T12:34:56.000Z"
                    },
                    "lastKnownAt": {
                      "type": "string",
                      "description": "ISO 8601. Only when stale is true.",
                      "example": "2026-07-22T12:34:56.000Z"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "ISO 8601 end of the pairing window. Only on PENDING/EXPIRED.",
                      "example": "2026-08-04T18:27:31.000Z"
                    }
                  }
                },
                "example": {
                  "id": "num_01HZX...",
                  "state": "OPEN"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/connect": {
      "get": {
        "summary": "Reconnect number (QR / pairing)",
        "description": "Generates a fresh QR code + pairing code to reconnect a disconnected PILOT_STATUS number. Returns 409 if already OPEN. Not applicable to Meta numbers.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_connect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "PILOT_STATUS number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Reconnect",
            "content": {
              "application/json": {
                "example": {
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/extra-numbers": {
      "get": {
        "summary": "Preview buying an extra number (On Demand)",
        "description": "Computes the cost of buying N extra number(s) without charging. Requires a TENANT-scoped key (403 for a number key). For Free-plan tenants it flags the On Demand conversion: the free number becomes paid/unlimited and the new one too (you pay per number/mo). On Demand = unlimited messages on every number.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "get_subscription_extra-numbers",
        "parameters": [
          {
            "name": "quantity",
            "in": "query",
            "required": false,
            "description": "How many numbers to buy (default 1).",
            "schema": {
              "type": "number"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Preview — Free tenant with 1 connected number buying 1 (converts to On Demand). `proratedTotal` is charged now; `monthlyTotalBRL` recurs each cycle.",
            "content": {
              "application/json": {
                "example": {
                  "plan": "FREE",
                  "requiresConversion": true,
                  "explanation": {
                    "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                    "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                  },
                  "currentNumbers": 1,
                  "requested": 1,
                  "billedQuantity": 2,
                  "currency": "BRL",
                  "unitPriceMonthly": 29.9,
                  "proratedUnitPrice": 14.95,
                  "proratedTotal": 29.9,
                  "remainingDays": 15,
                  "totalDaysInCycle": 30,
                  "walletBalance": 0,
                  "hasSavedCard": false,
                  "fundingSource": "none",
                  "canFund": false,
                  "unitPriceBRL": 29.9,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Buy an extra number (On Demand)",
        "description": "Buys N extra number(s). Requires a TENANT-scoped key. A Free tenant is converted to On Demand (bills the converted free number + the new one) — requires confirm:true, otherwise returns 409 CONFIRMATION_REQUIRED with the preview. With a saved card (Plans → Cartão) it is charged immediately; otherwise it returns { checkoutUrl } to pay. Real side effect: it charges. Stripe only.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "post_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "How many numbers to buy (default 1).",
                    "example": "1"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Required (true) when the purchase converts the plan (Free → On Demand).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "quantity": 1,
                "confirm": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bought 1 (with confirmation). The prorated cost was funded from wallet credits and/or the saved card.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 2,
                  "proratedTotal": 29.9,
                  "currency": "BRL",
                  "creditsUsed": 0,
                  "cardCharged": 29.9,
                  "maxNumbers": 2,
                  "currentNumberCount": 1,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "The purchase converts the Free plan to On Demand, which changes what you pay — resend with `confirm: true`. The full preview is included.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Confirmation required: buying an extra number converts the Free plan to On Demand (every number becomes billable). Resend with confirm:true.",
                  "code": "CONFIRMATION_REQUIRED",
                  "preview": {
                    "plan": "FREE",
                    "requiresConversion": true,
                    "explanation": {
                      "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                      "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                    },
                    "currentNumbers": 1,
                    "requested": 1,
                    "billedQuantity": 2,
                    "currency": "BRL",
                    "unitPriceMonthly": 29.9,
                    "proratedUnitPrice": 14.95,
                    "proratedTotal": 29.9,
                    "remainingDays": 15,
                    "totalDaysInCycle": 30,
                    "walletBalance": 0,
                    "hasSavedCard": false,
                    "fundingSource": "none",
                    "canFund": false,
                    "unitPriceBRL": 29.9,
                    "monthlyTotalBRL": 59.8
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove an extra number (On Demand)",
        "description": "Gives back N paid extra-number slot(s) — the inverse of POST. Requires a TENANT-scoped key. NO refund for the current cycle; it only stops future billing. Deleting a number (DELETE /v1/numbers/{id}) already releases its slot automatically. Returns 409 NUMBER_LIMIT_EXCEEDED if the reduction would drop the limit below currently connected numbers.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "delete_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "How many extra number slots to release (default 1).",
                    "example": "1"
                  }
                }
              },
              "example": {
                "quantity": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed 1 slot",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 1,
                  "maxNumbers": 1,
                  "proratedTotal": 0
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "quantity deve ser um inteiro >= 1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "Reduction not possible: the limit would drop below connected numbers (`NUMBER_LIMIT_EXCEEDED`), or the plan has no paid capacity to give back (`NOT_APPLICABLE_FOR_PLAN`, Pay As You Go).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "NUMBER_LIMIT_EXCEEDED",
                        "NOT_APPLICABLE_FOR_PLAN"
                      ]
                    },
                    "plan": {
                      "type": "string",
                      "description": "Only on NOT_APPLICABLE_FOR_PLAN: the plan that has no paid capacity to give back.",
                      "example": "PAY_AS_YOU_GO"
                    },
                    "currentNumberCount": {
                      "type": "number"
                    },
                    "maxNumbers": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "Você tem 2 número(s) conectado(s); remover 2 deixaria o limite em 0. Desconecte números antes de remover slots pagos.",
                  "code": "NUMBER_LIMIT_EXCEEDED",
                  "currentNumberCount": 2,
                  "maxNumbers": 0
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Generate checkout link (Stripe)",
        "description": "Creates a hosted Stripe checkout page and returns the url for the user to open in a browser — nothing is charged until they complete it there. purpose:\"wallet_topup\" (requires amount > 0, in the account currency) mints a one-time payment that credits the pre-paid wallet; purpose:\"add_card\" mints a page to save a card on file. Account-level action: requires a TENANT-scoped key (403 NUMBER_SCOPE_NOT_ALLOWED for a number key). Stripe only.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Billing"
        ],
        "operationId": "post_billing_checkout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "purpose": {
                    "type": "string",
                    "description": "What the checkout page is for.",
                    "example": "wallet_topup"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to credit to the wallet, in the account currency (required for wallet_topup).",
                    "example": "50"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Redirect URL after success.",
                    "example": "https://app.acme.com/billing/ok"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "Redirect URL if cancelled.",
                    "example": "https://app.acme.com/billing"
                  }
                },
                "required": [
                  "purpose"
                ]
              },
              "example": {
                "purpose": "wallet_topup",
                "amount": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top up wallet",
            "content": {
              "application/json": {
                "example": {
                  "url": "https://checkout.stripe.com/c/pay/cs_test_...",
                  "purpose": "wallet_topup",
                  "orderId": "cto_01HZX...",
                  "amount": 50,
                  "currency": "BRL"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/send": {
      "post": {
        "summary": "Send message",
        "description": "Enqueues sending a message from the number linked to the API key. Use exactly one of templateId (template send, with variables) or text (free-form); and exactly one destination: destinationNumber (E.164), groupId (…@g.us) or newsletterId (…@newsletter). Requires a number-scoped key (403 for a tenant key). Real side effect: actually delivers and may cost. NOT_SUPPORTED_FOR_META for groupId/newsletterId on Meta numbers.\n\n**Requires a number-scoped key.**",
        "tags": [
          "Messages"
        ],
        "operationId": "post_messages_send",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templateId": {
                    "type": "string",
                    "description": "Template id or name (mutually exclusive with text).",
                    "example": "boas_vindas"
                  },
                  "text": {
                    "type": "string",
                    "description": "Free-form text (mutually exclusive with templateId).",
                    "example": "Olá! Sua entrega chegou."
                  },
                  "destinationNumber": {
                    "type": "string",
                    "description": "Destination (exactly one). Accepts an E.164 phone OR a BSUID — the contact's durable userId (e.g. BR.13491208655302741918), returned by GET /api/v1/conversations. Use the BSUID to reply to contacts using a WhatsApp username (no phone). One-tap/zero-tap/copy-code authentication templates require a phone number.",
                    "example": "5511988887777"
                  },
                  "groupId": {
                    "type": "string",
                    "description": "Group JID. NOT_SUPPORTED_FOR_META.",
                    "example": "123456789-987654321@g.us"
                  },
                  "newsletterId": {
                    "type": "string",
                    "description": "Channel/newsletter JID. NOT_SUPPORTED_FOR_META.",
                    "example": "120363000000000000@newsletter"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Template variables (default {}).",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "nome": "Ana"
                    }
                  },
                  "media": {
                    "type": "string",
                    "description": "Public http(s) URL OR base64 data URI (e.g. data:audio/ogg;base64,AAAA…). Base64 works on Meta Cloud API and Evolution v2; on Evolution GO use a public http(s) URL (GO does not accept base64). Used in template mode or in direct-media mode (media + mediaType, without templateId and without text).",
                    "example": "https://cdn.acme.com/img.png"
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "image",
                      "video",
                      "document",
                      "audio",
                      "voice",
                      "sticker"
                    ],
                    "description": "Media type. In direct-media mode (no templateId/text) send media + mediaType: optional caption for image/video/document (not for audio/voice); buttons/header/footer/variables not allowed. \"audio\" delivers as a voice note (PTT) without waveform; \"voice\" delivers as a voice note with waveform visualization (Meta renders the \"ondinha\" when `voice: true`). Both are normalised server-side (OGG/Opus mono, stripped metadata, zero start-time). On Evolution v2 and GO a \"recording audio\" presence indicator is shown before the voice note. \"sticker\" sends a WhatsApp sticker: direct-media mode only (never with templateId), no caption, and the file must be image/webp at exactly 512x512 pixels — static up to 100 KB, animated up to 500 KB. Any other dimension is rejected by WhatsApp (Meta error 131053, META_MEDIA_UPLOAD_ERROR) after this API has already answered 202. On Meta Cloud API the sticker is uploaded and sent as type \"sticker\"; on Evolution v2 and GO it goes through each server's dedicated sticker route.",
                    "example": "image"
                  },
                  "mediaFilename": {
                    "type": "string",
                    "description": "Filename the document arrives with in WhatsApp. Direct document sends only (requires mediaType: document). When omitted the name falls back to the URL basename. Path separators are stripped. Rejected with 400 when sent without media, on a template send, or with any mediaType other than document.",
                    "example": "Nota Fiscal 123.pdf"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption that travels with a direct media send. Allowed for image, video and document; rejected with 400 for audio, voice and sticker (a voice note and a sticker carry no text). Max 1024 characters. Not used in template mode — there the text comes from the template body.",
                    "example": "Here is your receipt"
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Up to **3** interactive buttons. Each item has `type` + `displayText` plus one type-specific field.\n\n- `reply` — quick-reply button; works on **free-form** and **template** sends. Set `id` (your own value; **not** echoed back on tap — match replies by label + `quotedMessageId`).\n- `url` — opens a link; set `url` (https). On free-form sends **at most one URL button per message**, and it **may** be combined with `reply` buttons.\n- `call` — dials a number; set `phoneNumber` (E.164, e.g. `+5511999999999`). **Template sends only** — rejected with 400 (`BUTTON_PHONE_NUMBER_TEMPLATE_ONLY`) on free-form.\n- `copy` — copies a code; set `copyCode`. **Template sends only** — rejected with 400 (`BUTTON_COPY_CODE_TEMPLATE_ONLY`) on free-form.\n\nOn a **template** send, buttons override the template's own buttons.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "reply",
                            "url",
                            "call",
                            "copy"
                          ],
                          "description": "Button kind."
                        },
                        "displayText": {
                          "type": "string",
                          "description": "Visible button label."
                        },
                        "id": {
                          "type": "string",
                          "description": "`reply` only — identifier you assign (not echoed back on tap)."
                        },
                        "url": {
                          "type": "string",
                          "description": "`url` only — https link to open."
                        },
                        "phoneNumber": {
                          "type": "string",
                          "description": "`call` only — phone to dial, E.164."
                        },
                        "copyCode": {
                          "type": "string",
                          "description": "`copy` only — code the user copies."
                        }
                      },
                      "required": [
                        "type",
                        "displayText"
                      ]
                    },
                    "example": [
                      {
                        "type": "reply",
                        "displayText": "Confirm",
                        "id": "confirm"
                      },
                      {
                        "type": "url",
                        "displayText": "View details",
                        "url": "https://example.com/order/123"
                      }
                    ]
                  },
                  "list": {
                    "type": "object",
                    "description": "Interactive single-select **list** — a button that opens a menu of up to **10** rows. Requires `text` (the message body above the button); mutually exclusive with `templateId`, `buttons` and direct media. Works on **both** number types with the same request: **Meta Cloud API** numbers send the official interactive list, **unofficial (Pilot Status web)** numbers send the native list. The recipient's selection arrives as a normal inbound message/webhook.",
                    "properties": {
                      "buttonText": {
                        "type": "string",
                        "description": "Label of the button that opens the list (1–20 chars)."
                      },
                      "sections": {
                        "type": "array",
                        "description": "1–10 sections. Max **10 rows total** across all sections.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "description": "Optional section title."
                            },
                            "rows": {
                              "type": "array",
                              "description": "Rows of this section (at least 1).",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Optional row id, up to 200 chars (generated when absent)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "Row title (1–24 chars)."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Optional row description (up to 72 chars)."
                                  }
                                },
                                "required": [
                                  "title"
                                ]
                              }
                            }
                          },
                          "required": [
                            "rows"
                          ]
                        }
                      }
                    },
                    "required": [
                      "buttonText",
                      "sections"
                    ],
                    "example": {
                      "buttonText": "See areas",
                      "sections": [
                        {
                          "title": "Support",
                          "rows": [
                            {
                              "id": "clients",
                              "title": "Clients",
                              "description": "Look up and register clients"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "carousel": {
                    "type": "object",
                    "description": "Session **carousel** — a horizontal, swipeable row of **2–10 cards** attached to a free-form send. Requires `text` (the message body shown above the cards); mutually exclusive with `templateId`, `list`, `buttons` and direct media, and a `header` is **not** allowed (each card carries its own media). Works on **both** number types: **Meta Cloud API** numbers send it only inside the **24-hour service window** (outside it, use an approved template carousel); **unofficial (Pilot Status web)** numbers send it ad-hoc. Session-carousel buttons are **`QUICK_REPLY` only on Meta** (a `URL` button there requires an approved template carousel); on **unofficial** numbers a **`URL`** button also works ad-hoc. A card's quick-reply tap arrives as a normal inbound webhook.",
                    "properties": {
                      "cardTemplate": {
                        "type": "object",
                        "description": "Shared **skeleton** every card must match — one `hasBody` decision and one button list (types and order). Each card fills in only its own media, body and button values.",
                        "properties": {
                          "hasBody": {
                            "type": "boolean",
                            "description": "Whether every card carries a body. All-or-nothing across cards."
                          },
                          "buttons": {
                            "type": "array",
                            "description": "Button skeleton (up to 2): the type and order every card must repeat.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "QUICK_REPLY",
                                    "URL"
                                  ],
                                  "description": "Button type. `QUICK_REPLY` works everywhere; `URL` sends ad-hoc only on unofficial numbers (on Meta a URL button requires an approved template carousel)."
                                }
                              },
                              "required": [
                                "type"
                              ]
                            }
                          }
                        },
                        "required": [
                          "hasBody"
                        ]
                      },
                      "cards": {
                        "type": "array",
                        "description": "**2–10 cards**. Every card must match `cardTemplate` by body presence and button type/order.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "media": {
                              "type": "object",
                              "description": "Card header media (**required**). `url` must be a public `https` URL ending in `.png`, `.jpg`, `.jpeg` or `.webp` with no query string — an unfetchable URL is refused before dispatch.",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "Public https media URL, ending in .png/.jpg/.jpeg/.webp, no query string."
                                },
                                "format": {
                                  "type": "string",
                                  "enum": [
                                    "IMAGE",
                                    "VIDEO"
                                  ],
                                  "description": "Media format. `IMAGE` on all providers; `VIDEO` on Meta only. Defaults to `IMAGE`."
                                }
                              },
                              "required": [
                                "url"
                              ]
                            },
                            "body": {
                              "type": "string",
                              "description": "Card body text, up to **160** chars. Required when `cardTemplate.hasBody` is true, forbidden when false."
                            },
                            "buttons": {
                              "type": "array",
                              "description": "Card buttons (up to **2**), matching `cardTemplate` by type and order.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "QUICK_REPLY",
                                      "URL"
                                    ],
                                    "description": "Must equal the `cardTemplate` button type at the same index."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Button label (1–20 chars)."
                                  },
                                  "payload": {
                                    "type": "string",
                                    "description": "QUICK_REPLY payload id returned on tap (up to 256 chars; falls back to `text`)."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "URL button destination (required for a `URL` button)."
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              }
                            }
                          },
                          "required": [
                            "media"
                          ]
                        }
                      }
                    },
                    "required": [
                      "cardTemplate",
                      "cards"
                    ],
                    "example": {
                      "cardTemplate": {
                        "hasBody": true,
                        "buttons": [
                          {
                            "type": "QUICK_REPLY"
                          }
                        ]
                      },
                      "cards": [
                        {
                          "media": {
                            "format": "IMAGE",
                            "url": "https://media.example.com/a.png"
                          },
                          "body": "Sneakers — 30% off",
                          "buttons": [
                            {
                              "type": "QUICK_REPLY",
                              "text": "I want it",
                              "payload": "SKU-1"
                            }
                          ]
                        },
                        {
                          "media": {
                            "format": "IMAGE",
                            "url": "https://media.example.com/b.png"
                          },
                          "body": "Backpack — free shipping",
                          "buttons": [
                            {
                              "type": "QUICK_REPLY",
                              "text": "I want it",
                              "payload": "SKU-2"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "header": {
                    "type": "object",
                    "description": "Header for a free-form interactive message. Requires `buttons`. `type` is `text` (up to 60 chars in `content`) or `image` / `video` / `document` (public URL in `content`).",
                    "example": {
                      "type": "text",
                      "content": "Header title"
                    },
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "image",
                          "video",
                          "document"
                        ],
                        "description": "Header kind."
                      },
                      "content": {
                        "type": "string",
                        "description": "Text (type=text, ≤60 chars) or a public media URL (image/video/document)."
                      }
                    }
                  },
                  "footer": {
                    "type": "string",
                    "description": "Message footer (max 60 characters). Requires `buttons`."
                  },
                  "deliverAt": {
                    "type": "string",
                    "description": "Schedule delivery for a future time.",
                    "example": "2026-06-21T09:00:00Z"
                  },
                  "deliverUntil": {
                    "type": "string",
                    "description": "Maximum delivery window.",
                    "example": "2026-06-21T18:00:00Z"
                  },
                  "labels": {
                    "type": "array",
                    "description": "Labels to apply to the destination conversation.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "pedido",
                      "vip"
                    ]
                  }
                }
              },
              "example": {
                "templateId": "boas_vindas",
                "destinationNumber": "5511988887777",
                "variables": {
                  "nome": "Ana"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Send template",
            "content": {
              "application/json": {
                "example": {
                  "id": "msg_01HZX...",
                  "correlationId": "corr_01HZX...",
                  "status": "QUEUED",
                  "createdAt": "2026-06-20T10:00:00.000Z",
                  "origin": "Suporte",
                  "sourceNumber": "5511999999999"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Tenant-scoped keys cannot call number endpoints",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "404": {
            "description": "Template not found or without an approved version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Template not found"
                }
              }
            }
          },
          "422": {
            "description": "Tenant billing suspended",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Billing suspended",
                  "code": "BILLING_SUSPENDED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
[...]
