{
  "openapi": "3.1.0",
  "info": {
    "title": "Meta Cloud API Layer",
    "version": "1.0.0",
    "description": "Pilot Status API Layer — Meta Cloud API (WhatsApp Cloud API / Graph API passthrough). Base URL `https://pilotstatus.com.br/api/layer/meta`. Call Graph API nodes exactly as on `graph.facebook.com/<version>/` — Pilot swaps your `ps_` key for the number's real Meta system token. The `vNN.N` version prefix is optional (defaults to v22.0). Account/business/auth management and number (de)registration are blocked."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/meta"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Pilot Status API key (ps_...). You may also send `Authorization: Bearer ps_...` or `?access_token=ps_...`."
      }
    }
  },
  "tags": [
    {
      "name": "Messages"
    },
    {
      "name": "Media"
    },
    {
      "name": "By id"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Phone numbers"
    },
    {
      "name": "Business profile"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Calls"
    }
  ],
  "paths": {
    "/{phoneNumberId}/messages": {
      "post": {
        "summary": "Send a message",
        "description": "Send any WhatsApp Cloud API message. `type` selects the kind: text, image, audio, video, document, sticker, location, contacts, interactive, template, reaction.",
        "operationId": "post__phoneNumberId_messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Message id (wamid)."
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "5511999999999",
                      "wa_id": "5511999999999"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgL..."
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Always `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "recipient_type": {
                    "type": "string",
                    "description": "`individual` or `group`.",
                    "enum": [
                      "individual",
                      "group"
                    ],
                    "example": "individual"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient MSISDN (or group id).",
                    "example": "5511999999999"
                  },
                  "type": {
                    "type": "string",
                    "description": "Message kind — selects which object below to fill.",
                    "enum": [
                      "text",
                      "image",
                      "audio",
                      "video",
                      "document",
                      "sticker",
                      "location",
                      "contacts",
                      "interactive",
                      "template",
                      "reaction"
                    ],
                    "example": "text"
                  },
                  "text": {
                    "type": "object",
                    "properties": {
                      "preview_url": {
                        "type": "boolean",
                        "description": "Render a link preview."
                      },
                      "body": {
                        "type": "string",
                        "description": "Message text."
                      }
                    },
                    "required": [
                      "body"
                    ],
                    "example": {
                      "preview_url": false,
                      "body": "Hello from Pilot Status 👋"
                    }
                  },
                  "image": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Media id from an upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public https URL (alternative to id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Optional caption."
                      }
                    }
                  },
                  "audio": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Media id from an upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public https URL (alternative to id)."
                      }
                    }
                  },
                  "video": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Media id from an upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public https URL (alternative to id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Optional caption."
                      }
                    }
                  },
                  "document": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Media id from an upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public https URL (alternative to id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Optional caption."
                      },
                      "filename": {
                        "type": "string",
                        "description": "File name shown to the recipient."
                      }
                    }
                  },
                  "sticker": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Media id from an upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "Public https URL (alternative to id)."
                      }
                    }
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string",
                        "description": "Place name."
                      },
                      "address": {
                        "type": "string",
                        "description": "Address."
                      }
                    },
                    "required": [
                      "latitude",
                      "longitude"
                    ]
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Contact cards."
                  },
                  "interactive": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "`button`, `list`, `cta_url`, `flow`, `product`…"
                      },
                      "header": {
                        "type": "object"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "footer": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "action": {
                        "type": "object",
                        "description": "Buttons / sections / parameters for the interactive type."
                      }
                    },
                    "description": "Interactive message (buttons/list/CTA/flow)."
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Approved template name."
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "e.g. `pt_BR`."
                          }
                        }
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "description": "Header/body/button parameters."
                      }
                    }
                  },
                  "reaction": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string"
                      },
                      "emoji": {
                        "type": "string",
                        "description": "Emoji, or empty string to remove."
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "description": "Reply to this message id."
                      }
                    },
                    "description": "Quote/reply context."
                  }
                },
                "required": [
                  "messaging_product",
                  "to",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/messages/status": {
      "post": {
        "summary": "Mark as read / typing",
        "description": "Send a read receipt or a typing indicator for an inbound message.",
        "operationId": "post__phoneNumberId_messages_status",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Always `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "status": {
                    "type": "string",
                    "description": "`read` (read receipt).",
                    "enum": [
                      "read"
                    ],
                    "example": "read"
                  },
                  "message_id": {
                    "type": "string",
                    "description": "Inbound message id (wamid).",
                    "example": "wamid.HBgLNTUxMTk5..."
                  },
                  "typing_indicator": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      }
                    },
                    "description": "Optional typing indicator."
                  }
                },
                "required": [
                  "messaging_product",
                  "status",
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/media": {
      "post": {
        "summary": "Upload media",
        "description": "Upload a media file (multipart/form-data). Returns a media id to use in a message.",
        "operationId": "post__phoneNumberId_media",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Media id."
                    }
                  }
                },
                "example": {
                  "id": "1234567890"
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Always `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "description": "MIME type, e.g. `image/jpeg`."
                  },
                  "file": {
                    "type": "string",
                    "description": "The media file.",
                    "format": "binary"
                  }
                },
                "required": [
                  "messaging_product",
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/{appId}/uploads": {
      "post": {
        "summary": "Create upload session",
        "description": "Start a resumable upload session (query: `file_length`, `file_type`). Returns an upload id; send the bytes with `POST /{id}`.",
        "operationId": "post__appId_uploads",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Upload session id (`upload:...`)."
                    }
                  }
                },
                "example": {
                  "id": "upload:ABC..."
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta App id (resumable upload session)."
          }
        ]
      }
    },
    "/{id}": {
      "get": {
        "summary": "Get by id",
        "description": "Fetch a Graph node by id: media id → signed media URL + metadata (url rewritten to a Pilot download URL); group id → group info; phone-number id → number info; template id → template details.",
        "operationId": "get__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Signed download URL (rewritten to a Pilot URL)."
                    },
                    "mime_type": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    },
                    "file_size": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "messaging_product": {
                      "type": "string"
                    }
                  },
                  "description": "Media metadata (when id is a media id). Group / phone-number / template ids return their own node shape."
                },
                "example": {
                  "url": "https://pilotstatus.com.br/api/layer/meta/media-download?t=...",
                  "mime_type": "image/jpeg",
                  "sha256": "9e1...",
                  "file_size": 12345,
                  "id": "1234567890",
                  "messaging_product": "whatsapp"
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ]
      },
      "post": {
        "summary": "Update by id",
        "description": "Template id → edit an approved template's components; upload-session id → append file bytes (raw binary, header `file_offset`).",
        "operationId": "post__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Template components to replace (when id is a template id).",
                    "example": [
                      {
                        "type": "BODY",
                        "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                      }
                    ]
                  }
                },
                "description": "Template-update body. For an upload-session id, send the raw file bytes instead (binary, header `file_offset`)."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete by id",
        "description": "Media id → delete an uploaded media asset; group id → leave/close a group. Deleting your own WABA or phone-number id is blocked (403).",
        "operationId": "delete__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A Graph node id — its meaning depends on the operation (see the description)."
          }
        ]
      }
    },
    "/{wabaId}/message_templates": {
      "get": {
        "summary": "List templates",
        "description": "List the WABA's message templates (query paging/filter: `limit`, `name`, `status`).",
        "operationId": "get__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "123",
                      "name": "pedido_enviado",
                      "language": "pt_BR",
                      "status": "APPROVED",
                      "category": "UTILITY"
                    }
                  ],
                  "paging": {
                    "cursors": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      },
      "post": {
        "summary": "Create template",
        "description": "Create a message template for Meta approval.",
        "operationId": "post__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "123456",
                  "status": "PENDING",
                  "category": "UTILITY"
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Template name (a–z, 0–9, _).",
                    "example": "pedido_enviado"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code, e.g. `pt_BR`.",
                    "example": "pt_BR"
                  },
                  "category": {
                    "type": "string",
                    "description": "Template category.",
                    "enum": [
                      "UTILITY",
                      "MARKETING",
                      "AUTHENTICATION"
                    ],
                    "example": "UTILITY"
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "HEADER / BODY / FOOTER / BUTTONS components.",
                    "example": [
                      {
                        "type": "BODY",
                        "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                      },
                      {
                        "type": "BUTTONS",
                        "buttons": [
                          {
                            "type": "QUICK_REPLY",
                            "text": "Acompanhar"
                          }
                        ]
                      }
                    ]
                  },
                  "allow_category_change": {
                    "type": "boolean",
                    "description": "Let Meta re-categorize on review."
                  }
                },
                "required": [
                  "name",
                  "language",
                  "category",
                  "components"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "description": "Delete a template by name (query `?name=`).",
        "operationId": "delete__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      }
    },
    "/{wabaId}/phone_numbers": {
      "get": {
        "summary": "List phone numbers",
        "description": "List the phone numbers registered under the WABA.",
        "operationId": "get__wabaId_phone_numbers",
        "tags": [
          "Phone numbers"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "display_phone_number": {
                            "type": "string"
                          },
                          "verified_name": {
                            "type": "string"
                          },
                          "quality_rating": {
                            "type": "string"
                          },
                          "code_verification_status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "1088888",
                      "display_phone_number": "+55 11 99999-9999",
                      "verified_name": "Acme",
                      "quality_rating": "GREEN"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp Business Account id of your number."
          }
        ]
      }
    },
    "/{phoneNumberId}/whatsapp_business_profile": {
      "get": {
        "summary": "Get business profile",
        "description": "Read the number's business profile (`?fields=about,address,description,email,profile_picture_url,websites,vertical`).",
        "operationId": "get__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "about": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "profile_picture_url": {
                            "type": "string"
                          },
                          "websites": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "vertical": {
                            "type": "string"
                          },
                          "messaging_product": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "about": "Loja Acme",
                      "email": "contato@acme.com",
                      "websites": [
                        "https://acme.com"
                      ],
                      "vertical": "RETAIL",
                      "messaging_product": "whatsapp"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      },
      "post": {
        "summary": "Update business profile",
        "description": "Update the number's business-profile fields.",
        "operationId": "post__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Always `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "about": {
                    "type": "string",
                    "description": "Profile about text.",
                    "example": "Loja Acme"
                  },
                  "address": {
                    "type": "string",
                    "example": "Rua Exemplo, 123"
                  },
                  "description": {
                    "type": "string",
                    "example": "Atendimento e vendas"
                  },
                  "email": {
                    "type": "string",
                    "example": "contato@acme.com"
                  },
                  "vertical": {
                    "type": "string",
                    "description": "Business category (e.g. `RETAIL`).",
                    "example": "RETAIL"
                  },
                  "websites": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 2 URLs.",
                    "example": [
                      "https://acme.com"
                    ]
                  },
                  "profile_picture_handle": {
                    "type": "string",
                    "description": "Handle from a resumable upload."
                  }
                },
                "required": [
                  "messaging_product"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/groups": {
      "post": {
        "summary": "Create group",
        "description": "Create a Cloud API group (OBA-eligible numbers).",
        "operationId": "post__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "group_id": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "group_id": "120363000000000000@g.us",
                  "subject": "Equipe Acme"
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Group name.",
                    "example": "Equipe Acme"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs to add.",
                    "example": [
                      "5511999999999",
                      "5511888888888"
                    ]
                  }
                },
                "required": [
                  "subject"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "List groups",
        "description": "List the groups owned by the number.",
        "operationId": "get__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "group_id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "group_id": "120363000000000000@g.us",
                      "subject": "Equipe Acme"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ]
      }
    },
    "/{groupId}/participants": {
      "post": {
        "summary": "Add participants",
        "description": "Add members to a group.",
        "operationId": "post__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove participants",
        "description": "Remove members from a group.",
        "operationId": "delete__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/admins": {
      "post": {
        "summary": "Promote to admin",
        "description": "Promote participants to group admin.",
        "operationId": "post__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Demote admin",
        "description": "Demote group admins to member.",
        "operationId": "delete__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/invites": {
      "get": {
        "summary": "Get invite link",
        "description": "Get the group's invite link.",
        "operationId": "get__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite_link": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "invite_link": "https://chat.whatsapp.com/ABC..."
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ]
      },
      "post": {
        "summary": "Reset invite link",
        "description": "Revoke the current invite link and generate a new one.",
        "operationId": "post__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite_link": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "invite_link": "https://chat.whatsapp.com/NEW..."
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ]
      }
    },
    "/{groupId}/pins": {
      "post": {
        "summary": "Pin group message",
        "description": "Pin a message in the group.",
        "operationId": "post__groupId_pins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message_id": {
                    "type": "string",
                    "description": "Message id to pin.",
                    "example": "wamid.HBgLNTUxMTk5..."
                  }
                },
                "required": [
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/calls": {
      "post": {
        "summary": "Call action",
        "description": "WhatsApp Business Calling control. `action`: connect / pre_accept / accept / reject / terminate. Requires a Tier 2K+ number with calling enabled.",
        "operationId": "post__phoneNumberId_calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "calls": [
                    {
                      "id": "wacid.ABC..."
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Meta phone-number id of the number linked to your API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Always `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "to": {
                    "type": "string",
                    "description": "Callee MSISDN (for `connect`).",
                    "example": "5511999999999"
                  },
                  "action": {
                    "type": "string",
                    "description": "Call control action.",
                    "enum": [
                      "connect",
                      "pre_accept",
                      "accept",
                      "reject",
                      "terminate"
                    ],
                    "example": "connect"
                  },
                  "call_id": {
                    "type": "string",
                    "description": "Existing call id (accept/reject/terminate/pre_accept)."
                  },
                  "session": {
                    "type": "object",
                    "properties": {
                      "sdp_type": {
                        "type": "string",
                        "enum": [
                          "offer",
                          "answer"
                        ]
                      },
                      "sdp": {
                        "type": "string",
                        "description": "WebRTC SDP."
                      }
                    },
                    "description": "WebRTC session (connect/accept/pre_accept).",
                    "example": {
                      "sdp_type": "offer",
                      "sdp": "v=0..."
                    }
                  }
                },
                "required": [
                  "messaging_product",
                  "action"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/settings": {
      "get": {
        "summary": "Get calling settings",
        "description": "Read the number's calling settings.",
        "operationId": "get__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Meta Graph API response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calling": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "call_icon_visibility": {
                          "type": "string"
                        },
                        "call_hours": {
                          "type": "object"
                        },
                        "sip": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "calling": {
                    "status": "ENABLED",
                    "call_icon_visibility": "DEFAULT"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Meta Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error."
                        },
                        "type": {
                          "type": "string",
                          "description": "e.g. `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Meta Graph API error envelope."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
