{
  "openapi": "3.1.0",
  "info": {
    "title": "Pilot Status API",
    "version": "1.0.0",
    "license": {
      "name": "Pilot Status Terms of Service",
      "url": "https://pilotstatus.com.br/terms"
    },
    "description": "Public REST API for Pilot Status. Authenticate with the `x-api-key: ps_...` header (or `x-api-key-id`). Base URL: https://pilotstatus.com.br"
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "apiKeyId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your ps_ API key"
      },
      "apiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key-id",
        "description": "API key id (alternative to x-api-key)"
      }
    }
  },
  "paths": {
    "/v1/numbers": {
      "get": {
        "summary": "List numbers",
        "description": "Lists every WhatsApp number on the tenant (PILOT_STATUS and Meta Cloud API), including connection state and API key prefixes. Authenticate with x-api-key-id (or x-api-key: ps_…).",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers",
        "responses": {
          "200": {
            "description": "List numbers",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "num_01HZX...",
                    "instanceName": "tenant-5511999999999",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "apiKeys": [
                      {
                        "name": "Default",
                        "keyPrefix": "ps_abcd",
                        "keyLast4": "wxyz"
                      }
                    ],
                    "state": "OPEN",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-01T11:59:00.000Z",
                    "updatedAt": "2026-06-01T12:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create number (PILOT_STATUS)",
        "description": "Creates an unofficial WhatsApp number (PILOT_STATUS) and returns the QR code + pairing code to pair it. By default links the number to the calling API key (set linkToApiKey:false to skip). Real side effect: provisions an instance.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Suporte"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 10 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the new number to the calling API key (default true).",
                    "example": "true"
                  },
                  "settings": {
                    "type": "object",
                    "description": "Per-number settings the number is BORN with — the same block as `PATCH /v1/numbers/{id}`. This is the only place `historyImportEnabled: true` can be asked for: it defaults to `false`, the provider hands the device history over in a single burst right after the connection, and there is no way to request it afterwards. Every field of the PATCH block is accepted here; the `201` echoes back what the number was created with.",
                    "properties": {
                      "historyImportEnabled": {
                        "type": "boolean",
                        "description": "Store the on-connect history dump. Default `false`.",
                        "example": true
                      },
                      "webhookHistoricalMessages": {
                        "type": "boolean",
                        "description": "Deliver those historical messages to your webhooks. Default `false`.",
                        "example": false
                      },
                      "ignoreNewsletters": {
                        "type": "boolean",
                        "description": "Drop WhatsApp Channel (`@newsletter`) posts on arrival. Default `false`.",
                        "example": false
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "number"
                ]
              },
              "example": {
                "name": "Suporte",
                "number": "5511999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create number",
            "content": {
              "application/json": {
                "example": {
                  "instance": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Suporte",
                    "provider": "PILOT_STATUS",
                    "status": "CONNECTING",
                    "isFullyConnected": false
                  },
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234",
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/meta": {
      "post": {
        "summary": "Create Meta number (Cloud API)",
        "description": "Manual Meta Cloud API onboarding: you already own the WABA + system-user token and pass the credentials directly. Returns the created number + the webhook URL/verifyToken you must configure in your Meta app. (No credentials yet? Use /api/v1/numbers/remote-pairing with provider=META.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_meta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the number.",
                    "example": "Atendimento"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number (min 8 digits, optional +).",
                    "example": "5511999999999"
                  },
                  "metaPhoneId": {
                    "type": "string",
                    "description": "Meta Cloud API Phone Number ID.",
                    "example": "123456789012345"
                  },
                  "metaWabaId": {
                    "type": "string",
                    "description": "WhatsApp Business Account (WABA) ID.",
                    "example": "987654321098765"
                  },
                  "metaAccessToken": {
                    "type": "string",
                    "description": "System-user access token.",
                    "example": "EAAG..."
                  },
                  "metaAppSecret": {
                    "type": "string",
                    "description": "Meta app App Secret.",
                    "example": "a1b2c3..."
                  },
                  "metaAppId": {
                    "type": "string",
                    "description": "Meta app App ID.",
                    "example": "100200300400500"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the number to the calling API key (default true).",
                    "example": "true"
                  }
                },
                "required": [
                  "name",
                  "number",
                  "metaPhoneId",
                  "metaWabaId",
                  "metaAccessToken",
                  "metaAppSecret",
                  "metaAppId"
                ]
              },
              "example": {
                "name": "Atendimento",
                "number": "5511999999999",
                "metaPhoneId": "123456789012345",
                "metaWabaId": "987654321098765",
                "metaAccessToken": "EAAG...",
                "metaAppSecret": "a1b2c3...",
                "metaAppId": "100200300400500"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create Meta number",
            "content": {
              "application/json": {
                "example": {
                  "number": {
                    "id": "num_01HZX...",
                    "number": "5511999999999",
                    "name": "Atendimento",
                    "provider": "META",
                    "metaPhoneId": "123456789012345",
                    "metaWabaId": "987654321098765",
                    "isFullyConnected": true,
                    "createdAt": "2026-06-20T10:00:00.000Z"
                  },
                  "webhook": {
                    "url": "https://webhook.pilotstatus.com.br/meta",
                    "verifyToken": "ps_meta_verify_..."
                  },
                  "linkedApiKeyId": "key_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "409": {
            "description": "Number already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number already exists"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/remote-pairing": {
      "post": {
        "summary": "Remote pairing (connection link)",
        "description": "Generates a link so another person connects their own number. provider=PILOT_STATUS (default) requires name + number and returns a QR pairing link; provider=META returns a hosted Embedded Signup link (the person picks the number inside the Facebook dialog, no name/number).",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_remote-pairing",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "Link kind (default PILOT_STATUS).",
                    "example": "PILOT_STATUS"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "Cliente Acme"
                  },
                  "number": {
                    "type": "string",
                    "description": "Required for PILOT_STATUS; ignored for META.",
                    "example": "5511988887777"
                  },
                  "sendViaWhatsApp": {
                    "type": "boolean",
                    "description": "Send the link over WhatsApp (PILOT_STATUS). Default false.",
                    "example": "false"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "Redirect URL after completion (META).",
                    "example": "https://app.acme.com/done"
                  },
                  "externalRef": {
                    "type": "string",
                    "description": "Optional external reference for correlation (META).",
                    "example": "customer-42"
                  },
                  "linkToApiKey": {
                    "type": "boolean",
                    "description": "Link the resulting number to the calling API key (default true).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "name": "Cliente Acme",
                "number": "5511988887777"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PILOT_STATUS link",
            "content": {
              "application/json": {
                "example": {
                  "provider": "PILOT_STATUS",
                  "remotePairingToken": "rp_01HZX...",
                  "remotePairingUrl": "https://pilotstatus.com.br/connect/rp_01HZX...",
                  "numberId": "num_01HZX..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}": {
      "get": {
        "summary": "Get number (Meta details)",
        "description": "Returns the number + all Meta info when it is an official-API number: a nested `meta` block (phone / profile / waba, camelCase) with quality, messaging-limit tier, verification status, business profile and WABA data, plus `health`. Served from cache by default; pass `?refresh=1` to fetch live from the Meta Graph and persist. Non-Meta numbers return `meta: null`. (The same route accepts DELETE to remove; use GET /api/v1/numbers/:id/status for a lightweight state-only poll.)",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Pass `1` to force a live fetch from the Meta Graph and refresh the cache.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Meta number",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "META",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "settings": {
                    "historyImportEnabled": false,
                    "webhookHistoricalMessages": false,
                    "ignoreNewsletters": false,
                    "alwaysOnline": null,
                    "rejectCall": null,
                    "msgRejectCall": null,
                    "readMessages": null,
                    "ignoreGroups": null,
                    "ignoreStatus": null,
                    "appliesTo": {
                      "history": "all",
                      "advanced": "none"
                    }
                  },
                  "health": {
                    "qualityRating": "GREEN",
                    "messagingLimitTier": "TIER_2K",
                    "metaStatus": "CONNECTED",
                    "sendable": true
                  },
                  "meta": {
                    "fetchedAt": "2026-06-30T08:55:00.000Z",
                    "phone": {
                      "displayPhoneNumber": "+55 11 99999-9999",
                      "verifiedName": "Minha Empresa",
                      "qualityRating": "GREEN",
                      "status": "CONNECTED",
                      "codeVerificationStatus": "VERIFIED",
                      "nameStatus": "APPROVED",
                      "platformType": "CLOUD_API",
                      "throughput": {
                        "level": "STANDARD"
                      },
                      "messagingLimitTier": "TIER_2K",
                      "businessManagerMessagingLimit": "TIER_2K",
                      "accountMode": "LIVE"
                    },
                    "profile": {
                      "about": "Atendimento oficial",
                      "email": "contato@empresa.com",
                      "websites": [
                        "https://empresa.com"
                      ],
                      "vertical": "PROF_SERVICES"
                    },
                    "waba": {
                      "id": "1234567890",
                      "name": "Empresa WABA",
                      "currency": "BRL",
                      "businessVerificationStatus": "verified",
                      "accountReviewStatus": "APPROVED",
                      "ownershipType": "CLIENT"
                    },
                    "errors": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update number (privacy + settings)",
        "description": "PARTIAL update of a number: only what you send changes. There is **no** `POST /v1/numbers/{id}/settings` — this PATCH is the settings endpoint, and Evolution's `syncFullHistory` has no equivalent here (use `settings.historyImportEnabled`).\n\n`piiMode` controls conversation retention and requires `piiRetentionDays` (1–3650) when set to `STORE_X_DAYS`.\n\nThe `settings` block has two groups. `historyImportEnabled`, `webhookHistoricalMessages` and `ignoreNewsletters` apply to every provider — the last one drops WhatsApp Channel (`@newsletter`) posts on arrival, before the conversation, the stored message and the webhook. The other six are the Evolution GO `advancedSettings` and only apply to unofficial (QR-paired) numbers — on a Meta number they are accepted and stored but never applied, which the response reports as `settings.appliesTo.advanced: \"none\"`. Sending `null` on a GO field **resets it to the provider default**; it does not mean `false`.\n\nThe GO fields are also pushed to the number's connected instances; the outcome comes back in `settingsSync`. That push is best-effort: a disconnected instance does not fail the PATCH, and the persisted value is reapplied on its next provisioning.\n\nA body with no recognised field is a `400 EMPTY_PATCH`, not a silent no-op.",
        "tags": [
          "Numbers"
        ],
        "operationId": "patch_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "piiMode": {
                    "type": "string",
                    "enum": [
                      "STORE_INDEFINITE",
                      "STORE_X_DAYS",
                      "RELAY_ONLY"
                    ],
                    "description": "Conversation retention policy. Optional — omit it to change only `settings`.",
                    "example": "STORE_X_DAYS"
                  },
                  "piiRetentionDays": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 3650,
                    "description": "Required (1–3650) when `piiMode` is `STORE_X_DAYS`; forced to null otherwise.",
                    "example": 30
                  },
                  "settings": {
                    "type": "object",
                    "description": "Per-number settings. Partial: only the keys you send change.",
                    "properties": {
                      "historyImportEnabled": {
                        "type": "boolean",
                        "description": "Import the history the provider dumps on connect. Default **false**: the number starts existing at the moment it connected. Ask for it HERE, on creation — the provider hands the history over in a single burst right after the connection and it cannot be requested again, so a PATCH after creating races that burst. Numbers created before 2026-08-26 keep whatever they had.",
                        "example": false
                      },
                      "webhookHistoricalMessages": {
                        "type": "boolean",
                        "description": "Deliver those historical messages to your webhooks. Default `false`: every reconnect replays the history and your integration cannot tell it apart from new traffic (on the FREE plan it would also consume inbound quota). To READ history use `GET /v1/messages/history`.",
                        "example": false
                      },
                      "ignoreNewsletters": {
                        "type": "boolean",
                        "description": "Drop WhatsApp Channel (`@newsletter`) posts on arrival: no conversation, no stored message, no webhook. Default `false`, so a number that receives channels today keeps receiving them. This is NOT an Evolution GO field: the provider has no `@newsletter` gate to push it to (unlike `ignoreGroups`, which it applies itself), so a channel post always reaches the platform and can only be refused here. An official Meta number never receives channels at all.",
                        "example": false
                      },
                      "alwaysOnline": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Keep the WhatsApp presence permanently online. Unofficial (Evolution GO) numbers only. `null` resets to the provider default.",
                        "example": false
                      },
                      "rejectCall": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Auto-reject incoming calls. Unofficial numbers only. `null` resets to the provider default.",
                        "example": true
                      },
                      "msgRejectCall": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 1000,
                        "description": "Text replied when a call is rejected (empty string = no reply). Unofficial numbers only. `null` resets to the provider default.",
                        "example": "I don't take calls here"
                      },
                      "readMessages": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Mark every received message as read. Unofficial numbers only. `null` resets to the provider default.",
                        "example": false
                      },
                      "ignoreGroups": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Drop group messages inside the provider. Note the field name: this is the Evolution GO dialect (`ignoreGroups`), NOT the v2 `groupsIgnore`. Setting it explicitly beats the value derived from your group webhook subscriptions. Unofficial numbers only.",
                        "example": false
                      },
                      "ignoreStatus": {
                        "type": [
                          "boolean",
                          "null"
                        ],
                        "description": "Drop status/stories updates. Unofficial numbers only. `null` resets to the provider default.",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated number",
            "content": {
              "application/json": {
                "example": {
                  "id": "num_01HZX...",
                  "number": "+5511999999999",
                  "name": "Atendimento",
                  "provider": "WEB",
                  "state": "OPEN",
                  "isFullyConnected": true,
                  "piiMode": "STORE_X_DAYS",
                  "piiRetentionDays": 30,
                  "settings": {
                    "historyImportEnabled": false,
                    "webhookHistoricalMessages": false,
                    "ignoreNewsletters": false,
                    "alwaysOnline": null,
                    "rejectCall": true,
                    "msgRejectCall": "I don't take calls here",
                    "readMessages": null,
                    "ignoreGroups": null,
                    "ignoreStatus": null,
                    "appliesTo": {
                      "history": "all",
                      "advanced": "evolution-go"
                    }
                  },
                  "settingsSync": {
                    "applied": 1,
                    "failed": 0,
                    "skipped": 0
                  },
                  "health": {
                    "qualityRating": null,
                    "messagingLimitTier": null,
                    "metaStatus": null,
                    "code": null,
                    "reason": null,
                    "sendable": true
                  },
                  "meta": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid settings, or nothing to update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidSettings": {
                    "summary": "INVALID_SETTINGS",
                    "value": {
                      "error": "settings.rejectCall must be a boolean or null",
                      "code": "INVALID_SETTINGS"
                    }
                  },
                  "emptyPatch": {
                    "summary": "EMPTY_PATCH",
                    "value": {
                      "error": "Nothing to update — send `piiMode` and/or `settings`",
                      "code": "EMPTY_PATCH"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Number not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete number",
        "description": "Permanently removes the WhatsApp number/instance, cleaning up upstream provider resources. Real and irreversible side effect.",
        "tags": [
          "Numbers"
        ],
        "operationId": "delete_numbers_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the number/instance to remove.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete number",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/logout": {
      "post": {
        "summary": "Logout WhatsApp instance",
        "description": "Disconnects a WhatsApp instance (logout) without removing it from the database. This is different from DELETE which permanently removes the instance.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_id_logout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "WhatsApp instance id or WhatsApp number id.",
            "schema": {
              "type": "string"
            },
            "example": "inst_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "instances": [
                    {
                      "instanceId": "inst_01HZX...",
                      "ok": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Number not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/status": {
      "get": {
        "summary": "Number connection status",
        "description": "Syncs and returns the number's current connection state (OPEN/CONNECTING/CLOSE). Meta numbers return OPEN. A Meta number created by POST /v1/numbers/remote-pairing answers PENDING while the end user is still inside the Embedded Signup dialog and EXPIRED once that window closed without completion — both carry `expiresAt`. A 200 does NOT mean connected: poll until `state` is OPEN and stop on EXPIRED. Useful to poll after creating/connecting.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The number's public id.",
                      "example": "num_01HZX..."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "OPEN",
                        "CONNECTING",
                        "CLOSE",
                        "PENDING",
                        "EXPIRED"
                      ],
                      "description": "OPEN = connected. PENDING/EXPIRED = Meta number awaiting (or past) the Embedded Signup window.",
                      "example": "OPEN"
                    },
                    "stale": {
                      "type": "boolean",
                      "description": "false = live reading (with checkedAt); true = last remembered state (with lastKnownAt).",
                      "example": false
                    },
                    "checkedAt": {
                      "type": "string",
                      "description": "ISO 8601. Only when stale is false.",
                      "example": "2026-07-22T12:34:56.000Z"
                    },
                    "lastKnownAt": {
                      "type": "string",
                      "description": "ISO 8601. Only when stale is true.",
                      "example": "2026-07-22T12:34:56.000Z"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "ISO 8601 end of the pairing window. Only on PENDING/EXPIRED.",
                      "example": "2026-08-04T18:27:31.000Z"
                    }
                  }
                },
                "example": {
                  "id": "num_01HZX...",
                  "state": "OPEN"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/connect": {
      "get": {
        "summary": "Reconnect number (QR / pairing)",
        "description": "Generates a fresh QR code + pairing code to reconnect a disconnected PILOT_STATUS number. Returns 409 if already OPEN. Not applicable to Meta numbers.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_connect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "PILOT_STATUS number/instance id.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "Reconnect",
            "content": {
              "application/json": {
                "example": {
                  "qrcodeBase64": "data:image/png;base64,iVBORw0KGgo...",
                  "pairingCode": "ABCD-1234"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numbers/{id}/flow-endpoint-key": {
      "get": {
        "summary": "Get Flow endpoint key state",
        "description": "The `data_exchange` endpoint keypair of ONE number: whether one exists (`configured`), its public half (`publicKey`), when Meta accepted it (`uploadedAt`), the base URL to register on a Flow (`endpointUrl`), and — the part that has no other symptom — what META says it holds (`metaStatus`).\n\n⛔ `metaStatus` has FOUR values and `UNKNOWN` is not `NOT_SET`. `VALID` is Meta holding the key we hold; `MISMATCH` is Meta holding a DIFFERENT one, which silently breaks every `data_exchange` Flow on the number and raises no error on our side; `NOT_SET` is Meta answering that it holds no key; `UNKNOWN` is us failing to ask. Collapsing the last two makes an operator rotate over a transient Graph 500 — and rotating replaces the key Meta holds.\n\n`uploadedAt: null` means a pair was generated here but Meta never accepted it. That is not the same as no key at all, and it is the state a repeat `POST` RESUMES rather than replaces.\n\nThe PRIVATE half is never in this payload. `endpointUrl` is a credential — it embeds the number's endpoint path token — which is why the permission is `flows:manage` and deliberately not `flows:read`. Append the Flow id as a final segment to get the `endpoint_uri` of one Flow.\n\n⚠️ The `{id}` in the path is CHECKED against the credential's own number, never used to look one up. A path id that does not match answers 404 `FLOW_NUMBER_NOT_FOUND` — never 403, and the same body whether the id belongs to another tenant or to another of your own numbers, so a wrong guess learns nothing.\n\n**Requires a number-scoped key.** A tenant-scoped key must name the number with the `x-whatsapp-number-id` header, or it gets 403 `TENANT_SCOPE_NOT_ALLOWED`.",
        "tags": [
          "Numbers"
        ],
        "operationId": "get_numbers_id_flow_endpoint_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the number the key is bound to — the `id` (or instance id) `GET /v1/numbers` returns. It is CHECKED against the credential's own number, never used to look one up.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "responses": {
          "200": {
            "description": "The number's `data_exchange` endpoint keypair as it stands here and at Meta. The private half is never in the payload",
            "content": {
              "application/json": {
                "example": {
                  "configured": true,
                  "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----\n",
                  "uploadedAt": "2026-09-02T10:00:00.000Z",
                  "endpointUrl": "https://pilotstatus.com.br/api/flows/endpoint/AbC123...",
                  "metaStatus": "VALID"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint, or the key's role lacks `flows:manage`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "This endpoint acts on a single WhatsApp number: send the x-whatsapp-number-id header naming the number to act on (its id or instance id from GET /v1/numbers) | Este endpoint atua sobre um único número de WhatsApp: envie o header x-whatsapp-number-id indicando o número desejado (o id dele ou o id da instância, obtidos em GET /v1/numbers)",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "404": {
            "description": "The path `{id}` is not the number this credential is bound to. Never 403: another tenant's number and another of your own numbers answer the same body, byte for byte, so a guessed id is never confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Número não encontrado para esta chave. Esta rota atua sobre o número ao qual a chave está vinculada — use a chave do número em questão, ou o header x-whatsapp-number-id se a chave for de conta.",
                  "errorEN": "Number not found for this key. This route acts on the number the key is bound to — use that number's key, or the x-whatsapp-number-id header if the key is an account-wide one.",
                  "code": "FLOW_NUMBER_NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "The key's number is not a Meta (Cloud API) number, or has no WABA behind it",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Flows existem apenas em números Meta (API Oficial). O número desta chave não é Meta ou não tem uma WABA associada — use uma chave de um número Meta.",
                  "errorEN": "Flows only exist on Meta (Cloud API) numbers. This key's number is not a Meta number, or has no WABA behind it — use a key bound to a Meta number.",
                  "code": "FLOW_REQUIRES_META_NUMBER"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal error. Never carries the internal message — that belongs in the log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Erro interno do servidor.",
                  "errorEN": "Internal server error.",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Generate or import Flow endpoint key",
        "description": "Puts the `data_exchange` keypair on ONE number, by one of TWO verbs told apart by a single field: send `privateKey` and it IMPORTS the key you already own, leave it out and it GENERATES a fresh pair. Answers 200 with the same shape the `GET` returns, plus `replaced`.\n\n- **GENERATE — no `privateKey`.** Mints the pair, stores the private half encrypted, and REGISTERS the public half with Meta.\n- **IMPORT — `privateKey`, optionally with `passphrase`.** Stores a key you ALREADY own, and ⛔ REGISTERS NOTHING WITH META.\n\n⛔ **GENERATING IS A DESTRUCTIVE OPERATION WEARING THE FACE OF A CREATION.** Meta holds exactly ONE public key per phone id: registering a second one does not add it, it REPLACES the first, and every `data_exchange` Flow on that number stops decrypting at once. From the customer's side the symptom is a form that no longer opens, with no error anywhere on our side — the endpoint simply answers 421 to a body encrypted for a key we no longer hold. The private half stored here is overwritten at the same moment and cannot be restored.\n\n⛔ **IMPORTING REGISTERS NOTHING WITH META, and that is the entire point of it.** Your public key is already registered — often by a system that predates us — and Meta holds exactly one key per phone id, so registering here would replace the very setup the import exists to preserve. What makes it safe is a READ: the public half is derived from the private one you sent and compared with the key Meta reports for the number.\n\n- they agree → stored, `uploadedAt` stamped, `metaStatus: \"VALID\"`.\n- they disagree → 400 `FLOW_ENDPOINT_KEY_IMPORT_MISMATCH`, and NOTHING is written. Storing it would leave a number reporting `configured: true` that decrypts nothing.\n- Meta could not be asked, or holds no key → **stored anyway**, with `uploadedAt: null` and `metaStatus` `UNKNOWN`/`NOT_SET`. That null IS the \"unverified\" signal and you have to read it: a 200 alone does not tell the two apart.\n\nA passphrase-protected PEM is accepted; the key is opened once, here, and stored normalised. The PEM must be RSA of 2048 bits or more — Meta encrypts `data_exchange` with RSA/OAEP.\n\n⛔ **`confirm` IS NOT ALWAYS REQUIRED. It is required exactly when the call REPLACES A LIVE KEY — and that rule is the same for BOTH verbs.** One state check decides it: a key of ours is already live at Meta (`uploadedAt` is not `null`). The FIRST setup never asks, whichever verb you use, and neither does retrying a pair Meta never accepted (`uploadedAt: null`) — that call re-uploads the SAME stored public half and converges instead of replacing anything, so there is nothing to destroy. When it IS asked for, the check is `=== true`, so `\"true\"`, `1` and `{}` are all refused.\n\n⚠️ **Importing is gated too, and what it puts at risk is OUR side, not Meta's.** An import registers nothing at Meta, but it overwrites the private half stored here — the key WE decrypt with. If the number already held a working key and Meta cannot confirm the imported one (it being unreachable, say), the imported key is stored anyway and every `data_exchange` request on that number stops decrypting, with nothing changed at Meta to point at. So the two verbs share the flag and answer with DIFFERENT codes: `FLOW_ENDPOINT_KEY_REQUIRES_CONFIRMATION` when generating (what is at stake is the registration at Meta) and `FLOW_ENDPOINT_KEY_IMPORT_REQUIRES_CONFIRMATION` when importing (what is at stake is the private half kept here).\n\n⚠️ `replaced` is in the payload because a 200 alone does not say which of the two things happened. `replaced: false` is \"a key now exists where none was live\"; `replaced: true` is \"the key that was working is gone, and every Flow that was answering with the old pair is now answering with the new one\".\n\n**The body accepts three fields — `confirm`, `privateKey` and `passphrase` — and anything else is 400 `FLOW_UNKNOWN_FIELDS`**. `passphrase` on its own is REFUSED, 400 `FLOW_ENDPOINT_KEY_PASSPHRASE_ORPHAN`, and never ignored: a mistyped `privateKey` would otherwise fall through into GENERATE, which registers a fresh key at Meta and replaces whatever was there — the most destructive outcome this route has, reached by a typo and reported as success. A `privateKey` that is not a non-empty string, or a `passphrase` that is not a string, is 400 `FLOW_ENDPOINT_KEY_IMPORT_INVALID`, answered before any crypto runs. A PEM that cannot be used is a 400 whose code names the repair: `FLOW_ENDPOINT_KEY_PASSPHRASE_REQUIRED`, `FLOW_ENDPOINT_KEY_PASSPHRASE_WRONG`, or `FLOW_ENDPOINT_KEY_PEM_INVALID` (unreadable, not RSA, or under 2048 bits).\n\nA truncated body is not read as an empty one — the payload is parsed from raw text, so `{\"confirm\": true` (one missing brace) is 400 `FLOW_BODY_INVALID` rather than a confusing \"confirmation required\". No body at all stays legitimate, and means GENERATE. Naming the number in the body — `whatsappNumberId`, `numberId` or `wabaId` — has a refusal of its own, 400 `FLOW_NUMBER_FROM_KEY`, because the number comes from the credential. Permission `flows:manage`.\n\n**Requires a number-scoped key.** A tenant-scoped key must name the number with the `x-whatsapp-number-id` header, or it gets 403 `TENANT_SCOPE_NOT_ALLOWED`.",
        "tags": [
          "Numbers"
        ],
        "operationId": "post_numbers_id_flow_endpoint_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the number the key is bound to — the `id` (or instance id) `GET /v1/numbers` returns. It is CHECKED against the credential's own number, never used to look one up.",
            "schema": {
              "type": "string"
            },
            "example": "num_01HZX..."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "Must be the boolean `true`, exactly. ⛔ NOT always required: it is required exactly when the call REPLACES A LIVE KEY — i.e. when a key of ours is already live at Meta (`uploadedAt` is not `null`) — and that rule holds for BOTH verbs, generating and importing alike. The first setup does not ask, and neither does retrying a pair Meta never accepted. What it acknowledges differs by verb: when generating, that the key registered at Meta is REPLACED and every `data_exchange` Flow of this number stops decrypting; when importing, that the private half stored here is REPLACED, which breaks decryption on our side if Meta cannot confirm the imported key.",
                    "example": true
                  },
                  "privateKey": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The PEM of a private key you ALREADY own, whose public half Meta has registered for this number. ⛔ Its PRESENCE is what turns this POST from GENERATE into IMPORT: sent, nothing is registered with Meta and only the stored private half changes; omitted, a fresh pair is minted and its public half REGISTERED at Meta. Must be a non-empty string — `privateKey: 42` is 400 `FLOW_ENDPOINT_KEY_IMPORT_INVALID` and is never coerced. Send the whole `.pem` file contents, `-----BEGIN …-----` and `-----END …-----` lines included. RSA, 2048 bits or more; a passphrase-protected PEM is accepted alongside `passphrase`. If its public half is not the one Meta holds, the answer is 400 `FLOW_ENDPOINT_KEY_IMPORT_MISMATCH` and nothing is written.",
                    "example": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQ...\n-----END PRIVATE KEY-----\n"
                  },
                  "passphrase": {
                    "type": "string",
                    "description": "The passphrase that opens `privateKey`, when the PEM is encrypted. Optional, and only ever alongside `privateKey`: ⛔ sent on its own it is REFUSED with 400 `FLOW_ENDPOINT_KEY_PASSPHRASE_ORPHAN` rather than ignored, because a mistyped `privateKey` would otherwise fall through into GENERATE and replace the registration at Meta. Must be a string. An encrypted PEM with no passphrase is 400 `FLOW_ENDPOINT_KEY_PASSPHRASE_REQUIRED`; a passphrase that does not open it is 400 `FLOW_ENDPOINT_KEY_PASSPHRASE_WRONG` — two codes, because they are two different repairs.",
                    "example": "the-passphrase-that-opens-the-pem"
                  }
                }
              },
              "examples": {
                "generateFirstTime": {
                  "summary": "GENERATE, first setup — no body needed, nothing live to replace",
                  "value": {}
                },
                "generateReplacingLiveKey": {
                  "summary": "GENERATE over a live key — `confirm` required",
                  "value": {
                    "confirm": true
                  }
                },
                "importFirstTime": {
                  "summary": "IMPORT a key you already own — nothing is registered with Meta",
                  "value": {
                    "privateKey": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQ...\n-----END PRIVATE KEY-----\n"
                  }
                },
                "importPassphraseProtected": {
                  "summary": "IMPORT a passphrase-protected PEM over a live key",
                  "value": {
                    "privateKey": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQ...\n-----END PRIVATE KEY-----\n",
                    "passphrase": "the-passphrase-that-opens-the-pem",
                    "confirm": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A keypair now stands on the number. GENERATE also registered the public half with Meta; IMPORT registered NOTHING — there, `uploadedAt: null` with `metaStatus` `UNKNOWN`/`NOT_SET` means the key was STORED and Meta did not confirm it, which is the one thing a 200 alone does not tell you. `replaced` says whether a key that was LIVE has just been displaced — a 200 alone does not",
            "content": {
              "application/json": {
                "examples": {
                  "generated": {
                    "summary": "GENERATE — a fresh pair, registered with Meta, replacing a live key",
                    "value": {
                      "configured": true,
                      "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----\n",
                      "uploadedAt": "2026-09-02T10:00:00.000Z",
                      "endpointUrl": "https://pilotstatus.com.br/api/flows/endpoint/AbC123...",
                      "metaStatus": "VALID",
                      "replaced": true
                    }
                  },
                  "importedVerified": {
                    "summary": "IMPORT — Meta confirmed the key is the one it holds",
                    "value": {
                      "configured": true,
                      "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----\n",
                      "uploadedAt": "2026-09-02T10:00:00.000Z",
                      "endpointUrl": "https://pilotstatus.com.br/api/flows/endpoint/AbC123...",
                      "metaStatus": "VALID",
                      "replaced": false
                    }
                  },
                  "importedUnverified": {
                    "summary": "IMPORT — stored, but Meta did NOT confirm it (uploadedAt is null)",
                    "value": {
                      "configured": true,
                      "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----\n",
                      "uploadedAt": null,
                      "endpointUrl": "https://pilotstatus.com.br/api/flows/endpoint/AbC123...",
                      "metaStatus": "UNKNOWN",
                      "replaced": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`FLOW_ENDPOINT_KEY_REQUIRES_CONFIRMATION` (generating would replace a key live at Meta and `confirm: true` was not sent), `FLOW_ENDPOINT_KEY_IMPORT_REQUIRES_CONFIRMATION` (the same gate on the import verb — what would be replaced is the private half stored here), `FLOW_ENDPOINT_KEY_IMPORT_MISMATCH` (the key sent is not the one Meta holds; NOTHING was written), `FLOW_ENDPOINT_KEY_IMPORT_INVALID`, `FLOW_ENDPOINT_KEY_PASSPHRASE_ORPHAN`, `FLOW_ENDPOINT_KEY_PASSPHRASE_REQUIRED`, `FLOW_ENDPOINT_KEY_PASSPHRASE_WRONG`, `FLOW_ENDPOINT_KEY_PEM_INVALID`, `FLOW_BODY_INVALID`, `FLOW_UNKNOWN_FIELDS`, `FLOW_NUMBER_FROM_KEY`, or a Meta refusal passed through with Meta's own message and code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "requiresConfirmation": {
                    "summary": "FLOW_ENDPOINT_KEY_REQUIRES_CONFIRMATION",
                    "value": {
                      "error": "Este número já tem uma chave registrada na Meta. Registrar uma nova SUBSTITUI a atual e quebra todos os Flows `data_exchange` deste número no instante em que a Meta aceitar — envie `\"confirm\": true` (booleano, exatamente) para prosseguir.",
                      "errorEN": "This number already has a key registered with Meta. Registering a new one REPLACES it and breaks every `data_exchange` Flow of this number the moment Meta accepts it — send `\"confirm\": true` (a boolean, exactly) to proceed.",
                      "code": "FLOW_ENDPOINT_KEY_REQUIRES_CONFIRMATION"
                    }
                  },
                  "importRequiresConfirmation": {
                    "summary": "FLOW_ENDPOINT_KEY_IMPORT_REQUIRES_CONFIRMATION",
                    "value": {
                      "error": "Este número já tem uma chave em uso. Importar outra SUBSTITUI a chave privada guardada aqui — e se a Meta não confirmar a importada (indisponível, por exemplo), o número fica com uma chave que pode não decifrar nada. Nada é registrado na Meta por esta operação. Envie `\"confirm\": true` (booleano, exatamente) para prosseguir.",
                      "errorEN": "This number already has a key in use. Importing another REPLACES the private key stored here — and if Meta cannot confirm the imported one (it being unreachable, say), the number is left holding a key that may decrypt nothing. Nothing is registered with Meta by this operation. Send `\"confirm\": true` (a boolean, exactly) to proceed.",
                      "code": "FLOW_ENDPOINT_KEY_IMPORT_REQUIRES_CONFIRMATION"
                    }
                  },
                  "importMismatch": {
                    "summary": "FLOW_ENDPOINT_KEY_IMPORT_MISMATCH",
                    "value": {
                      "error": "A chave privada enviada não corresponde à chave pública que a Meta tem registrada para este número — guardá-la deixaria o número sem conseguir decifrar nada, e a falha só apareceria como um formulário que não avança. Importe a chave correspondente à registrada, ou faça um POST sem `privateKey` para gerar um par novo (isso SUBSTITUI o registro na Meta).",
                      "errorEN": "The private key you sent does not match the public key Meta has registered for this number — storing it would leave the number unable to decrypt anything, and the failure would only show up as a form that never advances. Import the key matching the registered one, or POST without `privateKey` to generate a fresh pair (which REPLACES the registration at Meta).",
                      "code": "FLOW_ENDPOINT_KEY_IMPORT_MISMATCH"
                    }
                  },
                  "importInvalidField": {
                    "summary": "FLOW_ENDPOINT_KEY_IMPORT_INVALID",
                    "value": {
                      "error": "`privateKey` deve ser a chave privada em PEM (string não vazia) e `passphrase`, quando enviada, uma string.",
                      "errorEN": "`privateKey` must be the private key in PEM (a non-empty string), and `passphrase`, when sent, a string.",
                      "code": "FLOW_ENDPOINT_KEY_IMPORT_INVALID"
                    }
                  },
                  "passphraseOrphan": {
                    "summary": "FLOW_ENDPOINT_KEY_PASSPHRASE_ORPHAN",
                    "value": {
                      "error": "`passphrase` só faz sentido junto de `privateKey`. Sem `privateKey` esta rota GERA um par novo e o registra na Meta, substituindo o atual — não é o que uma passphrase indica querer. Envie a chave, ou remova a passphrase.",
                      "errorEN": "`passphrase` only means something alongside `privateKey`. Without `privateKey` this route GENERATES a new pair and registers it with Meta, replacing the current one — which is not what sending a passphrase suggests you meant. Send the key, or drop the passphrase.",
                      "code": "FLOW_ENDPOINT_KEY_PASSPHRASE_ORPHAN"
                    }
                  },
                  "passphraseRequired": {
                    "summary": "FLOW_ENDPOINT_KEY_PASSPHRASE_REQUIRED",
                    "value": {
                      "error": "A chave privada enviada está protegida por passphrase e nenhuma foi informada. Envie `passphrase` junto de `privateKey`.",
                      "errorEN": "The private key you sent is passphrase-protected and none was given. Send `passphrase` alongside `privateKey`.",
                      "code": "FLOW_ENDPOINT_KEY_PASSPHRASE_REQUIRED"
                    }
                  },
                  "passphraseWrong": {
                    "summary": "FLOW_ENDPOINT_KEY_PASSPHRASE_WRONG",
                    "value": {
                      "error": "A passphrase não abre a chave privada enviada. Confira a passphrase — a chave em si não foi rejeitada, ela apenas não foi aberta.",
                      "errorEN": "The passphrase does not open the private key you sent. Check the passphrase — the key itself was not rejected, it simply was not opened.",
                      "code": "FLOW_ENDPOINT_KEY_PASSPHRASE_WRONG"
                    }
                  },
                  "pemUnreadable": {
                    "summary": "FLOW_ENDPOINT_KEY_PEM_INVALID (unreadable PEM)",
                    "value": {
                      "error": "Não foi possível ler `privateKey` como uma chave privada PEM. Envie o conteúdo do arquivo `.pem` inteiro, incluindo as linhas `-----BEGIN …-----` e `-----END …-----`.",
                      "errorEN": "`privateKey` could not be read as a PEM private key. Send the whole `.pem` file contents, including the `-----BEGIN …-----` and `-----END …-----` lines.",
                      "code": "FLOW_ENDPOINT_KEY_PEM_INVALID"
                    }
                  },
                  "pemNotRsa": {
                    "summary": "FLOW_ENDPOINT_KEY_PEM_INVALID (not an RSA key)",
                    "value": {
                      "error": "A chave enviada não é RSA. A Meta cifra o `data_exchange` com RSA/OAEP, e uma chave EC ou Ed25519 não decifra nada — envie a chave RSA-2048 do número.",
                      "errorEN": "The key you sent is not RSA. Meta encrypts `data_exchange` with RSA/OAEP, and an EC or Ed25519 key decrypts nothing — send the number's RSA-2048 key.",
                      "code": "FLOW_ENDPOINT_KEY_PEM_INVALID"
                    }
                  },
                  "pemTooWeak": {
                    "summary": "FLOW_ENDPOINT_KEY_PEM_INVALID (RSA under 2048 bits)",
                    "value": {
                      "error": "A chave RSA enviada é menor que 2048 bits. A Meta especifica RSA-2048 e recusaria a chave — envie uma de 2048 bits ou mais.",
                      "errorEN": "The RSA key you sent is smaller than 2048 bits. Meta specifies RSA-2048 and would refuse it — send one of 2048 bits or more.",
                      "code": "FLOW_ENDPOINT_KEY_PEM_INVALID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Tenant-scoped key used on a number-scoped endpoint, or the key's role lacks `flows:manage`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "This endpoint acts on a single WhatsApp number: send the x-whatsapp-number-id header naming the number to act on (its id or instance id from GET /v1/numbers) | Este endpoint atua sobre um único número de WhatsApp: envie o header x-whatsapp-number-id indicando o número desejado (o id dele ou o id da instância, obtidos em GET /v1/numbers)",
                  "code": "TENANT_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "404": {
            "description": "The path `{id}` is not the number this credential is bound to. Never 403: another tenant's number and another of your own numbers answer the same body, byte for byte, so a guessed id is never confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Número não encontrado para esta chave. Esta rota atua sobre o número ao qual a chave está vinculada — use a chave do número em questão, ou o header x-whatsapp-number-id se a chave for de conta.",
                  "errorEN": "Number not found for this key. This route acts on the number the key is bound to — use that number's key, or the x-whatsapp-number-id header if the key is an account-wide one.",
                  "code": "FLOW_NUMBER_NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "The key's number is not a Meta (Cloud API) number, or has no WABA behind it",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Flows existem apenas em números Meta (API Oficial). O número desta chave não é Meta ou não tem uma WABA associada — use uma chave de um número Meta.",
                  "errorEN": "Flows only exist on Meta (Cloud API) numbers. This key's number is not a Meta number, or has no WABA behind it — use a key bound to a Meta number.",
                  "code": "FLOW_REQUIRES_META_NUMBER"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "`FLOW_ENDPOINT_KEY_UNAVAILABLE` (at-rest key encryption is not configured, so the service refuses to store the private half in the clear — on BOTH verbs, generate and import alike, even though the message speaks of generating; a deployment fault the caller can do nothing about) or `INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Portuguese half"
                    },
                    "errorEN": {
                      "type": "string",
                      "description": "English half"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Não foi possível gerar a chave do endpoint: o serviço não está configurado para guardar a chave privada com segurança. Fale com o suporte.",
                  "errorEN": "Could not generate the endpoint key: the service is not configured to store the private key safely. Contact support.",
                  "code": "FLOW_ENDPOINT_KEY_UNAVAILABLE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/extra-numbers": {
      "get": {
        "summary": "Preview buying an extra number (On Demand)",
        "description": "Computes the cost of buying N extra number(s) without charging. Requires a TENANT-scoped key (403 for a number key). For Free-plan tenants it flags the On Demand conversion: the free number becomes paid/unlimited and the new one too (you pay per number/mo). On Demand = unlimited messages on every number.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "get_subscription_extra-numbers",
        "parameters": [
          {
            "name": "quantity",
            "in": "query",
            "required": false,
            "description": "How many numbers to buy (default 1).",
            "schema": {
              "type": "number"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Preview — Free tenant with 1 connected number buying 1 (converts to On Demand). `proratedTotal` is charged now; `monthlyTotalBRL` recurs each cycle.",
            "content": {
              "application/json": {
                "example": {
                  "plan": "FREE",
                  "requiresConversion": true,
                  "explanation": {
                    "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                    "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                  },
                  "currentNumbers": 1,
                  "requested": 1,
                  "billedQuantity": 2,
                  "currency": "BRL",
                  "unitPriceMonthly": 29.9,
                  "proratedUnitPrice": 14.95,
                  "proratedTotal": 29.9,
                  "remainingDays": 15,
                  "totalDaysInCycle": 30,
                  "walletBalance": 0,
                  "hasSavedCard": false,
                  "fundingSource": "none",
                  "canFund": false,
                  "unitPriceBRL": 29.9,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Buy an extra number (On Demand)",
        "description": "Buys N extra number(s). Requires a TENANT-scoped key. A Free tenant is converted to On Demand (bills the converted free number + the new one) — requires confirm:true, otherwise returns 409 CONFIRMATION_REQUIRED with the preview. With a saved card (Plans → Cartão) it is charged immediately; otherwise it returns { checkoutUrl } to pay. Real side effect: it charges. Stripe only.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "post_subscription_extra-numbers",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "description": "How many numbers to buy (default 1).",
                    "example": "1"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Required (true) when the purchase converts the plan (Free → On Demand).",
                    "example": "true"
                  }
                }
              },
              "example": {
                "quantity": 1,
                "confirm": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bought 1 (with confirmation). The prorated cost was funded from wallet credits and/or the saved card.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "charged": true,
                  "plan": "ON_DEMAND",
                  "paidExtraNumbers": 2,
                  "proratedTotal": 29.9,
                  "currency": "BRL",
                  "creditsUsed": 0,
                  "cardCharged": 29.9,
                  "maxNumbers": 2,
                  "currentNumberCount": 1,
                  "monthlyTotalBRL": 59.8
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Validation error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid `x-api-key` / `x-api-key-id` header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Number-scoped key used on a tenant-only endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Number-scoped keys cannot call tenant endpoints",
                  "code": "NUMBER_SCOPE_NOT_ALLOWED"
                }
              }
            }
          },
          "409": {
            "description": "The purchase converts the Free plan to On Demand, which changes what you pay — resend with `confirm: true`. The full preview is included.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Confirmation required: buying an extra number converts the Free plan to On Demand (every number becomes billable). Resend with confirm:true.",
                  "code": "CONFIRMATION_REQUIRED",
                  "preview": {
                    "plan": "FREE",
                    "requiresConversion": true,
                    "explanation": {
                      "pt": "Sua conta passa para o plano On Demand: mensagens ilimitadas e R$ 29,90/mês por número conectado. No On Demand todo número é pago — o número que você já usa deixa de ser gratuito. Com o novo, são 2 números a R$ 29,90: R$ 59,80/mês.",
                      "en": "Your account moves to the On Demand plan: unlimited messages and R$ 29.90/month per connected number. On On Demand every number is paid — the number you already use stops being free. With the new one, that is 2 numbers at R$ 29.90: R$ 59.80/month."
                    },
                    "currentNumbers": 1,
                    "requested": 1,
                    "billedQuantity": 2,
                    "currency": "BRL",
                    "unitPriceMonthly": 29.9,
                    "proratedUnitPrice": 14.95,
                    "proratedTotal": 29.9,
                    "remainingDays": 15,
                    "totalDaysInCycle": 30,
                    "walletBalance": 0,
                    "hasSavedCard": false,
                    "fundingSource": "none",
                    "canFund": false,
                    "unitPriceBRL": 29.9,
                    "monthlyTotalBRL": 59.8
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove an extra number (On Demand)",
        "description": "Gives back N paid extra-number slot(s) — the inverse of POST. Requires a TENANT-scoped key. NO refund for the current cycle; it only stops future billing. Deleting a number (DELETE /v1/numbers/{id}) already releases its slot automatically. Returns 409 NUMBER_LIMIT_EXCEEDED if the reduction would drop the limit below currently connected numbers.\n\n**Requires a tenant-scoped key.**",
        "tags": [
          "Subscription"
        ],
        "operationId": "delete_subscription_extra-numbers",
        "requestBody": {
[...]
