{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution V2 Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Evolution V2. Base URL `https://pilotstatus.com.br/api/layer/evolution-v2`. Autentique com o header `apikey` (sua chave `ps_` do Pilot Status). Endpoints de instância/sessão NÃO estão disponíveis na camada."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Chamada e Business"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Grupo"
    },
    {
      "name": "Etiqueta (Label)"
    },
    {
      "name": "Mensagem"
    },
    {
      "name": "Perfil"
    },
    {
      "name": "Configurações e Proxy"
    },
    {
      "name": "Armazenamento (S3)"
    },
    {
      "name": "Template"
    }
  ],
  "paths": {
    "/call/offer/{instance}": {
      "post": {
        "summary": "Oferecer uma chamada",
        "description": "Oferece uma chamada de voz ou vídeo a um número destinatário por uma duração de toque limitada.",
        "operationId": "post__call_offer_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Result of offering (placing) a call to a WhatsApp contact.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identifier of the offered call."
                    },
                    "jid": {
                      "type": "string",
                      "description": "WhatsApp JID of the callee the offer was placed to."
                    },
                    "isVideo": {
                      "type": "boolean",
                      "description": "Whether the offered call is a video call (false = audio only)."
                    },
                    "callDuration": {
                      "type": "integer",
                      "description": "Duration in seconds after which the call is automatically terminated."
                    }
                  },
                  "required": [
                    "id",
                    "jid"
                  ]
                },
                "example": {
                  "id": "123",
                  "jid": "5511999999999@s.whatsapp.net",
                  "isVideo": false,
                  "callDuration": 15
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone do destinatário no formato internacional.",
                    "example": "5511999999999"
                  },
                  "callDuration": {
                    "type": "integer",
                    "description": "Por quanto tempo a chamada toca, em segundos (1–15).",
                    "example": 10
                  },
                  "isVideo": {
                    "type": "boolean",
                    "description": "`true` para chamada de vídeo, `false` para voz.",
                    "example": false
                  }
                },
                "required": [
                  "number",
                  "callDuration"
                ]
              }
            }
          }
        }
      }
    },
    "/business/getCatalog/{instance}": {
      "post": {
        "summary": "Buscar catálogo de produtos",
        "description": "Busca o catálogo de produtos de um número business do WhatsApp.",
        "operationId": "post__business_getCatalog_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Product catalog fetched from a WhatsApp Business account.",
                  "properties": {
                    "wuid": {
                      "type": "string",
                      "description": "Resolved WhatsApp JID of the queried business number."
                    },
                    "numberExists": {
                      "type": "boolean",
                      "description": "Whether the queried number exists on WhatsApp."
                    },
                    "isBusiness": {
                      "type": "boolean",
                      "description": "Whether the number is a WhatsApp Business account."
                    },
                    "catalogLength": {
                      "type": "integer",
                      "description": "Total number of products returned in the catalog array."
                    },
                    "catalog": {
                      "type": "array",
                      "description": "List of catalog products.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Product id."
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "description": {
                            "type": "string",
                            "description": "Product description."
                          },
                          "price": {
                            "type": "integer",
                            "description": "Price in the smallest currency unit (e.g. cents)."
                          },
                          "currency": {
                            "type": "string",
                            "description": "ISO 4217 currency code."
                          },
                          "retailerId": {
                            "type": "string",
                            "description": "Retailer-defined SKU / content id for the product."
                          },
                          "url": {
                            "type": "string",
                            "description": "Product landing URL."
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the product is hidden from the storefront."
                          },
                          "availability": {
                            "type": "string",
                            "description": "Stock availability, e.g. 'in stock', 'limited availability', 'out of stock'."
                          },
                          "imageUrls": {
                            "type": "object",
                            "description": "Map of image size key to image URL.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "reviewStatus": {
                            "type": "object",
                            "description": "Map of review dimension to review status.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "wuid",
                    "numberExists",
                    "isBusiness",
                    "catalogLength",
                    "catalog"
                  ]
                },
                "example": {
                  "wuid": "5511999999999@s.whatsapp.net",
                  "numberExists": true,
                  "isBusiness": true,
                  "catalogLength": 2,
                  "catalog": [
                    {
                      "id": "6104474702914109",
                      "name": "Camiseta Pilot Status",
                      "description": "Camiseta 100% algodão, edição limitada.",
                      "price": 7990,
                      "currency": "BRL",
                      "retailerId": "SKU-TSHIRT-001",
                      "url": "https://loja.exemplo.com.br/camiseta",
                      "isHidden": false,
                      "availability": "in stock",
                      "imageUrls": {
                        "requested_image_size": "https://mmg.whatsapp.net/v/t45.5328-4/prod1_thumb.jpg",
                        "original_image_url": "https://mmg.whatsapp.net/v/t45.5328-4/prod1_full.jpg"
                      },
                      "reviewStatus": {
                        "whatsapp": "APPROVED"
                      }
                    },
                    {
                      "id": "6104474702914110",
                      "name": "Caneca Pilot Status",
                      "description": "Caneca de cerâmica 350ml.",
                      "price": 3490,
                      "currency": "BRL",
                      "retailerId": "SKU-MUG-002",
                      "url": "https://loja.exemplo.com.br/caneca",
                      "isHidden": false,
                      "availability": "in stock",
                      "imageUrls": {
                        "requested_image_size": "https://mmg.whatsapp.net/v/t45.5328-4/prod2_thumb.jpg"
                      },
                      "reviewStatus": {
                        "whatsapp": "APPROVED"
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone business cujo catálogo será buscado; por padrão, usa o próprio número da instância.",
                    "example": "5511999999999"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Número máximo de produtos a retornar.",
                    "example": 50
                  }
                }
              }
            }
          }
        }
      }
    },
    "/business/getCollections/{instance}": {
      "post": {
        "summary": "Buscar coleções",
        "description": "Busca as coleções do catálogo de um número business do WhatsApp.",
        "operationId": "post__business_getCollections_instance",
        "tags": [
          "Chamada e Business"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Product collections fetched from a WhatsApp Business account.",
                  "properties": {
                    "wuid": {
                      "type": "string",
                      "description": "Resolved WhatsApp JID of the queried business number."
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Display name associated with the queried number, if available."
                    },
                    "numberExists": {
                      "type": "boolean",
                      "description": "Whether the queried number exists on WhatsApp."
                    },
                    "isBusiness": {
                      "type": "boolean",
                      "description": "Whether the number is a WhatsApp Business account."
                    },
                    "collectionsLength": {
                      "type": "integer",
                      "description": "Number of collections returned in the collections array."
                    },
                    "collections": {
                      "type": "array",
                      "description": "List of catalog collections.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Collection id."
                          },
                          "name": {
                            "type": "string",
                            "description": "Collection name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Review/publish status of the collection."
                          },
                          "products": {
                            "type": "array",
                            "description": "Products contained in this collection.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Product id."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Product name."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Product description."
                                },
                                "price": {
                                  "type": "integer",
                                  "description": "Price in the smallest currency unit (e.g. cents)."
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "ISO 4217 currency code."
                                },
                                "retailerId": {
                                  "type": "string",
                                  "description": "Retailer-defined SKU / content id."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Product landing URL."
                                },
                                "isHidden": {
                                  "type": "boolean",
                                  "description": "Whether the product is hidden from the storefront."
                                },
                                "availability": {
                                  "type": "string",
                                  "description": "Stock availability, e.g. 'in stock', 'out of stock'."
                                },
                                "imageUrls": {
                                  "type": "object",
                                  "description": "Map of image size key to image URL.",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "reviewStatus": {
                                  "type": "object",
                                  "description": "Map of review dimension to review status.",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "wuid",
                    "numberExists",
                    "isBusiness",
                    "collectionsLength",
                    "collections"
                  ]
                },
                "example": {
                  "wuid": "5511999999999@s.whatsapp.net",
                  "name": "Loja Exemplo",
                  "numberExists": true,
                  "isBusiness": true,
                  "collectionsLength": 1,
                  "collections": [
                    {
                      "id": "434823429384756",
                      "name": "Lançamentos",
                      "status": "APPROVED",
                      "products": [
                        {
                          "id": "6104474702914109",
                          "name": "Camiseta Pilot Status",
                          "description": "Camiseta 100% algodão, edição limitada.",
                          "price": 7990,
                          "currency": "BRL",
                          "retailerId": "SKU-TSHIRT-001",
                          "url": "https://loja.exemplo.com.br/camiseta",
                          "isHidden": false,
                          "availability": "in stock",
                          "imageUrls": {
                            "requested_image_size": "https://mmg.whatsapp.net/v/t45.5328-4/prod1_thumb.jpg"
                          },
                          "reviewStatus": {
                            "whatsapp": "APPROVED"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de telefone business cujas coleções serão buscadas; por padrão, usa o próprio número da instância.",
                    "example": "5511999999999"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Número máximo de coleções a retornar.",
                    "example": 20
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/whatsappNumbers/{instance}": {
      "post": {
        "summary": "Verificar números de WhatsApp",
        "description": "Verifica se um ou mais números estão registrados no WhatsApp.",
        "operationId": "post__chat_whatsappNumbers_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "One entry per checked number (OnWhatsAppDto). Order includes users, groups and broadcast targets.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "jid": {
                        "type": "string",
                        "description": "Resolved WhatsApp JID for the number (user, group or broadcast)."
                      },
                      "exists": {
                        "type": "boolean",
                        "description": "Whether the number is registered on WhatsApp."
                      },
                      "number": {
                        "type": "string",
                        "description": "The original number as supplied in the request."
                      },
                      "name": {
                        "type": "string",
                        "description": "Saved contact pushName or group subject, when available."
                      },
                      "lid": {
                        "type": "string",
                        "description": "LID marker/identifier when the JID is a LID (@lid) address."
                      }
                    },
                    "required": [
                      "jid",
                      "exists",
                      "number"
                    ]
                  }
                },
                "example": [
                  {
                    "jid": "5511999999999@s.whatsapp.net",
                    "exists": true,
                    "number": "5511999999999",
                    "name": "Maria Silva"
                  },
                  {
                    "jid": "5511888888888@s.whatsapp.net",
                    "exists": false,
                    "number": "5511888888888"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array de strings numéricas de telefone (E.164 sem símbolos) a serem verificadas.",
                    "example": [
                      "5511999999999",
                      "5521988888888"
                    ]
                  }
                },
                "required": [
                  "numbers"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/markMessageAsRead/{instance}": {
      "post": {
        "summary": "Marcar mensagens como lidas",
        "description": "Marca uma ou mais mensagens como lidas (envia confirmações de leitura).",
        "operationId": "post__chat_markMessageAsRead_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Human-readable result message."
                    },
                    "read": {
                      "type": "string",
                      "description": "Read-receipt result, e.g. \"success\"."
                    }
                  },
                  "required": [
                    "message",
                    "read"
                  ]
                },
                "example": {
                  "message": "Read messages",
                  "read": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "readMessages": {
                    "type": "array",
                    "description": "Array de objetos de chave de mensagem a serem marcados como lidos.",
                    "items": {
                      "type": "object"
                    },
                    "example": [
                      {
                        "id": "BAE5F5A632EAE722",
                        "fromMe": false,
                        "remoteJid": "5511999999999@s.whatsapp.net"
                      }
                    ]
                  },
                  "readMessages[].id": {
                    "type": "string",
                    "description": "Identificador da mensagem."
                  },
                  "readMessages[].fromMe": {
                    "type": "boolean",
                    "description": "Indica se a mensagem foi enviada por este número."
                  },
                  "readMessages[].remoteJid": {
                    "type": "string",
                    "description": "JID da conversa à qual a mensagem pertence."
                  }
                },
                "required": [
                  "readMessages",
                  "readMessages[].id",
                  "readMessages[].fromMe",
                  "readMessages[].remoteJid"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/archiveChat/{instance}": {
      "post": {
        "summary": "Arquivar ou desarquivar conversa",
        "description": "Arquiva ou desarquiva uma conversa.",
        "operationId": "post__chat_archiveChat_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatId": {
                      "type": "string",
                      "description": "RemoteJid of the chat that was archived/unarchived."
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether the chat archive modification succeeded."
                    }
                  },
                  "required": [
                    "chatId",
                    "archived"
                  ]
                },
                "example": {
                  "chatId": "5511999999999@s.whatsapp.net",
                  "archived": true
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archive": {
                    "type": "boolean",
                    "description": "`true` para arquivar, `false` para desarquivar.",
                    "example": true
                  },
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a ser arquivada.",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "lastMessage": {
                    "type": "object",
                    "description": "Referência à última mensagem da conversa.",
                    "example": {
                      "key": {
                        "id": "BAE5F5A632EAE722",
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": false
                      },
                      "messageTimestamp": 1720540800
                    }
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Timestamp Unix da última mensagem."
                  }
                },
                "required": [
                  "archive"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/markChatUnread/{instance}": {
      "post": {
        "summary": "Marcar conversa como não lida",
        "description": "Marca uma conversa como não lida.",
        "operationId": "post__chat_markChatUnread_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatId": {
                      "type": "string",
                      "description": "RemoteJid of the chat that was marked unread."
                    },
                    "markedChatUnread": {
                      "type": "boolean",
                      "description": "Whether the chat was successfully marked as unread."
                    }
                  },
                  "required": [
                    "chatId",
                    "markedChatUnread"
                  ]
                },
                "example": {
                  "chatId": "5511999999999@s.whatsapp.net",
                  "markedChatUnread": true
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastMessage": {
                    "type": "object",
                    "description": "Referência à última mensagem da conversa.",
                    "example": {
                      "key": {
                        "id": "BAE5F5A632EAE722",
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": false
                      },
                      "messageTimestamp": 1720540800
                    }
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Timestamp Unix da última mensagem."
                  },
                  "chat": {
                    "type": "string",
                    "description": "JID da conversa a ser marcada como não lida.",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "lastMessage",
                  "lastMessage.key"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/deleteMessageForEveryone/{instance}": {
      "delete": {
        "summary": "Apagar mensagem para todos",
        "description": "Apaga uma mensagem para todos os participantes da conversa.",
        "operationId": "delete__chat_deleteMessageForEveryone_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Baileys WAMessage returned from the revoke (delete) send; carries a protocolMessage of type REVOKE referencing the deleted message.",
                  "properties": {
                    "key": {
                      "type": "object",
                      "description": "Message key of the revoke message.",
                      "properties": {
                        "remoteJid": {
                          "type": "string",
                          "description": "Chat JID the revoke was sent to."
                        },
                        "fromMe": {
                          "type": "boolean",
                          "description": "Whether the revoke was sent by this account."
                        },
                        "id": {
                          "type": "string",
                          "description": "Message id of the revoke message."
                        },
                        "participant": {
                          "type": "string",
                          "description": "Group participant JID, present in group chats."
                        }
                      }
                    },
                    "message": {
                      "type": "object",
                      "description": "Message payload containing the protocolMessage.",
                      "properties": {
                        "protocolMessage": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "object",
                              "description": "Key of the original message being revoked.",
                              "properties": {
                                "remoteJid": {
                                  "type": "string"
                                },
                                "fromMe": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "description": "Protocol message type, \"REVOKE\" for delete-for-everyone."
                            }
                          }
                        }
                      }
                    },
                    "messageTimestamp": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds) of the revoke message."
                    },
                    "status": {
                      "type": "string",
                      "description": "Delivery status, e.g. \"PENDING\"."
                    }
                  }
                },
                "example": {
                  "key": {
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": true,
                    "id": "BAE5F5A632EAE722"
                  },
                  "message": {
                    "protocolMessage": {
                      "key": {
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": true,
                        "id": "3EB0C767D26A1D8A0F1B"
                      },
                      "type": "REVOKE"
                    }
                  },
                  "messageTimestamp": 1720544400,
                  "status": "PENDING"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador da mensagem a ser apagada.",
                    "example": "BAE5F5A632EAE722"
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Indica se a mensagem foi enviada por este número.",
                    "example": true
                  },
                  "remoteJid": {
                    "type": "string",
                    "description": "JID da conversa à qual a mensagem pertence.",
                    "example": "1203630000000000000@g.us"
                  },
                  "participant": {
                    "type": "string",
                    "description": "JID do participante (para mensagens de grupo).",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                },
                "required": [
                  "id",
                  "fromMe",
                  "remoteJid"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/getBase64FromMediaMessage/{instance}": {
      "post": {
        "summary": "Obter mídia como base64",
        "description": "Baixa uma mensagem de mídia e a retorna como uma string base64.",
        "operationId": "post__chat_getBase64FromMediaMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Decoded media of a message returned as base64.",
                  "properties": {
                    "mediaType": {
                      "type": "string",
                      "description": "Baileys media message type, e.g. imageMessage, videoMessage, audioMessage, documentMessage, stickerMessage."
                    },
                    "fileName": {
                      "type": "string",
                      "description": "Resolved file name (original name or <messageId>.<ext>)."
                    },
                    "caption": {
                      "type": "string",
                      "description": "Caption of the media message, when present."
                    },
                    "size": {
                      "type": "object",
                      "description": "Reported media dimensions/length.",
                      "properties": {
                        "fileLength": {
                          "type": "string",
                          "description": "Media byte length (as reported by WhatsApp, may be a numeric string)."
                        },
                        "height": {
                          "type": "integer",
                          "description": "Media height in pixels, when applicable."
                        },
                        "width": {
                          "type": "integer",
                          "description": "Media width in pixels, when applicable."
                        }
                      }
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "MIME type of the media (audio/mp4 when convertToMp4 requested for audio)."
                    },
                    "base64": {
                      "type": "string",
                      "description": "Base64-encoded media bytes."
                    },
                    "buffer": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Raw buffer; null unless requested internally (getBuffer)."
                    }
                  },
                  "required": [
                    "mediaType",
                    "fileName",
                    "mimetype",
                    "base64"
                  ]
                },
                "example": {
                  "mediaType": "imageMessage",
                  "fileName": "BAE5F5A632EAE722.jpg",
                  "caption": "Look at this!",
                  "size": {
                    "fileLength": "24680",
                    "height": 1280,
                    "width": 720
                  },
                  "mimetype": "image/jpeg",
                  "base64": "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRof...",
                  "buffer": null
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Objeto de mensagem completo, ou um objeto contendo apenas `key` para que possa ser buscada.",
                    "example": {
                      "key": {
                        "id": "BAE5F5A632EAE722",
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": false
                      }
                    }
                  },
                  "message.key": {
                    "type": "object",
                    "description": "Chave da mensagem com `id`, `remoteJid`, `fromMe`."
                  },
                  "convertToMp4": {
                    "type": "boolean",
                    "description": "Converte a mídia para MP4 quando aplicável.",
                    "example": false
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/updateMessage/{instance}": {
      "post": {
        "summary": "Editar mensagem enviada",
        "description": "Edita o texto de uma mensagem enviada anteriormente por este número.",
        "operationId": "post__chat_updateMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Baileys WAMessage returned from the edit send.",
                  "properties": {
                    "key": {
                      "type": "object",
                      "properties": {
                        "remoteJid": {
                          "type": "string",
                          "description": "Chat JID the edited message was sent to."
                        },
                        "fromMe": {
                          "type": "boolean",
                          "description": "Whether the message was sent by this account."
                        },
                        "id": {
                          "type": "string",
                          "description": "Message id of the edit send."
                        }
                      }
                    },
                    "message": {
                      "type": "object",
                      "description": "Edited message payload (contains a protocolMessage of type MESSAGE_EDIT wrapping the new content).",
                      "properties": {
                        "protocolMessage": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "object",
                              "properties": {
                                "remoteJid": {
                                  "type": "string"
                                },
                                "fromMe": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "description": "Protocol type, \"MESSAGE_EDIT\" for an edit."
                            },
                            "editedMessage": {
                              "type": "object",
                              "properties": {
                                "conversation": {
                                  "type": "string",
                                  "description": "New text content of the edited message."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "messageTimestamp": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds) of the edit."
                    },
                    "status": {
                      "type": "string",
                      "description": "Delivery status, e.g. \"PENDING\"."
                    }
                  }
                },
                "example": {
                  "key": {
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": true,
                    "id": "3EB0C767D26A1D8A0F1B"
                  },
                  "message": {
                    "protocolMessage": {
                      "key": {
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": true,
                        "id": "BAE5F5A632EAE722"
                      },
                      "type": "MESSAGE_EDIT",
                      "editedMessage": {
                        "conversation": "Edited: see you at 3pm instead"
                      }
                    }
                  },
                  "messageTimestamp": 1720544460,
                  "status": "PENDING"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número/conversa de destino para o qual a mensagem foi enviada.",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Novo texto da mensagem.",
                    "example": "Edited message text"
                  },
                  "key": {
                    "type": "object",
                    "description": "Chave da mensagem a ser editada (`id`, `remoteJid`, `fromMe`).",
                    "example": {
                      "id": "BAE5F5A632EAE722",
                      "remoteJid": "5511999999999@s.whatsapp.net",
                      "fromMe": true
                    }
                  }
                },
                "required": [
                  "number",
                  "text",
                  "key"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/sendPresence/{instance}": {
      "post": {
        "summary": "Enviar atualização de presença",
        "description": "Envia um indicador de presença (digitando, gravando, etc.) para uma conversa.",
        "operationId": "post__chat_sendPresence_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presence": {
                      "type": "string",
                      "description": "Presence state that was sent (e.g. composing, recording, paused, available, unavailable)."
                    }
                  },
                  "required": [
                    "presence"
                  ]
                },
                "example": {
                  "presence": "composing"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário.",
                    "example": "5511999999999"
                  },
                  "presence": {
                    "type": "string",
                    "description": "Um dos valores `unavailable`, `available`, `composing`, `recording`, `paused`.",
                    "example": "composing"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Duração em milissegundos para manter a presença ativa.",
                    "example": 2000
                  }
                },
                "required": [
                  "number",
                  "presence",
                  "delay"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/updateBlockStatus/{instance}": {
      "post": {
        "summary": "Bloquear ou desbloquear contato",
        "description": "Bloqueia ou desbloqueia um contato.",
        "operationId": "post__chat_updateBlockStatus_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "type": "string",
                      "description": "Result of the block/unblock operation, e.g. \"success\"."
                    }
                  },
                  "required": [
                    "block"
                  ]
                },
                "example": {
                  "block": "success"
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do contato a ser bloqueado/desbloqueado.",
                    "example": "5511999999999"
                  },
                  "status": {
                    "type": "string",
                    "description": "`block` ou `unblock`.",
                    "example": "block"
                  }
                },
                "required": [
                  "number",
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/findChatByRemoteJid/{instance}": {
      "get": {
        "summary": "Buscar conversa por JID",
        "description": "Retorna a conversa correspondente ao JID remoto informado. Passe `remoteJid` como parâmetro de consulta obrigatório (ex.: `?remoteJid=5511999999999@s.whatsapp.net`); não há corpo de requisição.",
        "operationId": "get__chat_findChatByRemoteJid_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "The stored Chat record for the given remoteJid, or null when no chat exists.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Chat record id (cuid)."
                    },
                    "remoteJid": {
                      "type": "string",
                      "description": "Chat JID."
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Chat/group name, when known."
                    },
                    "labels": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "Label ids applied to the chat."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO timestamp when the chat was created."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "ISO timestamp of last update."
                    },
                    "instanceId": {
                      "type": "string",
                      "description": "Owning instance id."
                    },
                    "unreadMessages": {
                      "type": "integer",
                      "description": "Count of unread messages in the chat."
                    }
                  },
                  "required": [
                    "id",
                    "remoteJid",
                    "instanceId",
                    "unreadMessages"
                  ]
                },
                "example": {
                  "id": "clzabc123def456ghi789jkl",
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "name": "Maria Silva",
                  "labels": [],
                  "createdAt": "2026-07-09T13:00:00.000Z",
                  "updatedAt": "2026-07-09T18:20:00.000Z",
                  "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "unreadMessages": 2
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ]
      }
    },
    "/chat/findContacts/{instance}": {
      "post": {
        "summary": "Buscar contatos",
        "description": "Pesquisa os contatos armazenados, opcionalmente filtrados por uma cláusula `where`. Envie um corpo vazio para retornar todos os contatos.",
        "operationId": "post__chat_findContacts_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Stored contacts for the instance, each annotated with derived isGroup/isSaved/type flags.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Contact record id (cuid)."
                      },
                      "remoteJid": {
                        "type": "string",
                        "description": "Contact JID."
                      },
                      "pushName": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Display/push name."
                      },
                      "profilePicUrl": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "URL of the contact profile picture."
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "ISO timestamp when created."
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "ISO timestamp of last update."
                      },
                      "instanceId": {
                        "type": "string",
                        "description": "Owning instance id."
                      },
                      "isGroup": {
                        "type": "boolean",
                        "description": "True when remoteJid ends with @g.us."
                      },
                      "isSaved": {
                        "type": "boolean",
                        "description": "True when the contact has a pushName or profilePicUrl."
                      },
                      "type": {
                        "type": "string",
                        "description": "Derived category: \"group\", \"contact\" or \"group_member\"."
                      }
                    },
                    "required": [
                      "id",
                      "remoteJid",
                      "instanceId",
                      "isGroup",
                      "isSaved",
                      "type"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "clzcontact001aaa111bbb222",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "pushName": "Maria Silva",
                    "profilePicUrl": "https://pps.whatsapp.net/v/t61.24694-24/123456_abcdef.jpg",
                    "createdAt": "2026-07-01T10:00:00.000Z",
                    "updatedAt": "2026-07-09T18:20:00.000Z",
                    "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "isGroup": false,
                    "isSaved": true,
                    "type": "contact"
                  },
                  {
                    "id": "clzcontact002ccc333ddd444",
                    "remoteJid": "120363012345678901@g.us",
                    "pushName": "Equipe Vendas",
                    "profilePicUrl": null,
                    "createdAt": "2026-07-02T09:30:00.000Z",
                    "updatedAt": "2026-07-09T12:00:00.000Z",
                    "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "isGroup": true,
                    "isSaved": true,
                    "type": "group"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com qualquer um dos campos `_id`, `id`, `pushName`, `remoteJid`.",
                    "example": {
                      "id": "5511999999999@s.whatsapp.net"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/findMessages/{instance}": {
      "post": {
        "summary": "Buscar mensagens",
        "description": "Pesquisa as mensagens armazenadas, opcionalmente filtradas por uma cláusula `where` e limitadas por `limit`.",
        "operationId": "post__chat_findMessages_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Paginated stored messages for the instance.",
                  "properties": {
                    "messages": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of matching messages."
                        },
                        "pages": {
                          "type": "integer",
                          "description": "Total number of pages given the page size."
                        },
                        "currentPage": {
                          "type": "integer",
                          "description": "Current page number (1-based)."
                        },
                        "records": {
                          "type": "array",
                          "description": "Messages on this page, ordered by messageTimestamp desc.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Message record id (cuid)."
                              },
                              "key": {
                                "type": "object",
                                "description": "Baileys message key.",
                                "properties": {
                                  "remoteJid": {
                                    "type": "string"
                                  },
                                  "fromMe": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "participant": {
                                    "type": "string"
                                  }
                                }
                              },
                              "pushName": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Sender push name."
                              },
                              "messageType": {
                                "type": "string",
                                "description": "Message type, e.g. conversation, imageMessage."
                              },
                              "message": {
                                "type": "object",
                                "description": "Raw Baileys message content object."
                              },
                              "messageTimestamp": {
                                "type": "integer",
                                "description": "Unix timestamp (seconds)."
                              },
                              "instanceId": {
                                "type": "string",
                                "description": "Owning instance id."
                              },
                              "source": {
                                "type": "string",
                                "description": "Originating device, e.g. android, ios, web."
                              },
                              "contextInfo": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "description": "Context info (quotes, mentions), when present."
                              },
                              "MessageUpdate": {
                                "type": "array",
                                "description": "Latest status updates for the message.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "description": "Delivery status, e.g. DELIVERY_ACK, READ, PENDING."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "total",
                        "pages",
                        "currentPage",
                        "records"
                      ]
                    }
                  },
                  "required": [
                    "messages"
                  ]
                },
                "example": {
                  "messages": {
                    "total": 128,
                    "pages": 3,
                    "currentPage": 1,
                    "records": [
                      {
                        "id": "clzmsg0012233445566778899",
                        "key": {
                          "remoteJid": "5511999999999@s.whatsapp.net",
                          "fromMe": false,
                          "id": "3EB0C767D26A1D8A0F1B"
                        },
                        "pushName": "Maria Silva",
                        "messageType": "conversation",
                        "message": {
                          "conversation": "Oi, tudo bem?"
                        },
                        "messageTimestamp": 1720544400,
                        "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "source": "android",
                        "contextInfo": null,
                        "MessageUpdate": [
                          {
                            "status": "READ"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com `_id`, `key` (`id`, `remoteJid`, `fromMe`) ou `message`.",
                    "example": {
                      "key": {
                        "remoteJid": "5511999999999@s.whatsapp.net"
                      }
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de mensagens a serem retornadas.",
                    "example": 20
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/findStatusMessage/{instance}": {
      "post": {
        "summary": "Buscar status de mensagens",
        "description": "Pesquisa atualizações de status de entrega/leitura de mensagens, opcionalmente filtradas por uma cláusula `where` e limitadas por `limit`.",
        "operationId": "post__chat_findStatusMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Stored MessageUpdate (delivery/read status) records for the instance.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "MessageUpdate record id (cuid)."
                      },
                      "keyId": {
                        "type": "string",
                        "description": "Message key id the status refers to."
                      },
                      "remoteJid": {
                        "type": "string",
                        "description": "Chat JID of the message."
                      },
                      "fromMe": {
                        "type": "boolean",
                        "description": "Whether the message was sent by this account."
                      },
                      "participant": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Group participant JID, when applicable."
                      },
                      "pollUpdates": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "description": "Poll vote updates payload, when applicable."
                      },
                      "status": {
                        "type": "string",
                        "description": "Status value, e.g. PENDING, SERVER_ACK, DELIVERY_ACK, READ, DELETED."
                      },
                      "messageId": {
                        "type": "string",
                        "description": "Related Message record id."
                      },
                      "instanceId": {
                        "type": "string",
                        "description": "Owning instance id."
                      }
                    },
                    "required": [
                      "id",
                      "keyId",
                      "remoteJid",
                      "fromMe",
                      "status",
                      "messageId",
                      "instanceId"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "clzupd0011223344556677889",
                    "keyId": "3EB0C767D26A1D8A0F1B",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": true,
                    "participant": null,
                    "pollUpdates": null,
                    "status": "DELIVERY_ACK",
                    "messageId": "clzmsg0012233445566778899",
                    "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  },
                  {
                    "id": "clzupd0022334455667788990",
                    "keyId": "3EB0C767D26A1D8A0F1B",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": true,
                    "participant": null,
                    "pollUpdates": null,
                    "status": "READ",
                    "messageId": "clzmsg0012233445566778899",
                    "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de exibição do número no painel do Pilot Status."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filtro com `_id`, `remoteJid`, `id`, `fromMe`, `participant` ou `status`.",
                    "example": {
                      "remoteJid": "5511999999999@s.whatsapp.net",
                      "status": "READ"
                    }
                  },
                  "where.status": {
                    "type": "string",
                    "description": "Um dos valores `ERROR`, `PENDING`, `SERVER_ACK`, `DELIVERY_ACK`, `READ`, `PLAYED`."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Número máximo de registros a serem retornados.",
                    "example": 20
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/findChats/{instance}": {
      "post": {
        "summary": "Buscar conversas",
        "description": "Retorna as conversas armazenadas, opcionalmente filtradas por uma cláusula `where`. Envie um corpo vazio para retornar todas as conversas.",
        "operationId": "post__chat_findChats_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Sucesso — corpo de resposta nativo do provedor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Chats for the instance with last-message summary and 24h service-window info, ordered by most recent activity.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Contact record id, or null when no contact is stored."
                      },
                      "remoteJid": {
                        "type": "string",
                        "description": "Chat JID."
                      },
                      "pushName": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Chat/contact/group display name."
                      },
                      "profilePicUrl": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Profile picture URL."
                      },
                      "updatedAt": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ISO timestamp of last activity."
                      },
                      "windowStart": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ISO timestamp when the 24h window started."
                      },
                      "windowExpires": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ISO timestamp when the 24h window expires."
                      },
                      "windowActive": {
                        "type": "boolean",
                        "description": "Whether the 24h messaging window is currently open."
                      },
                      "lastMessage": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "description": "Trimmed last message of the chat (media bodies cleaned).",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "key": {
                            "type": "object",
                            "properties": {
                              "remoteJid": {
                                "type": "string"
                              },
                              "fromMe": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              }
                            }
                          },
                          "pushName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "participant": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "messageType": {
                            "type": "string"
                          },
                          "message": {
                            "type": "object",
                            "description": "Cleaned message content."
                          },
                          "contextInfo": {
                            "type": [
                              "object",
                              "null"
                            ]
                          },
                          "source": {
                            "type": "string"
                          },
                          "messageTimestamp": {
                            "type": "integer"
                          },
                          "instanceId": {
                            "type": "string"
                          },
                          "sessionId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "status": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      },
                      "unreadCount": {
                        "type": "integer",
                        "description": "Number of unread messages in the chat."
                      },
                      "isSaved": {
                        "type": "boolean",
                        "description": "Whether a contact record exists for this chat."
                      }
                    },
                    "required": [
                      "remoteJid",
                      "windowActive",
                      "unreadCount",
                      "isSaved"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "clzcontact001aaa111bbb222",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "pushName": "Maria Silva",
                    "profilePicUrl": "https://pps.whatsapp.net/v/t61.24694-24/123456_abcdef.jpg",
                    "updatedAt": "2026-07-09T18:20:00.000Z",
                    "windowStart": "2026-07-09T13:00:00.000Z",
                    "windowExpires": "2026-07-10T13:00:00.000Z",
                    "windowActive": true,
                    "lastMessage": {
                      "id": "clzmsg0012233445566778899",
                      "key": {
                        "remoteJid": "5511999999999@s.whatsapp.net",
                        "fromMe": false,
                        "id": "3EB0C767D26A1D8A0F1B"
                      },
                      "pushName": "Maria Silva",
                      "participant": null,
                      "messageType": "conversation",
                      "message": {
                        "conversation": "Oi, tudo bem?"
                      },
                      "contextInfo": null,
                      "source": "android",
                      "messageTimestamp": 1720544400,
                      "instanceId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "sessionId": null,
                      "status": "READ"
                    },
                    "unreadCount": 2,
                    "isSaved": true
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Erro — erro do provedor ou da camada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad Request",
                  "message": "Invalid payload"
                }
              }
[...]
