{
  "openapi": "3.1.0",
  "info": {
    "title": "Meta Cloud API Layer",
    "version": "1.0.0",
    "description": "Camada de API do Pilot Status — Meta Cloud API (passthrough da WhatsApp Cloud API / Graph API). Base URL `https://pilotstatus.com.br/api/layer/meta`. Chame os nós do Graph API como em `graph.facebook.com/<versao>/` — o Pilot troca sua chave `ps_` pelo token real da Meta do número. O prefixo `vNN.N` é opcional (padrão v22.0). Gestão de conta/negócio/auth e (des)registro de número são bloqueados."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/meta"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Sua chave do Pilot Status (ps_...). Também aceita `Authorization: Bearer ps_...` ou `?access_token=ps_...`."
      }
    }
  },
  "tags": [
    {
      "name": "Messages"
    },
    {
      "name": "Media"
    },
    {
      "name": "By id"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Phone numbers"
    },
    {
      "name": "Business profile"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Calls"
    }
  ],
  "paths": {
    "/{phoneNumberId}/messages": {
      "post": {
        "summary": "Enviar mensagem",
        "description": "Envia qualquer mensagem da WhatsApp Cloud API. `type` define o tipo: text, image, audio, video, document, sticker, location, contacts, interactive, template, reaction.",
        "operationId": "post__phoneNumberId_messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "wa_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Id da mensagem (wamid)."
                          },
                          "message_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [
                    {
                      "input": "5511999999999",
                      "wa_id": "5511999999999"
                    }
                  ],
                  "messages": [
                    {
                      "id": "wamid.HBgL..."
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Sempre `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "recipient_type": {
                    "type": "string",
                    "description": "`individual` ou `group`.",
                    "enum": [
                      "individual",
                      "group"
                    ],
                    "example": "individual"
                  },
                  "to": {
                    "type": "string",
                    "description": "MSISDN do destinatário (ou id do grupo).",
                    "example": "5511999999999"
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo da mensagem — define qual objeto abaixo preencher.",
                    "enum": [
                      "text",
                      "image",
                      "audio",
                      "video",
                      "document",
                      "sticker",
                      "location",
                      "contacts",
                      "interactive",
                      "template",
                      "reaction"
                    ],
                    "example": "text"
                  },
                  "text": {
                    "type": "object",
                    "properties": {
                      "preview_url": {
                        "type": "boolean",
                        "description": "Renderizar preview do link."
                      },
                      "body": {
                        "type": "string",
                        "description": "Texto da mensagem."
                      }
                    },
                    "required": [
                      "body"
                    ],
                    "example": {
                      "preview_url": false,
                      "body": "Hello from Pilot Status 👋"
                    }
                  },
                  "image": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id da mídia de um upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "URL https pública (alternativa ao id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Legenda opcional."
                      }
                    }
                  },
                  "audio": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id da mídia de um upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "URL https pública (alternativa ao id)."
                      }
                    }
                  },
                  "video": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id da mídia de um upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "URL https pública (alternativa ao id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Legenda opcional."
                      }
                    }
                  },
                  "document": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id da mídia de um upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "URL https pública (alternativa ao id)."
                      },
                      "caption": {
                        "type": "string",
                        "description": "Legenda opcional."
                      },
                      "filename": {
                        "type": "string",
                        "description": "Nome do arquivo mostrado ao destinatário."
                      }
                    }
                  },
                  "sticker": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id da mídia de um upload."
                      },
                      "link": {
                        "type": "string",
                        "description": "URL https pública (alternativa ao id)."
                      }
                    }
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do local."
                      },
                      "address": {
                        "type": "string",
                        "description": "Endereço."
                      }
                    },
                    "required": [
                      "latitude",
                      "longitude"
                    ]
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Cartões de contato."
                  },
                  "interactive": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "`button`, `list`, `cta_url`, `flow`, `product`…"
                      },
                      "header": {
                        "type": "object"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "footer": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "action": {
                        "type": "object",
                        "description": "Botões / seções / parâmetros do tipo interativo."
                      }
                    },
                    "description": "Mensagem interativa (botões/lista/CTA/flow)."
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do template aprovado."
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "ex.: `pt_BR`."
                          }
                        }
                      },
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "description": "Parâmetros de header/body/botões."
                      }
                    }
                  },
                  "reaction": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string"
                      },
                      "emoji": {
                        "type": "string",
                        "description": "Emoji, ou string vazia para remover."
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "description": "Responder a este message id."
                      }
                    },
                    "description": "Contexto de citação/resposta."
                  }
                },
                "required": [
                  "messaging_product",
                  "to",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/messages/status": {
      "post": {
        "summary": "Marcar como lida / digitando",
        "description": "Envia confirmação de leitura ou indicador de digitação para uma mensagem recebida.",
        "operationId": "post__phoneNumberId_messages_status",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Sempre `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "status": {
                    "type": "string",
                    "description": "`read` (confirmação de leitura).",
                    "enum": [
                      "read"
                    ],
                    "example": "read"
                  },
                  "message_id": {
                    "type": "string",
                    "description": "Id da mensagem recebida (wamid).",
                    "example": "wamid.HBgLNTUxMTk5..."
                  },
                  "typing_indicator": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      }
                    },
                    "description": "Indicador de digitação opcional."
                  }
                },
                "required": [
                  "messaging_product",
                  "status",
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/media": {
      "post": {
        "summary": "Enviar mídia (upload)",
        "description": "Envia um arquivo de mídia (multipart/form-data). Retorna um id de mídia para usar em uma mensagem.",
        "operationId": "post__phoneNumberId_media",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id da mídia."
                    }
                  }
                },
                "example": {
                  "id": "1234567890"
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Sempre `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo MIME, ex.: `image/jpeg`."
                  },
                  "file": {
                    "type": "string",
                    "description": "O arquivo de mídia.",
                    "format": "binary"
                  }
                },
                "required": [
                  "messaging_product",
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/{appId}/uploads": {
      "post": {
        "summary": "Criar sessão de upload",
        "description": "Inicia uma sessão de upload resumível (query: `file_length`, `file_type`). Retorna um upload id; envie os bytes com `POST /{id}`.",
        "operationId": "post__appId_uploads",
        "tags": [
          "Media"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id da sessão de upload (`upload:...`)."
                    }
                  }
                },
                "example": {
                  "id": "upload:ABC..."
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do app da Meta (sessão de upload resumível)."
          }
        ]
      }
    },
    "/{id}": {
      "get": {
        "summary": "Buscar por id",
        "description": "Busca um nó do Graph por id: media id → URL assinada + metadados; group id → info do grupo; phone-number id → info do número; template id → detalhes do template.",
        "operationId": "get__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL de download assinada (reescrita p/ URL do Pilot)."
                    },
                    "mime_type": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    },
                    "file_size": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "messaging_product": {
                      "type": "string"
                    }
                  },
                  "description": "Metadados da mídia (quando id é media id). Ids de grupo/número/template retornam a forma do próprio nó."
                },
                "example": {
                  "url": "https://pilotstatus.com.br/api/layer/meta/media-download?t=...",
                  "mime_type": "image/jpeg",
                  "sha256": "9e1...",
                  "file_size": 12345,
                  "id": "1234567890",
                  "messaging_product": "whatsapp"
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ]
      },
      "post": {
        "summary": "Atualizar por id",
        "description": "Template id → editar components de um template aprovado; upload-session id → enviar bytes do arquivo (binário cru, header `file_offset`).",
        "operationId": "post__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Componentes do template a substituir (quando id é um template id).",
                    "example": [
                      {
                        "type": "BODY",
                        "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                      }
                    ]
                  }
                },
                "description": "Corpo de edição de template. Para um id de sessão de upload, envie os bytes crus do arquivo (binário, header `file_offset`)."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir por id",
        "description": "Media id → excluir mídia enviada; group id → sair/encerrar grupo. Excluir seu próprio WABA/phone-number id é bloqueado (403).",
        "operationId": "delete__id",
        "tags": [
          "By id"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de um nó do Graph — o significado depende da operação (veja a descrição)."
          }
        ]
      }
    },
    "/{wabaId}/message_templates": {
      "get": {
        "summary": "Listar templates",
        "description": "Lista os templates da WABA (query de paginação/filtro: `limit`, `name`, `status`).",
        "operationId": "get__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "123",
                      "name": "pedido_enviado",
                      "language": "pt_BR",
                      "status": "APPROVED",
                      "category": "UTILITY"
                    }
                  ],
                  "paging": {
                    "cursors": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      },
      "post": {
        "summary": "Criar template",
        "description": "Cria um template de mensagem para aprovação da Meta.",
        "operationId": "post__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "123456",
                  "status": "PENDING",
                  "category": "UTILITY"
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do template (a–z, 0–9, _).",
                    "example": "pedido_enviado"
                  },
                  "language": {
                    "type": "string",
                    "description": "Código do idioma, ex.: `pt_BR`.",
                    "example": "pt_BR"
                  },
                  "category": {
                    "type": "string",
                    "description": "Categoria do template.",
                    "enum": [
                      "UTILITY",
                      "MARKETING",
                      "AUTHENTICATION"
                    ],
                    "example": "UTILITY"
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Componentes HEADER / BODY / FOOTER / BUTTONS.",
                    "example": [
                      {
                        "type": "BODY",
                        "text": "Ola {{1}}, seu pedido {{2}} foi enviado."
                      },
                      {
                        "type": "BUTTONS",
                        "buttons": [
                          {
                            "type": "QUICK_REPLY",
                            "text": "Acompanhar"
                          }
                        ]
                      }
                    ]
                  },
                  "allow_category_change": {
                    "type": "boolean",
                    "description": "Permitir a Meta recategorizar na revisão."
                  }
                },
                "required": [
                  "name",
                  "language",
                  "category",
                  "components"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir template",
        "description": "Exclui um template pelo nome (query `?name=`).",
        "operationId": "delete__wabaId_message_templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      }
    },
    "/{wabaId}/phone_numbers": {
      "get": {
        "summary": "Listar números",
        "description": "Lista os números registrados na WABA.",
        "operationId": "get__wabaId_phone_numbers",
        "tags": [
          "Phone numbers"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "display_phone_number": {
                            "type": "string"
                          },
                          "verified_name": {
                            "type": "string"
                          },
                          "quality_rating": {
                            "type": "string"
                          },
                          "code_verification_status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "1088888",
                      "display_phone_number": "+55 11 99999-9999",
                      "verified_name": "Acme",
                      "quality_rating": "GREEN"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta WhatsApp Business (WABA) do seu número."
          }
        ]
      }
    },
    "/{phoneNumberId}/whatsapp_business_profile": {
      "get": {
        "summary": "Ler perfil comercial",
        "description": "Lê o perfil comercial do número (`?fields=about,address,description,email,profile_picture_url,websites,vertical`).",
        "operationId": "get__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "about": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "profile_picture_url": {
                            "type": "string"
                          },
                          "websites": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "vertical": {
                            "type": "string"
                          },
                          "messaging_product": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "about": "Loja Acme",
                      "email": "contato@acme.com",
                      "websites": [
                        "https://acme.com"
                      ],
                      "vertical": "RETAIL",
                      "messaging_product": "whatsapp"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      },
      "post": {
        "summary": "Atualizar perfil comercial",
        "description": "Atualiza os campos do perfil comercial do número.",
        "operationId": "post__phoneNumberId_whatsapp_business_profile",
        "tags": [
          "Business profile"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Sempre `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "about": {
                    "type": "string",
                    "description": "Texto 'sobre' do perfil.",
                    "example": "Loja Acme"
                  },
                  "address": {
                    "type": "string",
                    "example": "Rua Exemplo, 123"
                  },
                  "description": {
                    "type": "string",
                    "example": "Atendimento e vendas"
                  },
                  "email": {
                    "type": "string",
                    "example": "contato@acme.com"
                  },
                  "vertical": {
                    "type": "string",
                    "description": "Categoria do negócio (ex.: `RETAIL`).",
                    "example": "RETAIL"
                  },
                  "websites": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Até 2 URLs.",
                    "example": [
                      "https://acme.com"
                    ]
                  },
                  "profile_picture_handle": {
                    "type": "string",
                    "description": "Handle de um upload resumível."
                  }
                },
                "required": [
                  "messaging_product"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/groups": {
      "post": {
        "summary": "Criar grupo",
        "description": "Cria um grupo da Cloud API (números elegíveis a OBA).",
        "operationId": "post__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "group_id": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "group_id": "120363000000000000@g.us",
                  "subject": "Equipe Acme"
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Nome do grupo.",
                    "example": "Equipe Acme"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs a adicionar.",
                    "example": [
                      "5511999999999",
                      "5511888888888"
                    ]
                  }
                },
                "required": [
                  "subject"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar grupos",
        "description": "Lista os grupos do número.",
        "operationId": "get__phoneNumberId_groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "group_id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "group_id": "120363000000000000@g.us",
                      "subject": "Equipe Acme"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ]
      }
    },
    "/{groupId}/participants": {
      "post": {
        "summary": "Adicionar participantes",
        "description": "Adiciona membros a um grupo.",
        "operationId": "post__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remover participantes",
        "description": "Remove membros de um grupo.",
        "operationId": "delete__groupId_participants",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/admins": {
      "post": {
        "summary": "Promover a admin",
        "description": "Promove participantes a admin do grupo.",
        "operationId": "post__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Rebaixar admin",
        "description": "Rebaixa admins do grupo a membro.",
        "operationId": "delete__groupId_admins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "MSISDNs.",
                    "example": [
                      "5511777777777"
                    ]
                  }
                },
                "required": [
                  "participants"
                ]
              }
            }
          }
        }
      }
    },
    "/{groupId}/invites": {
      "get": {
        "summary": "Obter link de convite",
        "description": "Obtém o link de convite do grupo.",
        "operationId": "get__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite_link": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "invite_link": "https://chat.whatsapp.com/ABC..."
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ]
      },
      "post": {
        "summary": "Redefinir link de convite",
        "description": "Revoga o link de convite atual e gera um novo.",
        "operationId": "post__groupId_invites",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite_link": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "invite_link": "https://chat.whatsapp.com/NEW..."
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ]
      }
    },
    "/{groupId}/pins": {
      "post": {
        "summary": "Fixar mensagem no grupo",
        "description": "Fixa uma mensagem no grupo.",
        "operationId": "post__groupId_pins",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Se a operação foi bem-sucedida."
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do grupo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message_id": {
                    "type": "string",
                    "description": "Id da mensagem a fixar.",
                    "example": "wamid.HBgLNTUxMTk5..."
                  }
                },
                "required": [
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/calls": {
      "post": {
        "summary": "Ação de chamada",
        "description": "Controle da WhatsApp Business Calling. `action`: connect / pre_accept / accept / reject / terminate. Exige número Tier 2K+ com chamadas habilitadas.",
        "operationId": "post__phoneNumberId_calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "messaging_product": "whatsapp",
                  "calls": [
                    {
                      "id": "wacid.ABC..."
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
                    "message": "(#131030) Recipient phone number not in allowed list",
                    "type": "OAuthException",
                    "code": 131030,
                    "fbtrace_id": "A..."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "phoneNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do número (phone-number id) da Meta vinculado à sua API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Sempre `whatsapp`.",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "to": {
                    "type": "string",
                    "description": "MSISDN do destinatário (para `connect`).",
                    "example": "5511999999999"
                  },
                  "action": {
                    "type": "string",
                    "description": "Ação de controle da chamada.",
                    "enum": [
                      "connect",
                      "pre_accept",
                      "accept",
                      "reject",
                      "terminate"
                    ],
                    "example": "connect"
                  },
                  "call_id": {
                    "type": "string",
                    "description": "Id de chamada existente (accept/reject/terminate/pre_accept)."
                  },
                  "session": {
                    "type": "object",
                    "properties": {
                      "sdp_type": {
                        "type": "string",
                        "enum": [
                          "offer",
                          "answer"
                        ]
                      },
                      "sdp": {
                        "type": "string",
                        "description": "SDP WebRTC."
                      }
                    },
                    "description": "Sessão WebRTC (connect/accept/pre_accept).",
                    "example": {
                      "sdp_type": "offer",
                      "sdp": "v=0..."
                    }
                  }
                },
                "required": [
                  "messaging_product",
                  "action"
                ]
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/settings": {
      "get": {
        "summary": "Ler configurações de chamada",
        "description": "Lê as configurações de chamada do número.",
        "operationId": "get__phoneNumberId_settings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Resposta do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calling": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "call_icon_visibility": {
                          "type": "string"
                        },
                        "call_hours": {
                          "type": "object"
                        },
                        "sip": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "calling": {
                    "status": "ENABLED",
                    "call_icon_visibility": "DEFAULT"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Erro do Meta Graph API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Mensagem de erro."
                        },
                        "type": {
                          "type": "string",
                          "description": "ex.: `OAuthException`."
                        },
                        "code": {
                          "type": "integer"
                        },
                        "error_subcode": {
                          "type": "integer"
                        },
                        "error_data": {
                          "type": "object"
                        },
                        "fbtrace_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Envelope de erro do Meta Graph API."
                },
                "example": {
                  "error": {
[...]
