{
  "openapi": "3.1.0",
  "info": {
    "title": "Evolution V2 Layer",
    "version": "1.0.0",
    "description": "Pilot Status API Layer — Evolution V2. Base URL `https://pilotstatus.com.br/api/layer/evolution-v2`. Authenticate with the `apikey` header (your Pilot Status `ps_` key). Instance/session endpoints are NOT available through the layer."
  },
  "servers": [
    {
      "url": "https://pilotstatus.com.br/api/layer/evolution-v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your Pilot Status API key (ps_...). Evolution GO also accepts `Authorization: Bearer <key>`."
      }
    }
  },
  "tags": [
    {
      "name": "Call & Business"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Group"
    },
    {
      "name": "Label"
    },
    {
      "name": "Message"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Settings & Proxy"
    },
    {
      "name": "Storage (S3)"
    },
    {
      "name": "Template"
    }
  ],
  "paths": {
    "/call/offer/{instance}": {
      "post": {
        "summary": "Offer a call",
        "description": "Offers a voice or video call to a recipient number for a bounded ringing duration.",
        "operationId": "post__call_offer_instance",
        "tags": [
          "Call & Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone number in international format."
                  },
                  "callDuration": {
                    "type": "integer",
                    "description": "How long the call rings, in seconds (1–15)."
                  },
                  "isVideo": {
                    "type": "boolean",
                    "description": "`true` for a video call, `false` for voice."
                  }
                },
                "required": [
                  "number",
                  "callDuration"
                ]
              },
              "example": {
                "number": "5511999999999",
                "callDuration": 10,
                "isVideo": false
              }
            }
          }
        }
      }
    },
    "/business/getCatalog/{instance}": {
      "post": {
        "summary": "Fetch product catalog",
        "description": "Fetches the product catalog for a business WhatsApp number.",
        "operationId": "post__business_getCatalog_instance",
        "tags": [
          "Call & Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Business phone number whose catalog to fetch; defaults to the instance's own number."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of products to return."
                  }
                }
              },
              "example": {
                "number": "5511999999999",
                "limit": 50
              }
            }
          }
        }
      }
    },
    "/business/getCollections/{instance}": {
      "post": {
        "summary": "Fetch collections",
        "description": "Fetches the catalog collections for a business WhatsApp number.",
        "operationId": "post__business_getCollections_instance",
        "tags": [
          "Call & Business"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Business phone number whose collections to fetch; defaults to the instance's own number."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of collections to return."
                  }
                }
              },
              "example": {
                "number": "5511999999999",
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/whatsappNumbers/{instance}": {
      "post": {
        "summary": "Check WhatsApp numbers",
        "description": "Checks whether one or more numbers are registered on WhatsApp.",
        "operationId": "post__chat_whatsappNumbers_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric phone strings (E.164 without symbols) to verify."
                  }
                },
                "required": [
                  "numbers"
                ]
              },
              "example": {
                "numbers": [
                  "5511999999999",
                  "5521988888888"
                ]
              }
            }
          }
        }
      }
    },
    "/chat/markMessageAsRead/{instance}": {
      "post": {
        "summary": "Mark messages as read",
        "description": "Marks one or more messages as read (sends read receipts).",
        "operationId": "post__chat_markMessageAsRead_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "readMessages": {
                    "type": "array",
                    "description": "Array of message key objects to mark as read.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "readMessages[].id": {
                    "type": "string",
                    "description": "Message id."
                  },
                  "readMessages[].fromMe": {
                    "type": "boolean",
                    "description": "Whether the message was sent by this number."
                  },
                  "readMessages[].remoteJid": {
                    "type": "string",
                    "description": "Chat JID the message belongs to."
                  }
                },
                "required": [
                  "readMessages",
                  "readMessages[].id",
                  "readMessages[].fromMe",
                  "readMessages[].remoteJid"
                ]
              },
              "example": {
                "readMessages": [
                  {
                    "id": "BAE5F5A632EAE722",
                    "fromMe": false,
                    "remoteJid": "5511999999999@s.whatsapp.net"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/chat/archiveChat/{instance}": {
      "post": {
        "summary": "Archive or unarchive chat",
        "description": "Archives or unarchives a chat.",
        "operationId": "post__chat_archiveChat_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archive": {
                    "type": "boolean",
                    "description": "`true` to archive, `false` to unarchive."
                  },
                  "chat": {
                    "type": "string",
                    "description": "Chat JID to archive."
                  },
                  "lastMessage": {
                    "type": "object",
                    "description": "Reference to the chat's last message."
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Message key with `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Unix timestamp of the last message."
                  }
                },
                "required": [
                  "archive"
                ]
              },
              "example": {
                "archive": true,
                "chat": "5511999999999@s.whatsapp.net",
                "lastMessage": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  },
                  "messageTimestamp": 1720540800
                }
              }
            }
          }
        }
      }
    },
    "/chat/markChatUnread/{instance}": {
      "post": {
        "summary": "Mark chat as unread",
        "description": "Marks a chat as unread.",
        "operationId": "post__chat_markChatUnread_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastMessage": {
                    "type": "object",
                    "description": "Reference to the chat's last message."
                  },
                  "lastMessage.key": {
                    "type": "object",
                    "description": "Message key with `id`, `remoteJid`, `fromMe`."
                  },
                  "lastMessage.messageTimestamp": {
                    "type": "integer",
                    "description": "Unix timestamp of the last message."
                  },
                  "chat": {
                    "type": "string",
                    "description": "Chat JID to mark unread."
                  }
                },
                "required": [
                  "lastMessage",
                  "lastMessage.key"
                ]
              },
              "example": {
                "lastMessage": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  },
                  "messageTimestamp": 1720540800
                },
                "chat": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/deleteMessageForEveryone/{instance}": {
      "delete": {
        "summary": "Delete message for everyone",
        "description": "Deletes a message for all participants in the chat.",
        "operationId": "delete__chat_deleteMessageForEveryone_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Message id to delete."
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Whether the message was sent by this number."
                  },
                  "remoteJid": {
                    "type": "string",
                    "description": "Chat JID the message belongs to."
                  },
                  "participant": {
                    "type": "string",
                    "description": "Participant JID (for group messages)."
                  }
                },
                "required": [
                  "id",
                  "fromMe",
                  "remoteJid"
                ]
              },
              "example": {
                "id": "BAE5F5A632EAE722",
                "fromMe": true,
                "remoteJid": "1203630000000000000@g.us",
                "participant": "5511999999999@s.whatsapp.net"
              }
            }
          }
        }
      }
    },
    "/chat/getBase64FromMediaMessage/{instance}": {
      "post": {
        "summary": "Get media as base64",
        "description": "Downloads a media message and returns it as a base64 string.",
        "operationId": "post__chat_getBase64FromMediaMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Full message object, or an object carrying only `key` so it can be fetched."
                  },
                  "message.key": {
                    "type": "object",
                    "description": "Message key with `id`, `remoteJid`, `fromMe`."
                  },
                  "convertToMp4": {
                    "type": "boolean",
                    "description": "Convert the media to MP4 when applicable."
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "message": {
                  "key": {
                    "id": "BAE5F5A632EAE722",
                    "remoteJid": "5511999999999@s.whatsapp.net",
                    "fromMe": false
                  }
                },
                "convertToMp4": false
              }
            }
          }
        }
      }
    },
    "/chat/updateMessage/{instance}": {
      "post": {
        "summary": "Edit sent message",
        "description": "Edits the text of a message previously sent by this number.",
        "operationId": "post__chat_updateMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient number / chat the message was sent to."
                  },
                  "text": {
                    "type": "string",
                    "description": "New message text."
                  },
                  "key": {
                    "type": "object",
                    "description": "Key of the message to edit (`id`, `remoteJid`, `fromMe`)."
                  }
                },
                "required": [
                  "number",
                  "text",
                  "key"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Edited message text",
                "key": {
                  "id": "BAE5F5A632EAE722",
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "fromMe": true
                }
              }
            }
          }
        }
      }
    },
    "/chat/sendPresence/{instance}": {
      "post": {
        "summary": "Send presence update",
        "description": "Sends a presence indicator (typing, recording, etc.) to a chat.",
        "operationId": "post__chat_sendPresence_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient number."
                  },
                  "presence": {
                    "type": "string",
                    "description": "One of `unavailable`, `available`, `composing`, `recording`, `paused`."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Duration in milliseconds to keep the presence active."
                  }
                },
                "required": [
                  "number",
                  "presence",
                  "delay"
                ]
              },
              "example": {
                "number": "5511999999999",
                "presence": "composing",
                "delay": 2000
              }
            }
          }
        }
      }
    },
    "/chat/updateBlockStatus/{instance}": {
      "post": {
        "summary": "Block or unblock contact",
        "description": "Blocks or unblocks a contact.",
        "operationId": "post__chat_updateBlockStatus_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Contact number to block/unblock."
                  },
                  "status": {
                    "type": "string",
                    "description": "Either `block` or `unblock`."
                  }
                },
                "required": [
                  "number",
                  "status"
                ]
              },
              "example": {
                "number": "5511999999999",
                "status": "block"
              }
            }
          }
        }
      }
    },
    "/chat/findChatByRemoteJid/{instance}": {
      "get": {
        "summary": "Find chat by JID",
        "description": "Returns the chat matching the given remote JID. Pass `remoteJid` as a required query parameter (e.g. `?remoteJid=5511999999999@s.whatsapp.net`); there is no request body.",
        "operationId": "get__chat_findChatByRemoteJid_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/chat/findContacts/{instance}": {
      "post": {
        "summary": "Find contacts",
        "description": "Searches stored contacts, optionally filtered by a `where` clause. Send an empty body to return all contacts.",
        "operationId": "post__chat_findContacts_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filter with any of `_id`, `id`, `pushName`, `remoteJid`."
                  }
                }
              },
              "example": {
                "where": {
                  "id": "5511999999999@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/chat/findMessages/{instance}": {
      "post": {
        "summary": "Find messages",
        "description": "Searches stored messages, optionally filtered by a `where` clause and limited by `limit`.",
        "operationId": "post__chat_findMessages_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filter with `_id`, `key` (`id`, `remoteJid`, `fromMe`), or `message`."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of messages to return."
                  }
                }
              },
              "example": {
                "where": {
                  "key": {
                    "remoteJid": "5511999999999@s.whatsapp.net"
                  }
                },
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/findStatusMessage/{instance}": {
      "post": {
        "summary": "Find message statuses",
        "description": "Searches message delivery/read status updates, optionally filtered by a `where` clause and limited by `limit`.",
        "operationId": "post__chat_findStatusMessage_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filter with `_id`, `remoteJid`, `id`, `fromMe`, `participant`, or `status`."
                  },
                  "where.status": {
                    "type": "string",
                    "description": "One of `ERROR`, `PENDING`, `SERVER_ACK`, `DELIVERY_ACK`, `READ`, `PLAYED`."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of records to return."
                  }
                }
              },
              "example": {
                "where": {
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "status": "READ"
                },
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/chat/findChats/{instance}": {
      "post": {
        "summary": "Find chats",
        "description": "Returns stored chats, optionally filtered by a `where` clause. Send an empty body to return all chats.",
        "operationId": "post__chat_findChats_instance",
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "type": "object",
                    "description": "Filter with any of `_id`, `id`, `pushName`, `remoteJid`."
                  }
                }
              },
              "example": {
                "where": {
                  "remoteJid": "5511999999999@s.whatsapp.net"
                }
              }
            }
          }
        }
      }
    },
    "/group/create/{instance}": {
      "post": {
        "summary": "Create group",
        "description": "Creates a new WhatsApp group with a subject and an initial list of participants.",
        "operationId": "post__group_create_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Group name/subject."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers (digits only) to add as members."
                  },
                  "description": {
                    "type": "string",
                    "description": "Group description."
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "URL of the group profile picture."
                  },
                  "promoteParticipants": {
                    "type": "boolean",
                    "description": "Promote the added participants to admins."
                  }
                },
                "required": [
                  "subject",
                  "participants"
                ]
              },
              "example": {
                "subject": "Equipe de Vendas",
                "participants": [
                  "5511999999999",
                  "5511888888888"
                ],
                "description": "Grupo interno da equipe",
                "profilePicture": "https://example.com/group.png",
                "promoteParticipants": false
              }
            }
          }
        }
      }
    },
    "/group/updateGroupSubject/{instance}": {
      "post": {
        "summary": "Update subject",
        "description": "Changes the name/subject of an existing group.",
        "operationId": "post__group_updateGroupSubject_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "subject": {
                    "type": "string",
                    "description": "New group subject."
                  }
                },
                "required": [
                  "groupJid",
                  "subject"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "subject": "Novo nome do grupo"
              }
            }
          }
        }
      }
    },
    "/group/updateGroupPicture/{instance}": {
      "post": {
        "summary": "Update picture",
        "description": "Sets the group profile picture from an image URL.",
        "operationId": "post__group_updateGroupPicture_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "image": {
                    "type": "string",
                    "description": "URL of the new group picture."
                  }
                },
                "required": [
                  "groupJid",
                  "image"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "image": "https://example.com/group.png"
              }
            }
          }
        }
      }
    },
    "/group/updateGroupDescription/{instance}": {
      "post": {
        "summary": "Update description",
        "description": "Updates the group's description text.",
        "operationId": "post__group_updateGroupDescription_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "description": {
                    "type": "string",
                    "description": "New group description."
                  }
                },
                "required": [
                  "groupJid",
                  "description"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "description": "Descrição atualizada do grupo"
              }
            }
          }
        }
      }
    },
    "/group/findGroupInfos/{instance}": {
      "get": {
        "summary": "Get group info",
        "description": "Returns metadata for a single group. Pass the group JID as the `groupJid` query parameter (e.g. `?groupJid=120363000000000000@g.us`).",
        "operationId": "get__group_findGroupInfos_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/fetchAllGroups/{instance}": {
      "get": {
        "summary": "List all groups",
        "description": "Returns every group the number belongs to. The required `getParticipants` query parameter (`\"true\"` or `\"false\"`) controls whether each group's participant list is included.",
        "operationId": "get__group_fetchAllGroups_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/participants/{instance}": {
      "get": {
        "summary": "List participants",
        "description": "Returns the participant list of a group. Pass the group JID as the `groupJid` query parameter.",
        "operationId": "get__group_participants_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/inviteCode/{instance}": {
      "get": {
        "summary": "Get invite code",
        "description": "Returns the current invite code/link for a group. Pass the group JID as the `groupJid` query parameter.",
        "operationId": "get__group_inviteCode_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/inviteInfo/{instance}": {
      "get": {
        "summary": "Get invite info",
        "description": "Returns the group information behind an invite code. Pass the code as the `inviteCode` query parameter (e.g. `?inviteCode=F1EX5QZxO181L3TMVP31gY`).",
        "operationId": "get__group_inviteInfo_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/acceptInviteCode/{instance}": {
      "get": {
        "summary": "Accept invite",
        "description": "Joins a group using an invite code. Pass the code as the `inviteCode` query parameter.",
        "operationId": "get__group_acceptInviteCode_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/group/sendInvite/{instance}": {
      "post": {
        "summary": "Send invite",
        "description": "Sends the group invite link to one or more phone numbers.",
        "operationId": "post__group_sendInvite_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID."
                  },
                  "description": {
                    "type": "string",
                    "description": "Message text sent alongside the invite."
                  },
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers (digits only) to send the invite to."
                  }
                },
                "required": [
                  "groupJid",
                  "description",
                  "numbers"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "description": "Entre no nosso grupo!",
                "numbers": [
                  "5511999999999",
                  "5511888888888"
                ]
              }
            }
          }
        }
      }
    },
    "/group/revokeInviteCode/{instance}": {
      "post": {
        "summary": "Revoke invite",
        "description": "Revokes the current invite link and generates a new one.",
        "operationId": "post__group_revokeInviteCode_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  }
                },
                "required": [
                  "groupJid"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us"
              }
            }
          }
        }
      }
    },
    "/group/updateParticipant/{instance}": {
      "post": {
        "summary": "Update participants",
        "description": "Adds, removes, promotes, or demotes group participants.",
        "operationId": "post__group_updateParticipant_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "action": {
                    "type": "string",
                    "description": "One of `add`, `remove`, `promote`, `demote`."
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers (digits only) to apply the action to."
                  }
                },
                "required": [
                  "groupJid",
                  "action",
                  "participants"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "action": "add",
                "participants": [
                  "5511999999999"
                ]
              }
            }
          }
        }
      }
    },
    "/group/updateSetting/{instance}": {
      "post": {
        "summary": "Update setting",
        "description": "Updates a group's messaging and editing permissions.",
        "operationId": "post__group_updateSetting_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "action": {
                    "type": "string",
                    "description": "One of `announcement`, `not_announcement`, `locked`, `unlocked`."
                  }
                },
                "required": [
                  "groupJid",
                  "action"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "action": "announcement"
              }
            }
          }
        }
      }
    },
    "/group/updateMemberAddMode/{instance}": {
      "post": {
        "summary": "Update member add mode",
        "description": "Controls who is allowed to add new members to the group.",
        "operationId": "post__group_updateMemberAddMode_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "mode": {
                    "type": "string",
                    "description": "One of `admin_add`, `all_member_add`."
                  }
                },
                "required": [
                  "groupJid",
                  "mode"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "mode": "admin_add"
              }
            }
          }
        }
      }
    },
    "/group/toggleEphemeral/{instance}": {
      "post": {
        "summary": "Toggle disappearing messages",
        "description": "Enables or disables disappearing messages for the group.",
        "operationId": "post__group_toggleEphemeral_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group JID (may also be sent as a `groupJid` query parameter)."
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Seconds until messages disappear: `0` (off), `86400` (24h), `604800` (7d), or `7776000` (90d)."
                  }
                },
                "required": [
                  "groupJid",
                  "expiration"
                ]
              },
              "example": {
                "groupJid": "120363000000000000@g.us",
                "expiration": 604800
              }
            }
          }
        }
      }
    },
    "/group/leaveGroup/{instance}": {
      "delete": {
        "summary": "Leave group",
        "description": "Removes the connected number from the group. Pass the group JID as the `groupJid` query parameter.",
        "operationId": "delete__group_leaveGroup_instance",
        "tags": [
          "Group"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/label/findLabels/{instance}": {
      "get": {
        "summary": "List labels",
        "description": "Returns all labels defined on the number identified by the `{instance}` path parameter (the number's display name).",
        "operationId": "get__label_findLabels_instance",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ]
      }
    },
    "/label/handleLabel/{instance}": {
      "post": {
        "summary": "Add or remove label",
        "description": "Adds or removes a label on a chat for the number identified by the `{instance}` path parameter.",
        "operationId": "post__label_handleLabel_instance",
        "tags": [
          "Label"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone number in international format (non-empty)."
                  },
                  "labelId": {
                    "type": "string",
                    "description": "Identifier of the label to apply or remove (non-empty)."
                  },
                  "action": {
                    "type": "string",
                    "description": "Operation to perform; either `add` or `remove`."
                  }
                },
                "required": [
                  "number",
                  "labelId",
                  "action"
                ]
              },
              "example": {
                "number": "5511999999999",
                "labelId": "1",
                "action": "add"
              }
            }
          }
        }
      }
    },
    "/message/sendTemplate/{instance}": {
      "post": {
        "summary": "Send template",
        "description": "Sends an approved WhatsApp template message to a recipient.",
        "operationId": "post__message_sendTemplate_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Approved template name."
                  },
                  "language": {
                    "type": "string",
                    "description": "Template language/locale code (e.g. `pt_BR`)."
                  },
                  "components": {
                    "type": "array",
                    "description": "Template components (header/body/button parameters).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "Optional per-message webhook URL for status callbacks."
                  }
                },
                "required": [
                  "name",
                  "language"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "order_confirmation",
                "language": "pt_BR",
                "components": [
                  {
                    "type": "body",
                    "parameters": [
                      {
                        "type": "text",
                        "text": "Ismael"
                      }
                    ]
                  }
                ],
                "webhookUrl": "https://example.com/webhooks/template"
              }
            }
          }
        }
      }
    },
    "/message/sendText/{instance}": {
      "post": {
        "summary": "Send text",
        "description": "Sends a plain text message, optionally with a link preview and mentions.",
        "operationId": "post__message_sendText_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "text": {
                    "type": "string",
                    "description": "Message body text."
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "description": "Whether to render a preview for URLs in the text."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "example": {
                "number": "5511999999999",
                "text": "Hello from Pilot Status!",
                "linkPreview": true,
                "delay": 1200,
                "mentioned": [
                  "5511988888888"
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendMedia/{instance}": {
      "post": {
        "summary": "Send media",
        "description": "Sends an image, video, document, or audio file by public URL (base64 and multipart file upload are also supported).",
        "operationId": "post__message_sendMedia_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "mediatype": {
                    "type": "string",
                    "description": "One of `image`, `document`, `video`, `audio`."
                  },
                  "media": {
                    "type": "string",
                    "description": "Public URL (or base64) of the media file."
                  },
                  "mimetype": {
                    "type": "string",
                    "description": "MIME type of the media (e.g. `image/png`)."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "File name, used for documents."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption text shown with the media."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "mediatype",
                  "media"
                ]
              },
              "example": {
                "number": "5511999999999",
                "mediatype": "image",
                "media": "https://media.pilotstatus.com.br/example.png",
                "mimetype": "image/png",
                "fileName": "example.png",
                "caption": "Check this out"
              }
            }
          }
        }
      }
    },
    "/message/sendPtv/{instance}": {
      "post": {
        "summary": "Send video note",
        "description": "Sends a PTV (round video note) by public URL (base64 and multipart file upload are also supported).",
        "operationId": "post__message_sendPtv_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "video": {
                    "type": "string",
                    "description": "Public URL (or base64) of the video file."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "video"
                ]
              },
              "example": {
                "number": "5511999999999",
                "video": "https://media.pilotstatus.com.br/note.mp4",
                "delay": 800
              }
            }
          }
        }
      }
    },
    "/message/sendWhatsAppAudio/{instance}": {
      "post": {
        "summary": "Send voice audio",
        "description": "Sends a WhatsApp voice/PTT audio by public URL (base64 and multipart file upload are also supported).",
        "operationId": "post__message_sendWhatsAppAudio_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "audio": {
                    "type": "string",
                    "description": "Public URL (or base64) of the audio file."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "audio"
                ]
              },
              "example": {
                "number": "5511999999999",
                "audio": "https://media.pilotstatus.com.br/voice.ogg"
              }
            }
          }
        }
      }
    },
    "/message/sendStatus/{instance}": {
      "post": {
        "summary": "Send status",
        "description": "Publishes a status (story) as text or media by public URL (media file upload is also supported).",
        "operationId": "post__message_sendStatus_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "One of `text`, `image`, `audio`, `video`."
                  },
                  "content": {
                    "type": "string",
                    "description": "Status text, or the public URL of the media."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Caption for media statuses."
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color for text statuses (e.g. `#25D366`)."
                  },
                  "font": {
                    "type": "integer",
                    "description": "Font index for text statuses (0–5)."
                  },
                  "statusJidList": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Recipient JIDs (numeric strings) allowed to see the status."
                  },
                  "allContacts": {
                    "type": "boolean",
                    "description": "Publish to all contacts instead of a JID list."
                  }
                },
                "required": [
                  "type",
                  "content"
                ]
              },
              "example": {
                "type": "text",
                "content": "We are online!",
                "backgroundColor": "#25D366",
                "font": 2,
                "allContacts": true
              }
            }
          }
        }
      }
    },
    "/message/sendSticker/{instance}": {
      "post": {
        "summary": "Send sticker",
        "description": "Sends a sticker by public URL (base64 and multipart file upload are also supported).",
        "operationId": "post__message_sendSticker_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "sticker": {
                    "type": "string",
                    "description": "Public URL (or base64) of the sticker image."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "sticker"
                ]
              },
              "example": {
                "number": "5511999999999",
                "sticker": "https://media.pilotstatus.com.br/sticker.webp"
              }
            }
          }
        }
      }
    },
    "/message/sendLocation/{instance}": {
      "post": {
        "summary": "Send location",
        "description": "Sends a geographic location pin with a name and address.",
        "operationId": "post__message_sendLocation_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the location."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the location."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the place."
                  },
                  "address": {
                    "type": "string",
                    "description": "Address of the place."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "latitude",
                  "longitude",
                  "name",
                  "address"
                ]
              },
              "example": {
                "number": "5511999999999",
                "latitude": -23.55052,
                "longitude": -46.633308,
                "name": "Pilot Status HQ",
                "address": "Av. Paulista, 1000, São Paulo"
              }
            }
          }
        }
      }
    },
    "/message/sendContact/{instance}": {
      "post": {
        "summary": "Send contact",
        "description": "Sends one or more contact cards (vCards).",
        "operationId": "post__message_sendContact_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "contact": {
                    "type": "array",
                    "description": "Array of contact objects (see fields below).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "contact[].fullName": {
                    "type": "string",
                    "description": "Contact's full name."
                  },
                  "contact[].phoneNumber": {
                    "type": "string",
                    "description": "Contact's phone number."
                  },
                  "contact[].wuid": {
                    "type": "string",
                    "description": "WhatsApp user id (numeric string)."
                  },
                  "contact[].organization": {
                    "type": "string",
                    "description": "Contact's organization."
                  },
                  "contact[].email": {
                    "type": "string",
                    "description": "Contact's email address."
                  },
                  "contact[].url": {
                    "type": "string",
                    "description": "Contact's website URL."
                  }
                },
                "required": [
                  "number",
                  "contact",
                  "contact[].fullName",
                  "contact[].phoneNumber"
                ]
              },
              "example": {
                "number": "5511999999999",
                "contact": [
                  {
                    "fullName": "Ismael Nascimento",
                    "wuid": "5511988888888",
                    "phoneNumber": "5511988888888",
                    "organization": "Pilot Status",
                    "email": "contato@pilotstatus.com.br",
                    "url": "https://pilotstatus.com.br"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendReaction/{instance}": {
      "post": {
        "summary": "Send reaction",
        "description": "Reacts to an existing message with an emoji.",
        "operationId": "post__message_sendReaction_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "object",
                    "description": "Target message key (`id`, `remoteJid`, `fromMe` — all required)."
                  },
                  "reaction": {
                    "type": "string",
                    "description": "Emoji to react with."
                  }
                },
                "required": [
                  "key",
                  "reaction"
                ]
              },
              "example": {
                "key": {
                  "id": "BAE5F6A1B2C3D4E5",
                  "remoteJid": "5511999999999@s.whatsapp.net",
                  "fromMe": false
                },
                "reaction": "👍"
              }
            }
          }
        }
      }
    },
    "/message/sendPoll/{instance}": {
      "post": {
        "summary": "Send poll",
        "description": "Sends a poll with selectable options.",
        "operationId": "post__message_sendPoll_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Poll question/title."
                  },
                  "selectableCount": {
                    "type": "integer",
                    "description": "How many options can be selected (0–10)."
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Poll options (2–10 unique strings)."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "name",
                  "selectableCount",
                  "values"
                ]
              },
              "example": {
                "number": "5511999999999",
                "name": "Which plan do you prefer?",
                "selectableCount": 1,
                "values": [
                  "Starter",
                  "Pro",
                  "Enterprise"
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendList/{instance}": {
      "post": {
        "summary": "Send list",
        "description": "Sends an interactive list message with sections and selectable rows.",
        "operationId": "post__message_sendList_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "title": {
                    "type": "string",
                    "description": "List title."
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Footer text shown below the list."
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Label of the button that opens the list."
                  },
                  "sections": {
                    "type": "array",
                    "description": "Array of section objects (see fields below).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "sections[].title": {
                    "type": "string",
                    "description": "Section title."
                  },
                  "sections[].rows": {
                    "type": "array",
                    "description": "Rows, each with `title`, `rowId` (required) and optional `description`.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "description": {
                    "type": "string",
                    "description": "List description/body text."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "title",
                  "footerText",
                  "buttonText",
                  "sections",
                  "sections[].title",
                  "sections[].rows"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "Our menu",
                "description": "Pick an item",
                "footerText": "Pilot Status",
                "buttonText": "View options",
                "sections": [
                  {
                    "title": "Drinks",
                    "rows": [
                      {
                        "title": "Coffee",
                        "description": "Fresh brewed",
                        "rowId": "drink_coffee"
                      },
                      {
                        "title": "Tea",
                        "description": "Green tea",
                        "rowId": "drink_tea"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendButtons/{instance}": {
      "post": {
        "summary": "Send buttons",
        "description": "Sends an interactive buttons message. Each button `type` is one of `reply`, `copy`, `url`, `call`, `pix`.",
        "operationId": "post__message_sendButtons_instance",
        "tags": [
          "Message"
        ],
        "responses": {
          "200": {
            "description": "Success — provider-native response body."
          },
          "default": {
            "description": "Provider response."
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The number's display name in the Pilot Status dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient phone in E.164 without `+`, or a JID."
                  },
                  "buttons": {
                    "type": "array",
                    "description": "Array of button objects (see fields below).",
                    "items": {
                      "type": "object"
                    }
                  },
                  "buttons[].type": {
                    "type": "string",
                    "description": "Button type: `reply`, `copy`, `url`, `call`, or `pix`."
                  },
                  "buttons[].displayText": {
                    "type": "string",
                    "description": "Text shown on the button."
                  },
                  "buttons[].id": {
                    "type": "string",
                    "description": "Button id (for `reply`)."
                  },
                  "buttons[].url": {
                    "type": "string",
                    "description": "URL to open (for `url`)."
                  },
                  "buttons[].phoneNumber": {
                    "type": "string",
                    "description": "Phone number to call (for `call`)."
                  },
                  "buttons[].currency": {
                    "type": "string",
                    "description": "Currency (for `pix`)."
                  },
                  "buttons[].name": {
                    "type": "string",
                    "description": "Merchant/key name (for `pix`)."
                  },
                  "buttons[].keyType": {
                    "type": "string",
                    "description": "Pix key type: `phone`, `email`, `cpf`, `cnpj`, `random`."
                  },
                  "buttons[].key": {
                    "type": "string",
                    "description": "Pix key value (for `pix`)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Message title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Message body text."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer text."
                  },
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "URL of a thumbnail image."
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Delay before sending, in milliseconds."
                  },
                  "quoted": {
                    "type": "object",
                    "description": "Message to quote/reply to (`key`, `message`)."
                  },
                  "everyOne": {
                    "type": "boolean",
                    "description": "Mention everyone in the group."
                  },
                  "mentioned": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of numeric strings to mention."
                  }
                },
                "required": [
                  "number",
                  "buttons[].type"
                ]
              },
              "example": {
                "number": "5511999999999",
                "title": "How can we help?",
                "description": "Choose an option below",
                "footer": "Pilot Status",
                "buttons": [
                  {
                    "type": "reply",
                    "displayText": "Talk to sales",
                    "id": "sales"
                  },
                  {
                    "type": "url",
                    "displayText": "Visit site",
                    "url": "https://pilotstatus.com.br"
                  },
                  {
                    "type": "call",
                    "displayText": "Call us",
                    "phoneNumber": "5511967435133"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/message/sendCarousel/{instance}": {
      "post": {
        "summary": "Send carousel",
        "description": "Sends a carousel of cards, each with text, an optional thumbnail, and its own buttons.",
[...]
